<input type="hidden" name="origPath##LOOP##" 
  Value="##PATH##">
<input type="hidden" name="origRecurse##LOOP##" 
  Value="##RECURSESCORE##">
<tr><td><input type="text" size=75 name="Path##LOOP##" 
  Value="##PATH##"></b></td>
    <td align=center><select name="Recurse##LOOP##">
  ##RECURSE##</select></td>
    <td align=center>##DATELASTCAPTURE##</td>
    <td> <a href="/servlet/Main?template=Taxonomy.ShowWhereClassified&Folder=##PATH##">
         <img border=0 src="/images/explore.gif"></a></td>
</tr>

