
/* this makes it possible to add next button beside scrollable */
.scrollable {
    float:left;
}
body{
	background-color:black;
}
/* prev, next, prevPage and nextPage buttons */
a.browse {
    display:block;
    width:30px;
    height:30px;
    float:left;
    cursor:pointer;
    font-size:1px;
}

a.static{
	    display:block;
    width:93px;
    height:30px;
    float:left;
    margin:23px 10px;
    cursor:pointer;
    font-size:1px;
}

/* right */
a.right { 
background:url(/linkapedia/site_resources_2012/images/next.gif);
}



/* left */
a.left { margin-left: 0px; 
		background:url(/linkapedia/site_resources_2012/images/prev.gif);}


/* up and down */
a.up, a.down  {
    background:url(/media/img/scrollable/arrow/vert_large.png) no-repeat;
    float: none;
    margin: 10px 50px;
}

/* up */
a.up:hover { background-position:-30px 0; }
a.up:active { background-position:-60px 0; }

/* down */
a.down { background-position: 0 -30px; }
a.down:hover { background-position:-30px -30px; }
a.down:active { background-position:-60px -30px; }


/* disabled navigational button */
a.disabled {
    visibility:hidden !important;
}