      <tr valign=top><td colspan=2><font face=arial size=2>&#149;&nbsp;
      <a href="/servlet/Main?template=Idrac.DisplayResults&NodeID=##NODEID##">
	##PARENT## &gt; <b>##NODETITLE##</b></a></font>
      </td></tr>


