<table width=100% cellpadding=0 cellspacing=0 border=0 bgcolor=329806>
<tr><td nowrap><FONT face="Arial, Helvetica, sans-serif" color=white>&nbsp;<b>Category Matches</b></font>
</td><td align=right nowrap>
<FONT face="Arial, Helvetica, sans-serif" color=white>1 - ##NUMRES## of ##MAXRES##
&nbsp;|&nbsp;
<a href="/servlet/Main?template=Taxonomy.Search&corpusid=##CORPUSID##&type=node&cquery=##CQL##&advanced=true" class="genrewb"><b>More Results</b></a>&nbsp;</font></td></tr>
</table>
<BR>
<table border=0 cellspacing=0 cellpadding=0 width=100%>
