      <!-- p align="center"><img src="/servlet/images/idrac/blue.gif" width="660" height="1"></p -->
<P>
<table width=100% cellpadding=2 cellspacing=0 border=0 bgcolor=329806>
<tr><td nowrap><FONT face="Arial, Helvetica, sans-serif" color=white>&nbsp;<b>Full Text Matches From Entire Collection</b></font>
</td><td align=right nowrap>
<FONT face="Arial, Helvetica, sans-serif" color=white>1 - ##NUMRES## of ##MAXRES##
&nbsp;|&nbsp;
<a href="/servlet/Main?template=Taxonomy.Search&corpusid=##CORPUSID##&cquery=##CQL##&advanced=true" class="genrewb"><b>More Results</b></a>&nbsp;</font></td></tr>
</table>
<BR>
<table width="660" border="0" cellspacing="0" cellpadding="0">
