<!-- manage-list-head.tpl -->
<table width=650>
<tr><td><b><u>Repository Name</u></b></td>
      <td align=center><b>Type</b></td>
      <td align=center><b>Location</b></td>
      <td align=center><b>Edit</b></td>
      <td align=center><b>Delete</b></td>
</tr>
