<tr><td colspan="4"><hr></td></tr>
<tr>
	<td class="textresult" width="10"><img src="/servlet/images/spacer.jpg" width="10" height="8"></td>
	<td class="textresult" width="150"><img src="/servlet/images/spacer.jpg" width="10" height="8"></td>
	<td class="textresult" width="79%"><img src="/servlet/images/spacer.jpg" width="10" height="8"></td>
	<td class="textresult" width="10"><img src="/servlet/images/spacer.jpg" width="10" height="8"></td>
</tr>
<tr height="17">
	<td class="textresult" width="10"><img src="/servlet/images/spacer.jpg" width="10" height="8"></td>
	<td class="textresult">
					 &nbsp;&nbsp;title
	</td>
	<td class="textresult">
	     <a href="##DOCURL##" target="_blank" class="textresult">
	     ##DOCTITLE##
	     </a>
      </td>
      <td class="textresult">&nbsp;</td>
</tr>
<tr height="5" class="textresult">
	<td colspan="4"><img src="/servlet/images/spacer.jpg" width="100" height="5"></td>
</tr>

<tr height="17">
 	<td class="textresult"><img src="/servlet/images/spacer.jpg" width="10" height="8"></td>
     	<td class="textresult" valign="top">
			 &nbsp;&nbsp;URL
	</td>
     	<td class="textresult" valign="top">
	      <a href="##DOCURL##" target="_blank">
		##DOCURL##</a>
      </td>
      <td class="textresult"><img src="/servlet/images/spacer.jpg" width="10" height="8"></td>
</tr>

<tr height="5" class="textresult">
	<td colspan="4"><img src="/servlet/images/spacer.jpg" width="100" height="5"></td>
</tr>

<tr height="17">
	<td class="textresult"><img src="/servlet/images/spacer.jpg" width="10" height="8"></td>
      <td class="textresult" valign="top">
			 &nbsp;&nbsp;body
	</td>
      <td class="textresult" valign="top">
	##DOCSUMMARY##
      </td>
      <td class="textresult"><img src="/servlet/images/spacer.jpg" width="10" height="8"></td>
</tr>

<tr height="5" class="textresult">
		 <td colspan="4"><img src="/servlet/images/spacer.jpg" width="100" height="5"></td>
</tr>

<tr height="17">
     <td class="textresult"><img src="/servlet/images/spacer.jpg" width="10" height="8"></td>
     <td class="textresult" valign="top">
			 &nbsp;&nbsp;score
	   </td>
     <td class="textresult" valign="top">
	##SCORE1##
     </td>
     <td class="textresult"><img src="/servlet/images/spacer.jpg" width="10" height="8"></td>
</tr>
