<HTML><HEAD>
<TITLE>##TITLE##</TITLE>
<STYLE type="text/css">
<!--
A  {
	color : #000000;
}
.genrewb { FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: WHITE; FONT-FAMILY: Helvetica,Arial }
.advanced { FONT-WEIGHT: bolder; FONT-SIZE: 10pt; COLOR: BLACK; FONT-FAMILY: Helvetica,Arial }
.results { FONT-SIZE: 9pt; COLOR: BLACK; FONT-FAMILY: Helvetica,Arial }
-->
</STYLE>
</HEAD>
<BODY background="/servlet/images/schering/auto_bg.gif">
<table width=600 border=0>
<tr><td><img border=0 src="/servlet/images/schering/header.jpg"></td></tr>
<tr><td><hr></td></tr>
</table>

<BR><FONT face="Helvetica,Arial" size=-2>
&nbsp;&nbsp;
Taxonomy Server: ROC
</FONT>
<DIV align=left>
<TABLE border=0 width=750 cellspacing=0 cellpadding=0>
<TR bgColor=#329806 borderColor=#996600>
<TD align=left height=23><FONT face="Helvetica,Arial" color=white size=-1>
<B>&nbsp;&nbsp; Available Taxonomies</B></font> </td>
<td align=right valign=middle><font size=-2 face="Helvetica,Arial">
<A class="genrewb" HREF="/servlet/Main?template=Taxonomy.ProjFront"><b><font size=-2 face="Helvetica,Arial">Home</font></b></a> |
<b><font size=-2 face="Helvetica,Arial" color="white">Analyze</font></b></a> |
<b><font size=-2 face="Helvetica,Arial" color="white">Generate ROC</font></b></a> |
<b><font size=-2 face="Helvetica,Arial" color="white">Apply ROC</font></b></a> |
<A class="genrewb" HREF="/servlet/Main?template=Taxonomy.Administer"><b><font size=-2 face="Helvetica,Arial">Administer</font></b></a> |
<A class="genrewb" HREF="/servlet/Main?template=Server.Logout"><b><font size=-2 face="Helvetica,Arial">Logout</font></b></a> |
<A class="genrewb" HREF="/servlet/Main?template=Taxonomy.Help"><b><font size=-2 face="Helvetica,Arial">Help</font></b></a>
&nbsp; &nbsp;
</B></FONT></TD></TR></TBODY></TABLE>

