<HTML><HEAD>
<TITLE>##TITLE##</TITLE>
<STYLE type="text/css">
<!--
.genrewb { FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: WHITE; FONT-FAMILY: Helvetica,Arial }
.advanced { FONT-WEIGHT: bolder; FONT-SIZE: 10pt; COLOR: BLACK; FONT-FAMILY: Helvetica,Arial }
.results { FONT-SIZE: 9pt; COLOR: BLACK; FONT-FAMILY: Helvetica,Arial }
-->
</STYLE>
</HEAD>
<BODY background="/servlet/images/schering/auto_bg.gif">
<table width=600 border=0>
<tr><td><img border=0 src="/servlet/images/schering/header.jpg"></td></tr>
<tr><td><hr></td></tr>
</table>

<BR><FONT face="Helvetica,Arial" size=-2>
&nbsp;&nbsp;
Taxonomy Server: Login
</FONT>
<DIV align=left>
<TABLE border=0 width=750 cellspacing=0 cellpadding=0>
<TR bgColor=#329806 borderColor=#996600>
<TD align=left height=23><FONT face="Helvetica,Arial" color=white size=-1>
<B>&nbsp;&nbsp; ProcinQ Server Login</B></font> </td>
<td align=right><font size=-2 face="Helvetica,Arial">
&nbsp; &nbsp;
</B></FONT></TD></TR></TBODY></TABLE>

