<HTML><HEAD>
<TITLE>##TITLE##</TITLE>
<STYLE type="text/css">
<!--
A  {
	color : #000000;
}
.genrewb { FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: WHITE; FONT-FAMILY: Helvetica,Arial }
.advanced { FONT-WEIGHT: bolder; FONT-SIZE: 10pt; COLOR: BLACK; FONT-FAMILY: Helvetica,Arial }
.results { FONT-SIZE: 9pt; COLOR: BLACK; FONT-FAMILY: Helvetica,Arial }
-->
</STYLE>
</HEAD>
<BODY background="/servlet/images/schering/auto_bg.gif">
<table width=600 border=0>
<tr><td><img border=0 src="/servlet/images/schering/header.jpg"></td></tr>
<tr><td><hr></td></tr>
</table>
