<tr><td valign=top colspan=2>
&nbsp; &nbsp; &nbsp <b>Topic</b>: ##NODETITLE## &nbsp;
<a href="javascript:EditResult##NODEID##_##DOCUMENTID##();">
<img src="/servlet/images/edit.gif" alt="Edit Result" border=0></a>

<SCRIPT>
function EditResult##NODEID##_##DOCUMENTID## () {
  var ww = 450, wh = 310;
  var wPos = 0;
  var lPos = 0;
  var url = "/servlet/Main?template=Taxonomy.EditResult&Reload=0&NodeID=##NODEID##&DocumentID=##DOCUMENTID##&DocURL=##EDOCURL##&DocTitle=##DOCTITLE##&GenreID=##GENREID##&Score1=##SCORE##&DocSummary=##EDOCSUMMARY##";

  if(screen) {
  wPos = (screen.width - ww)/2;
  lPos = (screen.height - wh)/2;
  }
  if (!window.SEwin) {
  // Not defined
  SEwin = window.open(url, "win", 'toolbar=0,directories=0,status=0,scrollbars=0,resizable=0,width='+ww+',height='+wh+',left='+wPos+',top='+lPos+',location=0');
  } else {
  // defined
  if (SEwin.closed) {
  // closed, open a new one
  SEwin = window.open(url, "win", 'toolbar=0,directories=0,status=0,scrollbars=0,resizable=0,width='+ww+',height='+wh+',left='+wPos+',top='+lPos+',location=0');
  }}
  SEwin.focus();
}
</SCRIPT>


</td></tr>
