<TABLE width=670 cellspacing=0>
<TR><TD>
<a href="/servlet/Main?restrict=&exclude=&template=Taxonomy.Search&CorpusID=##CORPUS##&verityonly=1&Keywords=##QUERY##&verity=100">
More full text results..</a><br>
</TD></TR>
</TABLE>