<FORM name="##PARAMNAME##" action="/servlet/Main">
<tr><td> <font face="Arial">##PARAMNAME##:</font> </td> <td>
<INPUT TYPE="hidden" Name="template" value="Server.SystemParam">
<input type="text" name="##PARAMNAME##" size=50 maxlength=255 maxsize=255
 value="##PARAMVALUE##">
&nbsp; <INPUT TYPE="image" src="/servlet/images/save.gif" alt="Save Changes" name="SUBMIT"></td>
</tr></FORM>
