/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

#content {
	 float: left;
	 width: 730px;
	 margin-right: 24px;
	 margin-bottom: 24px;
	 padding: 24px;
	 background: #FFF;
	 -moz-border-radius: 10px;
	 -webkit-border-radius: 10px;
	 border-radius: 10px;
	 color: rgb(0,0,0);
	 margin-top: 0px;
}
#lateral {
	 float: left;
	 width: 228px;
}

nav{
	margin-top: 10px;
	float:left;
}

#logo{
	float: left;
	width:198px;
}


.menuButtonThreeLine{
	background: #A31919;
	font-weight: normal;
}

.menuButtonNotPath{
	font-weight: normal;
	background: #560000;
}

.menuButtonPath{
	border-style:solid;
	border-color: #fff;
	border-width:2px;
	font-weight: bold;
	background: #A31919;
}

.cInterest{
    border-color: #fff;
    border-width:1px;
    width: 214px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 6px;
    padding: 4px;
    background: #fff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
	
}
.titlecInterest{
	max-width: 147px;
	float:left;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	color: #333;	
	white-space:nowrap;
    	text-overflow:ellipsis;
    	overflow:hidden;

	
}

.cInterestAuthor{
	margin-top: -9px;
}

.cInterestFollowers{
	margin-top: -18px;
}

.cInterestInfo{
	max-width: 147px;
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #333;	
	float: left;
	white-space:nowrap;
    	text-overflow:ellipsis;
    	overflow:hidden;
}


.contentcInterest{
	width: 151px;
	height: 48px;
	float: left;
	margin-left: 12px;
	white-space:nowrap;
    	text-overflow:ellipsis;
    	overflow:hidden;
}
.imgcInterest{
	float: left;
	width: 43px;
	height: 45px;
	margin-left: 8px;
	margin-top: 3px;
}

.level3{
	height: 40px;
}

.descriptionNode{

	position:absolute; /* absolute position (so we can position it where we want)*/
	width: 204px;
	left: 5px;
	/* styling bellow */
	background-color:black;
	padding: 8px;
	opacity: 0.6;
	top: 19px;
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: white;
	white-space:normal;
    	text-overflow:ellipsis;
    	overflow:hidden;
	max-height:145px;
	height: 39px;
}
.descriptionNode:hover{
	height: 145px;
}

.fixedMenu{
	margin-top: 3px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.fixedMenu1{
	margin-top: 2px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.descriptionLinkNode{

	position:absolute; /* absolute position (so we can position it where we want)*/
	width: 324px;
	left: 5px;
	/* styling bellow */
	background-color:black;
	padding: 8px;
	opacity: 0.6;
	top: 20px;
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: white;
	white-space:normal;
    	text-overflow:ellipsis;
    	overflow:hidden;
	max-height:190px;
	height: 39px;
}
.descriptionLinkNode:hover{
	height: 185px;
}


#searchtxt{
	margin-left: 13px;
}

.menuButton{
    width: 120px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: center;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    text-decoration: none;
    cursor: pointer;
    float: left;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}


.menuButton:hover{
	background:#B54747;
}

.letterDesktop{
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	text-align: center;
	color: #000;
}

.imageBridgeNode{
}

.imageLinkNode{
}

.titleLinkNode{
	width:300px;
	font-family: Arial;
	text-decoration:none; 
	font-weight:bold;
	font-style: normal; 
	font-size:12px; 
	color: white;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.titleBridgeNode{
	width: 200px;
	text-decoration:none; 
	font-weight:bold; 
	font-size:14px; 
	color: white;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.levels{
   width: 850px;
   float: right;
   height: 43px;
}

.letterSizeDesktop{
	font-size: 14px;
	}
	
.letterSizeDesktopTaxonomy{
	font-size: 16px;
	}

.letterColorOrange{
	color: #E76938;
	}
.letterColorBlue{
	color: #0080FF;
	}

.letterContent{
	font-family: Arial;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #000;
	}

a img {border: 0;}



/*	Typography presets
	------------------	*/

.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}

.huge, h1 {
	font-size: 68px;
	line-height: 72px;
	letter-spacing: -1px;
}

.large, h2 {
	font-size: 42px;
	line-height: 48px;
}

.bigger, h3 {
	font-size: 26px;
	line-height: 36px;
}

.big, h4 {
	font-size: 22px;
	line-height: 30px;
}

body {
	font: 16px/24px Georgia, serif;
}

.small, small {
	font-size: 13px;
	line-height: 18px;
}

/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}



/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
	width: 1048px;
	padding: 0px 5px 84px;
	background: rgb(0,0,0);
	color: rgb(255,255,255);
	
	-webkit-text-size-adjust: 100%; /*  Stops Mobile Safari from auto-adjusting font-sizes */
}



/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	


}


/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
	body {
		width: 252px;
		padding: 48px 34px 60px;
	}
	
article > div {

	 width: 100px;
}

	
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	body {
		width: 436px;
		padding: 36px 22px 48px;
	}
	
}