#collections dl .text{ padding:0;}
#socialbar .view_list{padding:0 0 10px 0;}
.profile_menu{background: -moz-linear-gradient(top, #fff, #bbbbbb);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #bbbbbb)); 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffffff', endColorstr='#bbbbbb', GradientType='0');  padding:15px 2%;margin:-3px 0 25px -2%; font-weight:bold; width:95%;-webkit-box-shadow: 3px 2px 3px 1px rgba(0, 0, 0, 0.5);
box-shadow: 3px 2px 3px 1px rgba(0, 0, 0, 0.5);
float: left;}
.profile_menu h1{padding:0 0 8px 0; }
.profile_menu ul{height:auto;width:100%;}
.profile_menu ul li{padding: 0 7px 10px 3px;display:block;float:left;}
.profile_menu li a.head_btn2{width:auto;   } 
.profile_menu li a.head_btn2 span{padding: 7px 18px; }
*+html .profile_menu li a.head_btn2 span{ overflow: visible;}
span.orange{ color:#dd3f01;}
.head_btn2  span.orange_btn{background-color:#E77D00;}
.head_btn2  span.yellow{background-color:#DEB700;}
.head_btn2  span.green{background-color:#336600;}
.head_btn2  span.blue{background-color:#003366;}
.head_btn2  span.indigo{background-color:#00004A;}
.head_btn2  span.violet{background-color:#520052;}

/**user feed**/
.linkUserFeed{
	font-weight: bold;
	text-decoration: underline;
}
.textUserFeedLeft{
	margin-left: 5px;
}
.textUserFeedRight{
	margin-right: 5px
}


#socialbar{width:260px;}
.profile_sidebar{float:left;width:270px;  }
.profile_pic{ padding:0 30px 10px 30px;}
.profile_pic img{width:180px;height:180px;-webkit-box-shadow:3px 3px 3px 0px rgba(0, 0, 0, 0.6);
box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.6); margin:0 0 10px 0; }
.profile_pic a.back{margin-left:25px;}
.profile_pic a.follow_user{margin-left:25px;}




.profile_body{margin:0 0 0 300px;}
.profile_body h1{font-weight:bold;width:100%; float:left;}
.profile_body .collection_list{ width:100%; float:left;}
.profile_body .collection{background: -moz-linear-gradient(top, #fff, #cccccc);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #cccccc)); 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffffff', endColorstr='#cccccc', GradientType='0'); width:41%;margin:10px 3% 10px 0;padding:15px 2.5%; -webkit-box-shadow: 3px 2px 3px 1px rgba(0, 0, 0, 0.5);
box-shadow: 3px 2px 3px 1px rgba(0, 0, 0, 0.5); float:left; min-height:230px;
 position:relative; border: 1px solid #DDD\9;}

.profile_body .digest_rotator{ background:#f4f4f4; -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3); margin:10px 0;  position:relative; padding:10px;min-height:110px;}
.profile_body .digest_rotator .scroll_left{ position: absolute; left:-15px;top:46px; width:15px;height:30px;display:block;background:url(https://s3.amazonaws.com/resourcesweb/newdev/images/profileimages/arrow_left.png) no-repeat left top; cursor:pointer;}
.profile_body .digest_rotator .scroll_left:hover{ background-position:100% -30px;}
.profile_body .digest_rotator .scroll_right{ position: absolute; right:-14px;top:46px; width:14px;height:30px;display:block;background:url(https://s3.amazonaws.com/resourcesweb/newdev/images/profileimages/arrow_right.png) no-repeat left top; cursor:pointer;}
.profile_body .digest_rotator .scroll_right:hover{ background-position:100% -30px;}
.profile_body .digest_rotator img{width:30px;height:30px;float:left; padding:3px 5px 0 0;}
.profile_body .digest_rotator h5{}
.profile_body .body_text{padding:5px 0 0 0;}

.profile_body .activity_list{margin:10px 0;width:100%;float:left; }
.profile_body .activity_list h1{ padding:10px 0 5px 0;}
.profile_body .activity_list p{padding:5px 0; min-height:35px; width:100%;float:left;}
.profile_body .activity_list p span{float:left;padding:5px 0; }
.profile_body .activity_list img{float:left;width:30px;height:30px; padding:0 5px; }
.profile_body .activity_list .time{font-size:0.9em; color:#595959;padding:6px 0 5px 20px;}
.profile_body .activity_list a.head_btn2{margin:0 5px;}
.profile_body .activity_list a.head_btn2 span{padding: 7px 18px;}
.nobg{ background:none; -webkit-box-shadow:none;box-shadow:none; margin:-3px 0 5px -2%;}



/**for profile version 3 page**/
.v3 h3{color: #2A4365;
line-height: 1.4em;text-transform: uppercase;}
.v3 .collection{background: -moz-linear-gradient(top, #fff, #d9d9d9);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #d9d9d9)); 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffffff', endColorstr='#d9d9d9', GradientType='0'); -webkit-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.4);
box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.4); }

.v3 .digest_rotator .scroll_left{ position: absolute; left:-14px;top:0; width:14px;height:30px;display:block;background:url(https://s3.amazonaws.com/resourcesweb/newdev/images/profileimages/arrow_left2.png) no-repeat left top; cursor:pointer;}
.v3 .digest_rotator .scroll_left:hover{ background-position:100% -30px;}
.v3 .digest_rotator .scroll_right{ position: absolute; right:-14px;top:0; width:14px;height:30px;display:block;background:url(https://s3.amazonaws.com/resourcesweb/newdev/images/profileimages/arrow_right2.png) no-repeat left top; cursor:pointer;}
.v3 .digest_rotator .scroll_right:hover{ background-position:100% -30px;}
