<tr><td><font face=Arial,Helvetica>&nbsp; ##SIGNATURE##</font></td>
    <td align=center><font face=Arial,Helvetica>##SOURCE##</font></td>
    <td align=center><font face=Arial,Helvetica>##DOC##</font></td>
</tr>
