<tr><td><input type="text" name="G##SUBJECTAREAID##"
               value="##SUBJECTNAME##" size=30 maxsize=20 maxlength=20>
<SCRIPT>
function Save##SUBJECTAREAID##() {
    var SubjectName = document.fm.G##SUBJECTAREAID##.value;
    col="Status##SUBJECTAREAID##";  var Status = document.fm[col].value;
    window.location="/servlet/Main?template=Taxonomy.ViewSubjectArea&Action=save&SubjectAreaStatus="+Status+"&SubjectAreaID=##SUBJECTAREAID##&SubjectName="+SubjectName;
}
function Delete##SUBJECTAREAID##() {
    if (confirm("Removing this subject area will also remove all relationships that it has, including taxonomy relationships.   Continue?")) {
    window.location="/servlet/Main?template=Taxonomy.ViewSubjectArea&Action=delete&SubjectAreaID=##SUBJECTAREAID##";
}}
</SCRIPT>
</td>
      <td align=center><select name="Status##SUBJECTAREAID##">##STATUS##</select>
      <td align=center><a href="javascript:Save##SUBJECTAREAID##()"><img src="/servlet/images/save.gif" alt="Save Subject Area" border=0></a></td>
      <td align=center><a href="javascript:Delete##SUBJECTAREAID##()"><img src="/servlet/images/delete.gif" alt="Delete Subject Area" border=0></a></td>
</tr>