<blockquote>
<FORM name=import action=/servlet/Main method=post encType=multipart/form-data>
<INPUT type=hidden value=Server.CreateNodeSigsFromDoc name=template>
<INPUT type=hidden value=true name=post>
<b><u>Create Signatures From a Document For a Node</u></b> 
<p>
<table border=0 cellpadding=2 cellspacing=2>

<tr><td><b><font color=black face="Arial" size=-2>Node ID:</B></font></td>
<td colspan=2><input name="nodeid" rows=1 cols=30></input> </td></tr>

<tr><td><b><font color=black face="Arial" size=-2>Create Node From Document:</B></font></td>
<td colspan=2><INPUT class=Wf id=attFbutton type=file name=import> </td></tr>


</table>
<P>
<input type="submit" name="SUBMIT" value="RUN CREATE NODE SIGNATURES">
</form>
