<script>
MM_setTextOfLayer('documents', '', '<table bgcolor=black border=0 cellpadding=0 cellspacing=0 width=700><tr><td><table border=0 cellpadding=2 cellspacing=1 width=765><tr align=center bgcolor=329806>##GENRE_LIST##</tr></table></td></tr></table><br>');
</script>
<p>