<blockquote>
<FORM name=import action="/servlet/Main" method=get>
<INPUT type=hidden name=template value=Server.CorpusIngest>
<b><u>Import a Taxonomy</u></b> (Note, taxonomy must be in <i>corpus normal form</i>).
<p>
<table border=0 cellpadding=2 cellspacing=2>
<tr><td><b><font color=black face="Arial" size=-2>File Location:</B></font></td>
<td colspan=2><INPUT name=filename type=text size=30> </td>
<tr><td><b><font color=black face="Arial" size=-2>Taxonomy Name:</font></td>
<td><input type="text" name="corpusname" size=30 maxlength=40 value=""> &nbsp;</td>
</table>
<P>
<input type="submit" name="submit" value="RUN TAXONOMY INGESTION">
</form>
