a.btn {
	line-height:32px;
	height:32px;
	display:inline-block;
	width:133px;
	background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.5, rgba(255, 255, 255, 0.01)), to(transparent));
	background: transparent -moz-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.01) 50%, transparent);
 filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorstr='#80FFFFFF', EndColorstr='#00FFFFFF');
	-webkit-background-clip: padding-box;
	background-color: #4f27b3;
	float: center;
	text-align:center;
	text-transform: uppercase;
	text-decoration:none;
	color:#fff;
	text-shadow: 1px 0px 1px #000000;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #262626;
	border-top:1px solid #9a9a9a;
}
a.btn:hover {
	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.big_img {
	position:fixed;
    left:0px;
    bottom:0px;
    width:400px;
    height:600px;
    z-index:-1;
}

#wrapper {
	width:100%;
	margin:0 auto;
}
.content_bigimgB {
	padding:10% 0 0 50%; width:50%;
	text-align:center;
	z-index:4;
}
}
.content_bigimg {
	padding:10% 0 0 50%; width:50%;
	z-index:4;
}
.content_bigimg a.btn {
	margin:5px 0;
}
#header {
	background:#000 url(../images/menu_bg_grapes.png) no-repeat left top;
	height:41px;
	line-height:33px;
	padding:10px 20px 0 20px;
	margin:0 0 1px 0;
	color:#fff;
	border-bottom:1px solid #fff;
	-webkit-box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.3);
	box-shadow:0px 8px 25px 0px rgba(0, 0, 0, 0.3);
}
.search_input {
	line-height:28px;
	height: 28px;
	color: #666666;
	background: #fff url(../images/icon_search.png) no-repeat 3px 6px;
	padding: 0 3px 0 21px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width:315px;
	margin:5px 0;
	border: 1px solid #ccc;
}
#header a {
	color:#fff;
}
#header a:hover {
	text-decoration:underline;
}
/*#header .logo {
	float:left;
	 background:url(../images/whyknows_home_logo.png) no-repeat 0 4px;height:45px; width:116px;
}*/
#header .links {
	font-size:12px;
	float:right;
	color:#DDDDDD;
	padding:0px 10px 0 0px;
}
#header .intro {
	float: left;
	width:394px;
	height:27px;
	background:url(../images/click-here.png) no-repeat;
	margin:3px 0 0 10px;
}

#header_2 {
	background:#000 url(../images/menu_bg_grapes.png) no-repeat left top;
	height:126px;
	padding:12px 20px 0 20px;
	color:#fff;
	border-bottom:1px solid #fff;
	-webkit-box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.3);
	box-shadow:0px 8px 25px 0px rgba(0, 0, 0, 0.3);
	text-align:center;
}

.content_exist {
	margin:50px auto 0 auto;
	width:600px;
	text-align:center;
	padding:110px 0 0 0;
	background:url(../images/whyknows_home_logo_KonB.png) no-repeat center top;
}
.content_exist h2{  padding:10px 0 20px 0;}
.content_search {
	margin: 0 auto;
	width:600px;
	text-align:center;
	padding:40px 0 0 0;
}
.content_search a.btn {
	margin:0 auto;
}
.footer_1 {
  position:absolute; bottom:30px; right:3%;  text-align:right;
}
