#body_content{margin:0 0 0 280px;}
#body_content .intro{padding:10px 0;}
.intro .body_text{font-size:1.3em;padding:10px 0; margin-left: 20px}

.view_by{height:30px;}
.view_by .view_title{float:left; padding:4px 10px 0 0; font-weight:bold;}
.view_by ul{float:left; }
.view_by ul li{float:left; }

.view_by ul li a{background:#e4e4e4;display:block;height:26px;line-height:26px; text-align:center;padding:0 15px;}
.view_by ul li:first-child a{-webkit-border-radius:7px 0 0 7px;
border-radius:7px 0 0 7px;}
.view_by ul li:last-child a{-webkit-border-radius:0 7px 7px 0;
border-radius:0 7px 7px 0;}
.view_by ul li a:hover,.view_by ul li a.now{ background:#81858b;color:#fff;}
.view_by ul li.line{background:url(../images/view_line.png) no-repeat;width:2px;height:26px;padding:0;}
.view_by a{ text-decoration:none;}

/** right content **/
#digests{padding:10px 0; position:relative;}
#digests a{ text-decoration:none;}
#digests .col_1{width:43.9%;float:left;margin:0 3% 0 0;}
#digests .col_2{width:25%;float:left;margin:0 3% 0 0;}
#digests .col_3{width:25%;float:left;}
#digests .digest_box_1{float:left; margin:0 0 20px 0;padding:10px; -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
border-top:1px solid #dddddd;background:#fff; border:1px solid #dddddd\9;}
#digests .digest_box_1 img{width:100%;margin:0 0 10px 0;}

#digests .digest_box_2{float:right; left:0;margin:0 0 20px 0;padding:10px;  -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
border-top:1px solid #dddddd;background:#fff;border:1px solid #dddddd\9; }
#digests .digest_box_2 img{width:100%;margin:0 0 10px 0;}
#digests h2{color:#2a4365;line-height:1.4em;}
#digests h2 a{color:#2a4365;}

#digests .digest_box_1:hover{background:#f8f8f8;}
#digests .digest_box_2:hover{background:#f8f8f8;}

p.buttons{height:20px;padding:5px 0 0 0;}


a.remove{ line-height:17px;height:17px; display:block;width:19px;background:#fff; float:right;margin:0 0 0 10px; -webkit-background-clip: padding-box; -webkit-border-radius:4px;
border-radius:4px;border:1px solid #636363; border-top:1px solid #9a9a9a;}
a.remove:hover{background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), color-stop(0.5, rgba(255,255,255,0.15)), color-stop(0.5, rgba(255,255,255,0.01)), to(transparent)); 
  background: transparent -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.01) 50%, transparent);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorstr='#80FFFFFF', EndColorstr='#00FFFFFF');background-color: #078a8a; }
a.remove span{line-height:17px;height:17px; display:block;width:19px;background:url(../images/btn_remove.png) no-repeat; }
a.remove:hover span,a.remove:hover span { background-position:100% -19px; }


a.add{ line-height:17px;height:17px; display:block;width:19px;background:#fff; float:right;margin:0 0 0 10px; -webkit-background-clip: padding-box; -webkit-border-radius:4px;
border-radius:4px;border:1px solid #636363; border-top:1px solid #9a9a9a;}
a.add:hover{background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), color-stop(0.5, rgba(255,255,255,0.15)), color-stop(0.5, rgba(255,255,255,0.01)), to(transparent)); 
  background: transparent -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.01) 50%, transparent);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorstr='#80FFFFFF', EndColorstr='#00FFFFFF');background-color: #078a8a; }
a.add span{line-height:17px;height:17px; display:block;width:19px;background:url(../images/btn_add.png) no-repeat; }
a.add:hover span,a.add:hover span { background-position:100% -19px; }



a.save{ line-height:17px;height:17px; display:block;width:45px;  float:right;text-align:center;  text-transform: uppercase;  text-decoration:none; color:#606060;margin:0 0 0 10px; font-weight:bold;font-size:0.9em; background:#fff;
  -webkit-background-clip: padding-box; -webkit-border-radius:4px;
border-radius:4px;border:1px solid #636363; border-top:1px solid #9a9a9a;

}
a.save:hover{ color:#fff;background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), color-stop(0.5, rgba(255,255,255,0.15)), color-stop(0.5, rgba(255,255,255,0.01)), to(transparent)); 
  background: transparent -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.01) 50%, transparent);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorstr='#80FFFFFF', EndColorstr='#00FFFFFF');background-color: #078a8a;  }


a.remove_b{ line-height:22px;height:22px; display:block;width:24px;background:#fff; float:left;margin: 0 10px 0 0; -webkit-background-clip: padding-box; -webkit-border-radius:4px;
border-radius:4px;}
a.remove_b:hover{background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), color-stop(0.5, rgba(255,255,255,0.15)), color-stop(0.5, rgba(255,255,255,0.01)), to(transparent)); 
  background: transparent -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.01) 50%, transparent);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorstr='#80FFFFFF', EndColorstr='#00FFFFFF');background-color: #078a8a; }
a.remove_b span{line-height:22px;height:25px; display:block;width:25px;background:url(../images/btn_remove_b.png) no-repeat; }
a.remove_b:hover span,a.remove_b:hover span { background-position:100% -24px; }


a.add_b{ line-height:22px;height:22px; display:block;width:24px;background:#fff; float:left;margin: 0 10px 0 0;-webkit-background-clip: padding-box; -webkit-border-radius:4px;
border-radius:4px;}
a.add_b:hover{background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), color-stop(0.5, rgba(255,255,255,0.15)), color-stop(0.5, rgba(255,255,255,0.01)), to(transparent)); 
  background: transparent -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.01) 50%, transparent);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorstr='#80FFFFFF', EndColorstr='#00FFFFFF');background-color: #078a8a; }
a.add_b span{line-height:22px;height:25px; display:block;width:25px;background:url(../images/btn_add_b.png) no-repeat; }
a.add_b:hover span,a.add_b:hover span { background-position:100% -24px; }



a.save_b{ line-height:21px;height:21px; display:block;width:57px;background:#fff; float:left;text-align:center;  text-transform: uppercase;  text-decoration:none; color:#606060;margin:0 10px 0 0; font-weight:bold;font-size:0.9em;background:#fff;
  -webkit-background-clip: padding-box; -webkit-border-radius:4px;
border-radius:4px;border:1px solid #636363; border-top:1px solid #9a9a9a;}
a.save_b:hover{ background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), color-stop(0.5, rgba(255,255,255,0.15)), color-stop(0.5, rgba(255,255,255,0.01)), to(transparent)); 
  background: transparent -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.01) 50%, transparent);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorstr='#80FFFFFF', EndColorstr='#00FFFFFF');background-color: #078a8a;color:#fff; }

/** article_details **/
.article_details{ background:#fff; padding:15px 25px;-webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3); border-top:1px solid #d2d2d2;border:1px solid #d2d2d2\9;}
.article_details h1{ text-transform:capitalize; font-weight:bold;padding:10px 0 15px 0;}
.article_details .details{width:64%; float:left;}

.article_details ul.buttons{padding:10px 0;width:100%;float:left;}
.article_details ul.buttons li{float:left;padding:0 10px 0 0;}
.article_details ul.buttons li.social_links{}
.article_details ul.buttons li.social_links img{padding:4px 5px 0 0;}
.article_details ul.buttons li.count{background:url(../images/count_bg1.png) no-repeat right top;height:16px;line-height:16px;font-weight:bold;padding:0;margin:4px 0 0 0;}
.article_details ul.buttons li.count span{height:16px;background:url(../images/count_bg2.png) no-repeat left top;padding:0 15px; display:block;}

.article_details .article_pic .pic{width:100%;}
.article_details .body_text{margin-top: 20px;}
.article_details .body_text p{padding:5px 0;}

.article_details .topic{width:32.9%;  float:right; }
.article_details .topic_list li{float:left;padding:5px 10px 5px 0;}

a.topic_button{ background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), color-stop(0.5, rgba(255,255,255,0.15)), color-stop(0.5, rgba(255,255,255,0.01)), to(transparent)); 
  background: transparent -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.01) 50%, transparent);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorstr='#80FFFFFF', EndColorstr='#00FFFFFF'); 
  -webkit-background-clip: padding-box; background-color: #efefef;  -webkit-border-radius: 5px;
border-radius:5px;border:1px solid #b6b6b6; display:block;float:left;height:25px;line-height:25px;  text-align:center;text-decoration:none;-webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);padding:0 12px;
box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);overflow:hidden;text-overflow:ellipsis;white-space:nowrap; word-wrap:break-word;}
a.topic_button:hover{background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), color-stop(0.5, rgba(255,255,255,0.15)), color-stop(0.5, rgba(255,255,255,0.01)), to(transparent)); 
  background: transparent -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.01) 50%, transparent);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorstr='#80FFFFFF', EndColorstr='#00FFFFFF'); 
  -webkit-background-clip: padding-box;background-color: #078a8a; color:#fff;}

.article_details .comments_list{ width:100%;float:left;padding:20px 0;}
.article_details  .comments_title{}
.article_details  .comments_title h3{float:left;}
.article_details  .comments_title .stars{background:url(../images/star_bg.png) no-repeat; width:121px;height:26px;line-height:26px;float:right;}
.article_details  .comments_title .stars .star_img{display:block; float:left;background:url(../images/star1.png) no-repeat 2px;padding:0 0 0 28px;}
.article_details  .comments_title .stars a.btn{display:block;  float:right;width:26px;height:26px; background:url(../images/icon_arrow1.png) no-repeat 7px 10px;}
.article_details .comment_menu{background:#efefef;width:100%;float:left;margin:5px 0;}
.article_details .comment_menu ul.left_menu li{float:left; background:url(../images/icon_line2.png) no-repeat right top; }
.article_details .comment_menu ul.left_menu li a{ text-decoration:none; display:block; line-height:26px; padding:0 20px;}
.article_details .comment_menu ul.left_menu li a.now,.article_details .comment_menu ul.left_menu li a:hover{background:#dddddd url(../images/icon_line2.png) no-repeat right top; color:#000;}
.article_details .comment_menu ul.setting{float:right;padding:0 5px 0 0; }
.article_details .comment_menu ul.setting li{float:left;padding:5px 5px 0 0; line-height:15px;}

.article_details .comment{width:100%;float:left;padding:5px 0;margin:0 0 5px 0; border-bottom:1px dotted #bbbbbb;}
.article_details .comment .pic{float:left;width:38px;height:38px;}
.article_details  .comment_details{margin:0 0 0 50px;}
.article_details  .comment_details p{  padding:5px 0;}
.article_details  .comment_details a{ text-decoration:none;}
.article_details  .comment_details h5{float:left;}
.article_details  .comment_details .date{margin:0 0 0 20px; font-weight:normal;padding:0 0 0 15px;background:url(../images/icon_dotted.png) no-repeat left 5px; }
.article_details .sort{height:20px;}
.article_details .sort span{ display:block; float:left;}
.article_details .sort_btn1{margin:0 0 0 5px;}
.article_details .sort_btn2{background:url(../images/icon_line.png) no-repeat left 2px; padding:0 0 0 10px;margin:0 0 0 5px;}
.article_details .share{background:url(../images/icon_dotted.png) no-repeat left 4px; padding:0 0 0 10px;margin:0 0 0 5px;}

/** collection topics **/
.topics{float:left; margin:10px 0 10px 15px;padding:15px;width:205px;height:195px;  -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
border-top:1px solid #dddddd;background:#fff;border:1px solid #dddddd\9; position:relative; }
.topics img{width:100%;}
.topics a{ text-decoration:none; }
.topics .body_text{height:135px;overflow:hidden; line-height:1.3em; }
.topics .body_text h2{line-height:1.3em;}

.topics .show_pic{width:205px;height:195px; position:absolute;left:15px;top:15px; display:none;}
.topics .thumb_pic{margin-bottom:10px;display:block; width:100%;height:47px; background-position:left bottom;background-repeat:no-repeat;background-size:100%;}


/** collection topics 3 **/
.topics2{float:left; margin:10px 0 10px 15px;padding:12px;width:211px;height:195px;  -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
border-top:1px solid #dddddd;background:#fff;border:1px solid #dddddd\9; position:relative; }
.topics2 a{ text-decoration:none; color:white}
.topics2 .pic_bg{width:211px;height:195px; position:absolute;left:12px;top:15px;    }
.topics2 h6{ font-weight:normal; font-style:italic; font-size:11px;padding:3px 0;}
.topics2 .text_bg1{position:absolute;left:12px;top:30px; overflow:hidden; padding: 15px; color:#fff; height:135px; width:181px;background:#000;filter:alpha(opacity=60);  
      -moz-opacity:0.6;  
      -khtml-opacity: 0.6;  
      opacity: 0.6; }
.topics2 .topics_text{position:absolute;left:24px;top:40px; height:135px; color:#fff;font-size:1.2em; width:187px;}
.topics2 .topics_text .body_text{ height:128px; overflow:hidden;}
.topics2 .topics_text .body_text2{  height:36px;}
.topics2 .text_bg2{position:absolute;left:12px;top:30px; overflow:hidden; padding: 15px; color:#fff; height:50px; width:181px;background:#000;filter:alpha(opacity=60);  
      -moz-opacity:0.6;  
      -khtml-opacity: 0.6;  
      opacity: 0.6; }

.topics2 .topics_title{
font-size: 18px;
font-weight: bold;
text-transform: uppercase;
line-height: 1.3em;
white-space: nowrap;
text-overflow: ellipsis;
width: 200px;
overflow: hidden;
}
