/**
 * 	masonry styles
 */
.box {
	margin: 5px;
	padding: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
	border-top: 1px solid #DDD;
	background: white;
	overflow: hidden;
}

.box h2 {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.3em;
	color: #2A4365;
}

.box img, #tumblelog img {
	display: block;
	width: 100%;
}

.rtl .box {
	float: right;
	text-align: right;
	direction: rtl;
}

.col1 {
	width: 80px;
}
.col2 {
	width: 180px;
}
.col3 {
	width: 280px;
}
.col4 {
	width: 380px;
}
.col5 {
	width: 480px;
}

/**** Gutters ****/

.has-gutters .box {
	margin: 5px 0;
}

.has-gutters .col1 {
	width: 90px;
}
.has-gutters .col2 {
	width: 230px;
}
.has-gutters .col3 {
	width: 370px;
}
.has-gutters .col4 {
	width: 550px;
}

/**** Transitions ****/

.transitions-enabled.masonry, .transitions-enabled.masonry .masonry-brick {
	-webkit-transition-duration: 0.7s;
	-moz-transition-duration: 0.7s;
	-ms-transition-duration: 0.7s;
	-o-transition-duration: 0.7s;
	transition-duration: 0.7s;
}

.transitions-enabled.masonry {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}

.transitions-enabled.masonry  .masonry-brick {
	-webkit-transition-property: left, right, top;
	-moz-transition-property: left, right, top;
	-ms-transition-property: left, right, top;
	-o-transition-property: left, right, top;
	transition-property: left, right, top;
}

/* disable transitions on container */
.transitions-enabled.infinite-scroll.masonry {
	-webkit-transition-property: none;
	-moz-transition-property: none;
	-ms-transition-property: none;
	-o-transition-property: none;
	transition-property: none;
}

/**** Primer comparison ****/

#comparison {
	overflow: auto;
}

#comparison .example {
	width: 420px;
	float: left;
	margin-right: 20px;
}

#comparison .box h5 {
	float: left;
	margin-bottom: 0;
	font-size: 30px;
	margin-right: 4px;
	line-height: 28px;
	font-weight: bold;
	color: #FFF;
}


/* Tumblelog example */

#tumblelog {
	background: #FFF;
	padding: 1.0em;
}

#tumblelog .story {
	margin: 10px;
	border-top: 4px solid #DCB;
	padding-top: 10px;
	background: #FFF;
	float: left;
}

#tumblelog h1, #tumblelog h2, #tumblelog h3 {
	font-weight: bold;
}

#tumblelog .col1 {
	width: 220px;
}
#tumblelog .col2 {
	width: 460px;
}
#tumblelog .col3 {
	width: 700px;
}

#tumblelog .col1 img, #tumblelog .col2 img, #tumblelog .col3 img {
	max-width: none;
}

/* Infinite Scroll loader */
#infscr-loading {
	text-align: center;
	z-index: 100;
	position: fixed;
	left: 45%;
	bottom: 40px;
	width: 200px;
	padding: 10px;
	background: #000;
	opacity: 0.8;
	color: #FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

/**** Fluid ****/

#container.fluid {
	padding: 5px 0;
}

/* right margin value is 0.1% less than calculated,
 to allow for rounding errors in Firefox */
.fluid .box {
	margin: 5px 0.9% 5px 1%;
	padding: 10px 1%;
}


.fluid .box.col1 {
	width: 21%;
    /** resize window 
    min-width: 100px; **/
}
.fluid .box.col2 {
	width: 46%;
        /** resize window 
    min-width: 200px;**/
}


.fluid .box.col3 {
	width: 71%;
}

/*
 .fluid .box.col1 { width: 16%; }
 .fluid .box.col2 { width: 36%; }
 .fluid .box.col3 { width: 56%; }
 */

/**** Corner stamp ****/

.corner-stamp {
	width: 280px;
	height: 340px;
	padding: 10px;
	margin: 10px;
	float: right;
	background: red;
	color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/**** Pygments ****/

code .s1, code .s {
	color: #78BD55;
}/* string */
code .mi, /* integer */
code .cp, /* doctype */
code .kc {
	color: #5298D4;
}/*boolean*/
code .k {
	color: #E39B79;
}/* keyword */
code .kd, /* storage */
code .na {
	color: #A9D866;
}/* markup attribute */
code .p {
	color: #EDB;
}/* punctuation */
code .o {
	color: #F63;
}/* operator */
code .nb {
	color: #AA97AC;
}/* support */

/* comment */
code .c, code .c1 {
	color: #666;
	font-style: italic;
}

code .nt {
	color: #A0C8FC;
}/* Markup open tag */

code .nf {
	color: #9EA8B8;
}/* css id */
code .nc {
	color: #A78352;
}/* CSS class */
code .m {
	color: #DE8E50;
}/* CSS value */
code .nd {
	color: #9FAD7E;
}/* CSS pseudo selector */

/**** ClearfixM ****/
.clearfixM:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfixM:after {
	clear: both;
}
.clearfixM {
	zoom: 1;
}
