
.wrap { width:95%; margin:20px; height:25px;margin-top: 5px;}


.menuButton{
    display: block;
    float: left;
    margin-right: 22px;
    min-width: 80px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 2px 1px 2px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 2px 1px 2px 0px rgba(0, 0, 0, 0.6);
    color: white;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    border: 1px solid #4E4E4E;
}
.menuButton a{
    text-decoration:none;
    color:white;
}
.menuButton:active span, .menuButton:active span {
filter:alpha(opacity=80);  
      -moz-opacity:0.8;  
      -khtml-opacity: 0.8;  
      opacity: 0.8; 
}

.menuButton span{
    display: block;
     min-width: 150px;
    border-top: 1px solid #F0D8D8;
    border-bottom: 1px solid #330066;
    background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.5, rgba(255, 255, 255, 0.01)), to(transparent));
    background: transparent -moz-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.01) 50%, transparent);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorstr='#80FFFFFF', EndColorstr='#00FFFFFF');
    -webkit-background-clip: padding-box;
    background-color: #663399;
    padding: 7px 3px;
    height: 15px;
    line-height: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


.menuButton:hover span, .menuButton:hover span {  
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(220,220,220,0.6)), color-stop(0.5, rgba(100,100,100,0.2)), color-stop(0.5, rgba(0,0,0,0.21)), to(rgba(0, 0, 0, 0.20))); 
  background: -moz-linear-gradient(top, rgba(220,220,220,0.6), rgba(100,100,100,0.2) 50%, rgba(0,0,0,0.21) 50%, rgba(0, 0, 0, 0.20));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#99dcdcdc', EndColorStr='#33000000'); 
  -webkit-background-clip: padding-box; background-color: #330066;
}

.menuButton2{
    display: block;
    float: left;
    min-width: 80px;
    margin-right: 19px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 2px 1px 2px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 2px 1px 2px 0px rgba(0, 0, 0, 0.6);
    color: black;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    border: 1px solid #4E4E4E;
}

.menuButton2 a{
    text-decoration:none;
    color:white;
}

.menuButton2:active span,.menuButton2:active span {
filter:alpha(opacity=80);  
      -moz-opacity:0.8;  
      -khtml-opacity: 0.8;  
      opacity: 0.8; 
}

.menuButton2 span{
    display: block;
    border-top: 1px solid white;
    background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(130, 80, 180, 1.0)), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.5, rgba(255, 255, 255, 0.01)), to(transparent));
    background: transparent -moz-linear-gradient(top, rgba(255, 255, 255, 1.0), rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.01) 50%, transparent);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorstr='#80FFFFFF', EndColorstr='#00FFFFFF');
    -webkit-background-clip: padding-box;
    background-color: #29193A;
    padding: 7px 3px;
    height: 15px;
    line-height: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.menuButton2:hover span, .menuButton2:hover span {  

  background: -webkit-gradient(linear, left top, left bottom, from(rgba(220,220,220,0.6)), color-stop(0.5, rgba(100,100,100,0.2)), color-stop(0.5, rgba(0,0,0,0.21)), to(rgba(0, 0, 0, 0.20))); 
  background: -moz-linear-gradient(top, rgba(220,220,220,0.6), rgba(100,100,100,0.2) 50%, rgba(0,0,0,0.21) 50%, rgba(0, 0, 0, 0.20));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#99dcdcdc', EndColorStr='#33000000'); 
  -webkit-background-clip: padding-box; background-color: #dcdcdc;
}

#menu .handle{width:92px;cursor:pointer;background:url(../images/icon_handle.png) no-repeat center center;position: absolute;
left: 48%;
height: 18px;}

.arrowPrev1{
    /*position: absolute;
    left: 13px;
    top: 30px;
    width: 12px;
    height: 12px;
    display: block;*/
    float:left;
    background: url(../images/MoreNodesLeft.png) no-repeat left top;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
    width: 20px;
    height: 20px;
   
}
.arrowNewxt1{
    /*position: absolute;
    right: 25px;
    top: 30px;
    width: 12px;
    height: 12px;
    display: block;*/
    text-decoration: none;
    background: url(../images/MoreNodesRight.png) no-repeat left top;
    cursor: pointer;
    margin: 10px;
    float: right;
    width: 20px;
    height: 20px;
}
#menu{
    background: url(../images/menu_bg.png) repeat-x center top;
    padding: 1px;
    font-weight: bold;
	padding-top: 2px;
	top:34px;
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
	height:142px;
}

.topic_list li a{
color:white;
}
