#instructional {
    position: fixed;
    top: 0;cursor: pointer;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/overlay/background.png")  repeat scroll 0 0 transparent;
    z-index: 10000; color:#fff;
}
#instructional_2{  position: absolute;top:0; width: 100%; min-width:1000px; height: 100%;min-height:600px;  left:0;z-index: 15000;}
#item1 {
    background: url("../images/overlay/01-login.png") no-repeat scroll 0 0 transparent;
    height:68px; width: 170px;
    right:160px;
    position: absolute;
    top: 10px; text-indent:-9999px;    
}
#item2 {
    background: url("../images/overlay/02-Search.png") no-repeat scroll 0 0 transparent;
    height:47px; width: 293px;
    right:540px;
    position: absolute; text-indent:-9999px; 
    top: 10px;   
}
#item3 {
    background: url("../images/overlay/03-Browse.png") no-repeat scroll center  transparent;
    height:68px; width:42%; text-indent:-9999px; 
    left:29%;
    position: absolute;
    top: 80px;   
}
#item4 {
    background: url("../images/overlay/04-Explore.png") no-repeat scroll center transparent;
    height:167px; width:44%; text-indent:-9999px; 
        left:28%;
    position: absolute;
    top:300px;   
}
#item5_browse {
    background: url("../images/overlay/05-Browse_3arrow.png") no-repeat scroll center  transparent;
    height:176px; width:463px; text-indent:-9999px; 
    right:26%;
    position: absolute;
    top:110px;   
}
#item6_save {
    background: url("../images/overlay/06-Save.png") no-repeat scroll center transparent;
    height:283px; width:228px; text-indent:-9999px; 
    left:205px;
    position: absolute;
    top:235px;   
}
#item7_discuss {
    background: url("../images/overlay/07-Discuss.png") no-repeat scroll center transparent;
    height:151px; width:234px; text-indent:-9999px; 
     right:10%;
    position: absolute;
    bottom:150px;z-index: 15000;
}
