<table width=100% cellpadding=3 cellspacing=0 border=0>
<tr><td colspan=2>
   <table border=0 cellspacing=0 cellpadding=0 width=100%>
   <tr valign=top><td align=left>
     <table border=0 cellspacing=5 cellpadding=0 width=100%>