   </select>
   </td>
    <td width=70% align=left valign=top>
    <table cellpadding=0 cellspacing=5 valign=top>
     <tr><td><a href="javascript:Explore()">
		<img src="/servlet/images/explore.gif" border=0 alt="Explore"></a></td>
	 <td>Browse a selected thesaurus<br></td></tr>
      <tr><td><a href="javascript:Add()">
		<img src="/servlet/images/add.jpg" border=0 alt="Add"></a></td>
	  <td> Create a new thesaurus<br></td></tr>
      <tr><td><a href="javascript:Edit()">
		<img src="/servlet/images/security.jpg" border=0 alt="Security"></a></td>
	  <td> Assign thesauri to taxonomies<br></td></tr>
      <tr><td><a href='javascript:Remove()'>
		<img src="/servlet/images/delete.gif" border=0 alt="Delete"></a></td>
	  <td> Delete a selected thesaurus</td></tr>
      <tr><td><a href='/servlet/Main?template=Taxonomy.ViewThesauri&sync=yes'>
		<img src="/servlet/images/synch.jpg" border=0 alt="Delete"></a></td>
	  <td> Synchronize all thesauri</td></tr>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<P>
</form>
</blockquote>
