<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/badbrowser.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39745928-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript">
  var _kmq = _kmq || [];
  var _kmk = _kmk || '$kissMetricId';
  function _kms(u){
    setTimeout(function(){
      var d = document, f = d.getElementsByTagName('script')[0],
      s = d.createElement('script');
      s.type = 'text/javascript'; s.async = true; s.src = u;
      f.parentNode.insertBefore(s, f);
    }, 1);
  }
  _kms('//i.kissmetrics.com/i.js');
  _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
</script>
<script type="text/javascript">
    #if($user.getUserId())
    _kmq.push(['identify', '$user.getUserId()']);
   #else
    _kmq.push(['identify', '']);
   #end
</script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <title>Collection</title>

    <!-- scripts -->
    <script type="text/javascript">
        var CONTEXT_LINKAPEDIA = "$context";
    </script>
    <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/linkapedia.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/jquery.masonry.js"></script>
    <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/pageEvents.js" type="text/javascript"></script>
     <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/facebook.js" type="text/javascript"></script>
    <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/main.js" type="text/javascript"></script>
    <!--
    <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/pageEvents.js" type="text/javascript"></script>
    -->

    <!--<script src="http://localhost/hackercup/collectionsApi.js" type="text/javascript"></script>-->
   
    <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/infinite.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/cloudsearch.js"></script>

    <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/jquery.fancybox.js" type="text/javascript"></script>
   
<script src="https://s3.amazonaws.com/resourcesweb/$environment/js/collection.js" type="text/javascript"></script>


<script src="https://s3.amazonaws.com/resourcesweb/$environment/js/collectionsApi.js" type="text/javascript"></script>
<!--<script src="http://localhost:8080/newDev/js/collectionsApi.js" type="text/javascript"></script>-->
<!--
 <script type="text/javascript" src="http://localhost/hackercup/collectionsApi.js"></script>
 -->

 <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/dialogs.js" type="text/javascript"></script>
 <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/jquery.dotdotdot-1.5.6.js" type="text/javascript"></script>
 <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/menu-efects.js"></script>
 <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/jquery-ui-1.10.2.custom.js"></script>
 <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/jquery-ui-1.10.2.custom.min.js"></script>
 <!--<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/menu-efects.js"></script>-->
 <!--<script type="text/javascript" src="http://localhost:8080/newDev/js/jquery-ui-1.10.2.custom.js"></script>-->
 <!--<script type="text/javascript" src="http://localhost:8080/newDev/js/jquery-ui-1.10.2.custom.min.js"></script>-->
    

    <!----- TEST ENVIRONMENT -------->
 
    <!--<script type="text/javascript" src="http://localhost/newDev/infinite.js"></script>-->
    <!--<script type="text/javascript" src="http://localhost/newDev/cloudsearch.js"></script>-->

    <!--<script type="text/javascript" src="http://localhost/fancyDialog/source/jquery.fancybox.js"></script>
    <script type="text/javascript" src="http://localhost/collectionsApi.js"></script>
    <script type="text/javascript" src="http://localhost/dialogs.js"></script>-->


    <!--<link href="http://localhost/fancyDialog/source/jquery.fancybox.css" rel="stylesheet" type="text/css" />-->

    <!----- /TEST ENVIRONMENT  ------->
    


    <!-- css -->
    <link rel="icon" type="image/x-icon" href="https://s3.amazonaws.com/resourcesweb/$environment/images/favicon.ico" />
    <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/common.css" rel="stylesheet" type="text/css" />
    <!--<link href="http://localhost:8080/newDev/css/common.css" rel="stylesheet" type="text/css" />-->
    <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/main.css" rel="stylesheet" type="text/css" />
    <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/linkapedia.css" rel="stylesheet" type="text/css" />
    <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/masonry.css" rel="stylesheet" type="text/css" />
    <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/scrollable.css" rel="stylesheet" type="text/css" />
    <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/infinite.css" rel="stylesheet" type="text/css" />
    <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/cloudsearch.css" rel="stylesheet" type="text/css" />

    <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/collection.css" rel="stylesheet" type="text/css" />
    <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />
    <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/jquery-ui-1.10.2.custom.min.css" rel="stylesheet" type="text/css" />
    <!--<link href="http://localhost:8080/newDev/css/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />-->
    <!--<link href="http://localhost:8080/newDev/css/jquery-ui-1.10.2.custom.min.css" rel="stylesheet" type="text/css" />-->


    <script>
        $(window).load(function(){
            $('.titleDocument').dotdotdot({
            });
            $('.digestDocument').dotdotdot({
            });
            //TODO:call this in the load
            CONFIG_SEARCH.setTaxonomy('$taxonomy.getName()');
            CONFIG_SEARCH.isExecuteQuery2($searchQuery2);
            CONFIG_SEARCH.setSelectorsToHidden([$("#content"),$("#menu"),$("#wrapper_infinite_scroll_loading")]);
            CONFIG_SEARCH.setSelectorParent($("#wrapper"));
            CONFIG_SEARCH.configureInfinite();
            COLLECTIONAPI.setMaxNumberOfUsersToShowFollowingCollection($maxNumberOfUsersToShowFollowingCollection);
            loadCollectionPage();
    
            
        });
    </script>
</head>
<body>
<div id="fb-root"></div>
<script>FacebookInit($clientId)</script>
<div id="wrapper">
<div id="containTopMenu" currentpage="collectionpage">
             <!--header start-->
                <ul id="header">
                    <li class="logo"><a href="$context/home"><img src="https://s3.amazonaws.com/resourcesweb/$environment/images/logo.png" alt="Logo"/></a> </li>
                    <li class="login">
                    #if($user.getUserRole().getUserRole()!="guest")
                     <a  href="$context/Logout" class="logout" >Sign Out</a> 
                    #else
                     <a  href="#" onclick="login()" ><img src="https://s3.amazonaws.com/resourcesweb/$environment/images/fb_login.png"  alt="Login"/></a> 
                    #end
                    </li>
                    #if($user.getUserRole().getUserRole()!="guest")
                    <li class="user">
                    <a href="$context/ProfileCreation?userId=$user.getUserId()"><img src="http://graph.facebook.com/$user.getFacebookCredentials().getProperty("fbId")/picture?type=small" /></a>
                    <span>Welcome</span>
                    <div>$user.getName().</div>
                    </li>
                    #end
                     <li class="links"> <a href="$context/OtherPages?page=about&taxonomyName=$taxonomyName">About</a> | <a href="$context/OtherPages?page=privacy&taxonomyName=$taxonomyName">Privacy</a></li>
                    <li class="search">
                        <input id="searchtxt" name="" type="text" class="search_input" value="" onkeyup="CONFIG_SEARCH.search();"/>
                    </li>
                </ul>
                <!--header end-->
</div>
   
#if ($interestCollection.getIsPrivate() && $interestCollection.getOwnerId()!=$user.getUserId())
<h1>This collection is private, you don't have access to it.</h1>
#stop
#end

  <div id="content" class="clearfix">
    <!--left start-->
    <div id="socialbar">
      <div class="social_info"> 
        
        #if ($userOwner.getUserId()!=$user.getUserId())
            #if ($userArleadyFollowingCollection)
             <span id="followDate">Following since $followDate </span>
             <a href="#" id="follow_collection" class="unfollowButton" onclick="COLLECTIONAPI.unFollowCollection('$interestCollection.getInterestCollectionId()')">(Leave)</a>
            #else
            <span id="followDate"></span>
            <a href="#" id="follow_collection" class="back" #if($user.getUserRole().getUserRole()=="guest") onclick="login()" #else onclick="COLLECTIONAPI.followCollection('$interestCollection.getInterestCollectionId()')" #end>FOLLOW</a>
            #end
       #else
            #if ($interestCollection.getIsPrivate())
            <a href="#" class="make_public" onclick="COLLECTIONAPI.makePublicInterestCollection('$interestCollection.getInterestCollectionId()')" >MAKE THIS COLLECTION PUBLIC</a>
            #end
        #end
        

        <div class="view_list">
        <h2> FOLLOWERS <span id="followers_count">$followersCount</span></h2><br>
        <ul id="collection_followers">
            
               
                #foreach($follower in $followersOfCollection)
                    #if ($follower.getUserId()==$user.getUserId())
                   <li id="user_itself_following">
                     <a href="$context/ProfileCreation?userId=$follower.getUserId()">
                    <img src="http://graph.facebook.com/$follower.getUserFbId()/picture?type=small" alt=""/>
                    </a>
                    </li>
             
                    #else
                    <li>
                     <a href="$context/ProfileCreation?userId=$follower.getUserId()">
                    <img src="http://graph.facebook.com/$follower.getUserFbId()/picture?type=small" alt=""/>
                    </a>
                    </li>
                    #end
                #end
                #if (!$userAlreadyFollowingCollection)
                   <li id="user_itself_following" style="display:none">
                     <a href="$context/ProfileCreation?userId=$user.getUserId()">
                    <img src="http://graph.facebook.com/$user.getFacebookCredentials().getProperty("fbId")/picture?type=small" alt=""/>
                    </a>
                    </li>
                #end
                

          </ul>
        </div>
      </div>


    #if (!$relatedNodes.isEmpty())
        <div id="topics_related">

            <h2>Topics found</h2>
            <ul>
                #foreach( $key in $relatedNodes.keySet() )

                    <li> <a href="$context/page/$EscapeSeo.escape($relatedNodes.get($key))/$key" class="topic_button"><span>$relatedNodes.get($key)</span></a> </li>
                #end

            </ul>
          </div>
      #end



     <div id="collections">
        <h2> RELATED COLLECTIONS </h2><br>
        #if($relatedCollections.isEmpty())
            <h4> collection related not found </h4>
        #end
        #foreach($collection in $relatedCollections)
        
            <dl>
              <dt> <a href="$context/collection/$EscapeSeo.escape($collection.getInterestCollectionName())/$collection.getInterestCollectionId()"> $collection.getInterestCollectionName() </a>  </dt>
              <dd>
                   <h5>Curator: <a href="$context/ProfileCreation?userId=$collection.getOwnerId()">$collection.getOwnerName()</a></h5>
                   <p class="body_text"> #if ( $collection.getInterestCollectionDescription()) $collection.getInterestCollectionDescription() #end</p>                  
              </dd>
            </dl>
        #end
      </div>

    </div>
    <!--left end-->

    <!--right start-->
    <div id="body_content" class="clearfix">


    <div id="edit1">

     <h1 id="collectionName"  > <strong> 
            <p id="interestCollectionText1">
                <span>$interestCollection.getInterestCollectionName()</span>
   
                #if($user.getUserId()==$interestCollection.getOwnerId())
                     <textarea class="editTitle" id="editText1" ></textarea>

                        <a href="#" class="editButton" id="editButton1" >edit</a>
                        <a href="#" class="editButton" id="saveButton1" >save</a>
                        <a href="#" class="editButton" id="cancelButton1" >cancel</a>
                    #end
            
            </p> 
        </strong> </h1> 
   
 

    </div>

    <div class="created_by"> 
        <a href="$context/ProfileCreation?userId=$userOwner.getUserId()">
        <img src="http://graph.facebook.com/$userOwner.getFacebookCredentials().getProperty("fbId")/picture?type=small" />
        </a>
        <div>
          <div>
            <h4>CREATED BY <span class="orange">$interestCollection.getOwnerName()</span> </h4>
          </div>
          <div>
           
        
       
            <div id="edit2">
                <p class="collectionDescription" id="interestCollectionText2" >
                <span>#if ($interestCollection.getInterestCollectionDescription()) $interestCollection.getInterestCollectionDescription() #end</span>
                    #if($user.getUserId()==$interestCollection.getOwnerId())   
                    <textarea class="editDescription" id="editText2" ></textarea>
                   <a href="#" class="editButton" id="editButton2" >edit</a>
                   <a href="#" class="editButton" id="saveButton2" >save</a>
                   <a href="#" class="editButton" id="cancelButton2" >cancel</a>
                #end
                </p>
             
            </div>
         
          </div>
        </div>   
      </div><br>


      
        <div id="digests" class="clearfixM fluid">
            #set($ext=".jpg")
            #set($index=1)
            #set($image1="")
            #set($image2="")
             #foreach( $link in $interestCollection.getInterestCollectionElements())
                <!--#set($number=$math.random(1,3))-->
                <div class="box col1" style="width: 285px;height:270px;">
                        <img src="https://s3.amazonaws.com/documentimage/$link.getDocId()$ext" onerror="$(this).remove();" style="z-index: 1;opacity: 0.2;height: 270px">
                        <div style="position: absolute;top:27px;padding: 9px;width: 240px;">
                            <div class='titleDocument' style="height: 67px;overflow: hidden;"><h2 style="color:black;">$link.getDocTitle()</h2></div><br>
                            <div class='digestDocument' style="height: 100px;overflow: hidden;"><p class="body_text">
                                $link.getDigestText()
                            </p></div><br>
                            #set($docTitle=$EscapeSeo.escape($link.getDocTitle()))
                             <a style="width: 110px;" href="$context/digest/$docTitle/$link.getNodeId()/$link.getDocId()" class="save_b"><span>Read More</span></a>
                             #if($user.getUserId()==$interestCollection.getOwnerId())

                                <a href="javascript:void(0)" onclick="COLLECTIONAPI.removeDocumentCollection('$link.getInterestCollectionId()','$link.getDocId()','$link.getNodeId()',this)" style="text-decoration: underline;color: red;float: left;">remove</a>
                                <img style="width:20px;height:20px;display:none;" src='https://s3.amazonaws.com/resourcesweb/newdev/images/removeDocuments-loader.gif'/>
                             #end
                        </div>
                        #if($index==2)
                            #set($image2="https://s3.amazonaws.com/documentimage/$link.getDocId()$ext")
                            #set($number=$math.random(1,3))
                            #if($number==1)
                                 </div>
                                 <div class="box col1" style="width: 285px;height:270px;">
                                 <img src="$image1" onerror="managerErrorImage(this,'$image2');" style="z-index: 1;height: 270px">
                            #else
                                 </div>
                                 <div class="box col1" style="width: 285px;height:270px;">
                                 <img src="$image2" onerror="managerErrorImage(this,'$image1');" style="z-index: 1;height: 270px">
                            #end
                            #set($index=1)
                        #else
                            #set($image1="https://s3.amazonaws.com/documentimage/$link.getDocId()$ext")
                            #set($index=$index+1)
                        #end
                </div>
             #end                                
	</div>


    </div>
    <!--right end-->

  </div>
</div>
<!-- infinite scroll -->
<div id="wrapper_infinite_scroll_loading">
<div id="infinite_scroll_loading">
      <img  src="https://s3.amazonaws.com/resourcesweb/newdev/images/infinite.gif" />
</div>



</div>

<input id="interestCollectionId" type="hidden" value="$interestCollection.getInterestCollectionId()"/>
<div id="dialog" title="Removing Collection">
  <p>You can't remove the last document.</p>
</div>
</body>
</html>
