
/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }




/* Component containers
----------------------------------*/
.ui-widget {  }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-size: 1em; }
.ui-widget-content { background: #fff; }
.ui-widget-header { margin:1px;font-size:16px; text-transform:uppercase;  font-weight:bold; /* -webkit-border-radius:8px 8px 0 0;
-moz-border-radius:8px 8px 0 0;
border-radius:8px 8px 0 0; */  }
.ui-widget-header a {  }


/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fad42e; background: #fbec88 url(images/ui-bg_flat_55_fbec88_40x100.png) 50% 50% repeat-x; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; color: #cd0a0a; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #cd0a0a; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #cd0a0a; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { }


 

/* Overlays */
.ui-widget-overlay { background: #000; opacity: .30;filter:Alpha(Opacity=30); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); /*-moz-border-radius: 8px; -khtml-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; */}

.ui-dialog { position: absolute; padding:0; width: 300px; /**overflow: hidden; **/-webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5); /*-webkit-border-radius:8px;
-moz-border-radius:8px;
border-radius:8px;*/ }
.ui-dialog .ui-dialog-titlebar { padding:13px 1em 4px 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .1em 0; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: -8px; top:-8px; width:32px; height: 32px;z-index:10000;background-image: url(../images/popup_close.png); }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin:1px; }

.ui-dialog .ui-dialog-content { position: relative; border: 0; padding:10px 20px; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }


.digest_coll{ padding:5px 0;}
.digest_coll h5{font-weight:normal; font-size:1.2em;}
.digest_coll img{width:80px; height:58px; float:left;padding:0 10px 0 0;}
.save_popup{}
.save_popup h4{clear:both; text-transform:uppercase; margin:15px 0 0 0; }
.save_popup input{clear:both; width:97%; margin:5px 0 0 0;padding:2px 1%;  }
.save_popup select{clear:both; width:100%; margin:5px 0 0 0;}
.save_popup textarea{clear:both; margin:20px 0 0 0;width:97%;padding:5px 1%; color:#a5a5a5;  }
.save_popup textarea:focus  { color:#333; font-style: normal;}
a.new_link{ text-decoration:underline; font-size:12px;   color: #dd3f01; text-transform:lowercase; padding:0 0 0 10px;}
a.new_link:hover{ color:#000;}
a.space span{padding:4px 10px;}
a{outline:none;}
a.save_c{ background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), color-stop(0.5, rgba(255,255,255,0.15)), color-stop(0.5, rgba(255,255,255,0.01)), to(transparent));   background: transparent -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.01) 50%, transparent);  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorstr='#80FFFFFF', EndColorstr='#00FFFFFF');background-color: #078a8a;color:#fff;
line-height:21px;height:21px; display:block; padding:0 10px; float:left;text-align:center;  text-transform: uppercase;  text-decoration:none; margin:0 10px 0 0; font-weight:bold;font-size:0.9em;  -webkit-background-clip: padding-box; -webkit-border-radius:4px;
border-radius:4px;border:1px solid #636363; border-top:1px solid #9a9a9a;}
a.save_c:hover{ background-color:#dd3f01;}
p.buttons{padding:10px 0 0 0;}
p.buttons a.save{float:right;margin:0 0 0 10px;}

.ui-dialog .ui-dialog-title span{color:#dd3f01; text-transform:lowercase;}