/** about **/
.the_team{ 
margin:10px auto 20px auto;
padding: 15px;
-webkit-box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.4);
box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.4);
border-top: 1px solid #DDD;
background: white;
border: 1px solid #DDD\9;
position: relative;
}
.the_team img{float:left;margin:0 20px 0 0;}
.the_team p{padding:5px 0;}
.the_team h3{padding:5px 0;}

/** privacy **/
.privacy_item{ 
margin:10px auto 20px auto;
padding: 15px;
-webkit-box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.4);
box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.4);
border-top: 1px solid #DDD;
border-left: 1px solid #DDD;
background: white;
border: 1px solid #DDD\9;
position: relative; font-family: 'eb_garamondregular';font-size:14px;
}
.privacy_item h3{font-family: 'ralewayregular';}
.privacy_item p{padding:5px 0;}
.privacy_item ul{padding:0 10px;}
.privacy_item li{ list-style:inside; list-style-type: disc; }


/** home **/
#menu li a.head_btn2 span.orange{background-color:#E77D00;}
#menu li a.head_btn2 span.yellow{background-color:#DEB700;}
#menu li a.head_btn2 span.green{background-color:#336600;}
#menu li a.head_btn2 span.blue{background-color:#003366;}
#menu li a.head_btn2 span.indigo{background-color:#00004A;}
#menu li a.head_btn2 span.violet{background-color:#520052;}

h1.title{ text-transform:none;padding:15px 0;}
h1.title span{ font-weight:bold;}
.feature{background: -moz-linear-gradient(top, #fff, #cccccc);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #cccccc)); 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffffff', endColorstr='#cccccc', GradientType='0'); width:29.5%;margin:0 1% 10px 1%;padding:15px 1%; -webkit-box-shadow: 3px 2px 3px 1px rgba(0, 0, 0, 0.5);
box-shadow: 3px 2px 3px 1px rgba(0, 0, 0, 0.5); float:left; min-height:230px;
 position:relative; border: 1px solid #DDD\9;width:29.3%\9;}
*+html .feature{width:29%;}
.feature .num{width:62px;padding:15px 0 0 0;height:28px;background:url(../images/num_bg.png) no-repeat right bottom; position:absolute;right:0;bottom:0; font-size:24px; font-style:italic;  text-align:center; color:#fff;}
.feature:first-child{margin-left:0; }
.feature h1{font-weight:bold; line-height:1.2em;padding:0 0 8px 0;}
.join_us{background:#5f5f5f;-webkit-box-shadow: 3px 2px 3px 2px rgba(0, 0, 0, 0.7);
box-shadow: 3px 2px 3px 2px rgba(0, 0, 0, 0.7);margin:30px auto 10px auto;padding:20px; }

.join_us .video{ float:left;  width:510px; height:330px; }
.join_us .video span{width:500px; height:375px; border:2px solid #a9a9a9; background:#000; text-align:center; color:#FFFFFF; font-size:28px;  font-family: 'ralewayregular'; text-transform:capitalize; padding:50px 0 0 0; display:block; line-height:1.3em;}
/*.join_us .join_us_box{margin:0 0px 0 0 ;}*/
.join_us .join_us_box h3.title{ color:#FFFFFF;padding:10px 0;}
.join_us .join_us_box .facebook{width:52.5%; padding:15px 3% 0 3%;float:left;-webkit-box-shadow: 2px 5px 3px 1px rgba(0, 0, 0, 0.7);
box-shadow: 2px 5px 3px 1px rgba(0, 0, 0, 0.7); background: -moz-linear-gradient(top, #fff, #cccccc);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #cccccc)); 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffffff', endColorstr='#cccccc', GradientType='0'); -webkit-border-radius:10px;
border-radius:10px; min-height:110px;}
/*.join_us .join_us_box .email{width:41%; padding:15px 3% 0 3%; -webkit-box-shadow: 2px 5px 3px 1px rgba(0, 0, 0, 0.7);
box-shadow:2px 5px 3px 1px rgba(0, 0, 0, 0.7); background: -moz-linear-gradient(top, #fff, #cccccc);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #cccccc)); 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffffff', endColorstr='#cccccc', GradientType='0'); -webkit-border-radius:10px;
border-radius:10px;-moz-border-radius:10px;float:left;min-height:110px; margin-left:20px;}*/

.join_us .join_us_box ul{min-height:65px;}
.join_us .join_us_box  .submit_1{width:190px; margin:0 auto;}
.join_us .join_us_box  .submit_2{width:100px; margin:0 auto;}
.join_us .join_us_box h3{padding:5px 0;}
.join_us .join_us_box ul.info li{ list-style-type:disc; list-style:inside;font-size: 20px;margin-bottom: 22px;}
.join_us .join_us_box input{ background:#fff;border:1px solid #b4b5b8; line-height:20px;height:20px; width:97%;padding:0 1.5%; -webkit-border-radius:3px;
border-radius:3px; margin:5px 0;}

a.join_btn{ line-height:27px; margin:0;
  padding:0 0 0 18px; float:left;
  text-decoration:none;background:url(../images/btn_submit_l.png) no-repeat left top; outline:none; color:#fff;}
a.join_btn span {
      display:block;
      padding:0 28px 0 10px;
   background:url(../images/btn_submit_r.png) no-repeat right top;text-shadow: 1px 0px 1px #000000;
      }
a.join_btn:hover{
       background-position:0px -27px;
      }
a.join_btn:hover span{
      background-position:100% -27px;
      }

/** home search **/
.search_title{clear:both;height:30px;padding:5px 0;}
.search_title h1,.search_title h3{ font-weight:bold; margin-left:10px;}
.search_title h1 span,.search_title h3 span{color:#cb120e;}
 
.search_title a.login_btn{float:right;margin-top:-27px;margin-right:23px;}
.result{ 
margin:10px 1% 10px 1%;
padding:15px 2%;width:43.5%;
-webkit-box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.4);
box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.4);
border-top: 1px solid #DDD;
background: white;
border: 1px solid #DDD\9; height:145px;
float:left;}
.result img.pic{float:left;margin:9px 20px 10px 0;width:150px; height:96px;}
.result p.body_text{padding:5px 0; max-height:90px;overflow: auto; overflow-x:hidden;}
.result p.body_text span{color:#cb120e;}
.result h6{clear:both;padding:5px 15px 5px 0; position:relative; height:23px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; word-wrap:break-word;}
.result h6 img{ position:absolute; top:6px; right:0; cursor:help;}
.result h3{padding:5px 0 0 0; height:23px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; word-wrap:break-word;}
.result h3 span{color:#cb120e;}

.search_google{clear:both; padding:10px 0; margin-left:10px;}
.join_us .join_us_box .submit_1 {width: 190px;margin: 46px auto;}
