<script language="javascript">
function Remove() {
   var o_col = "Users";
   var d_col = "GroupUsers";
   o_sl = document.fm[o_col].selectedIndex;
   d_sl = document.fm[d_col].length;

   if (o_sl != -1 && document.fm[o_col].options[o_sl].value > "") {
     oText = document.fm[o_col].options[o_sl].text;
     oValue = document.fm[o_col].options[o_sl].value;
     document.fm[o_col].options[o_sl] = null;
     document.fm[d_col].options[d_sl] = new Option (oText, oValue, false, true);

     if (document.fm[d_col].options[0].value == 'none') {
	 document.fm[d_col].options[0] = null; }
   } else {
     alert("Please select a group first");
   }
}

function Add() {
   var o_col = "GroupUsers";
   var d_col = "Users";
   o_sl = document.fm[o_col].selectedIndex;
   d_sl = document.fm[d_col].length;

   if (o_sl != -1 && document.fm[o_col].options[o_sl].value > "") {
     oText = document.fm[o_col].options[o_sl].text;
     oValue = document.fm[o_col].options[o_sl].value;
     document.fm[o_col].options[o_sl] = null;
     document.fm[d_col].options[d_sl] = new Option (oText, oValue, false, true);

     if (document.fm[d_col].options[0].value == 'none') {
	 document.fm[d_col].options[0] = null; }
   } else {
     alert("Please select a group first");
   }
}

function About(col) {
   alert("not done yet");
}

function makeList(col)
{
  val = "";
  for (j=0; j<document.fm[col].length; j++) {
    if (val > "") { val += ","; }
    if (document.fm[col].options[j].value > "") val += document.fm[col].options[j].value;
  }
  return val;
}

function Save() {
  document.fm["GroupUsers_lst"].value = makeList("GroupUsers");
  document.fm.submit();
}

</script>
<blockquote>
<form name="fm" action="/servlet/Main" method=GET>
<input type="hidden" name="template" value="Taxonomy.EditGroupUsers">
<input type="hidden" name="GroupID" value="##GROUPID##">
<input type="hidden" name="GroupUsers_lst" value="">
<table><tr><td valign=middle><a href="javascript:Save();"><img src="/servlet/images/save.gif" alt="Save Changes" border=0> Save Changes</a></td></tr></table>
<table border=0 cellpadding=2 cellspacing=1 width="700">
<tr><td bgcolor="333399" align=center valign=top width="40%"><table border=0 cellspacing=0 cellpadding=2 width="100%">
<tr><td bgcolor=447777 align=center><font face="arial" size=-1 color="FFFFFF"><b>Users in ##GROUPNAME##</b></font></td></tr>
<tr><td align=center><table border=0 cellspacing=2 cellpadding=0><tr><td rowspan=2><select name="GroupUsers" size=10>
