<tr><td><input type="text" name="SubjectAreaNew"
               value="(New Subject Area)" size=30 maxsize=20 maxlength=20>
<SCRIPT>
function SaveNew() {
    var SubjectName = document.fm.SubjectAreaNew.value;
    window.location="/servlet/Main?template=Taxonomy.ViewSubjectArea&Action=save&SubjectName="+SubjectName;
}

</SCRIPT>
</td>
      <td align=center><select name="StatusNew"><option selected value=0>Off <option value=1>On</select>
      <td align=center><a href="javascript:SaveNew()"><img src="/servlet/images/save.gif" alt="Save Subject Area" border=0></a></td>
      <td align=center>&nbsp; </td>
</tr>
</table>
</form>
</blockquote>