</select></td><td valign=top>&nbsp; <br></td></tr><tr><td valign=bottom><br><spacer height=20><br></td></tr></table></td></tr></table></td></tr><tr>
<td align=center bgcolor=eeeeee><table border=0 cellpadding=2 cellspacing=0><tr><td></td><td><font face=Arial size=2><b>Remove User</b></font></td><td><a href="javascript:Add();"><img src="/servlet/images/rtc.gif" width=16 height=16 alt="Remove User" border=0></a></td></tr></table>
</td><td align=center bgcolor=eeeeee><table border=0 cellpadding=2 cellspacing=0><tr><td><a href="javascript:Remove();"><img type="image" src="/servlet/images/ltc.gif" width=16 height=16 alt="Add User" border=0></a></td><td><font face=Arial size=2><b>Add User to ##GROUPNAME##</b></font></td>
<td></td></tr></table></td></tr>
</table>
</form>
</blockquote>