<HTML><HEAD>
<TITLE>Front Page</TITLE>
<STYLE type="text/css">
<!--
.genrewb { FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: WHITE; FONT-FAMILY: Helvetica,Arial }
.advanced { FONT-WEIGHT: bolder; FONT-SIZE: 10pt; COLOR: BLACK; FONT-FAMILY: Helvetica,Arial }
.results { FONT-SIZE: 9pt; COLOR: BLACK; FONT-FAMILY: Helvetica,Arial }
-->
</STYLE>
</HEAD>
<BODY background="/servlet/images/schering/auto_bg.gif">
<table width=600 border=0>
<tr><td><img border=0 src="/servlet/images/schering/header.jpg"></td></tr>
<tr><td><hr></td></tr>
</table>

<BR><FONT face="Helvetica,Arial" size=-2>
&nbsp;&nbsp;
Taxonomy Server: Main Menu
</FONT>
<DIV align=left>
<TABLE border=0 width=750 cellspacing=0 cellpadding=0>
<TR bgColor=#329806 borderColor=#996600>
<TD align=left height=23><FONT face="Helvetica,Arial" color=white size=-1>
<B>&nbsp;&nbsp; Available Taxonomies</B></font> </td>
<td align=right><font size=-2 face="Helvetica,Arial">
<A class="genrewb" HREF="/servlet/Main?template=Taxonomy.ProjFront"><b><font size=-2 face="Helvetica,Arial">Home</font></b></a> |
<A class="genrewb" HREF="/servlet/Main?template=Taxonomy.EditUser"><b><font size=-2 face="Helvetica,Arial">Prefs</font></b></a> |
<A class="genrewb" HREF="/servlet/Main?template=Taxonomy.Administer"><b><font size=-2 face="Helvetica,Arial">Administer</font></b></a> |
<A class="genrewb" HREF="/servlet/Main?template=Server.Logout"><b><font size=-2 face="Helvetica,Arial">Logout</font></b></a> |
<A class="genrewb" HREF="/servlet/Main?template=Taxonomy.Help"><b><font size=-2 face="Helvetica,Arial">Help</font></b></a>
&nbsp; &nbsp;
</B></FONT></TD></TR></TBODY></TABLE>

<TABLE border=0 cellPadding=0 cellSpacing=0 width=750>
  <TR>
    <TD height=60 width=300>
      <FORM action="/servlet/Main" method=get>
      <FONT face="Helvetica,Arial" size=-1>
      <INPUT name=restrict type=hidden> 
      <INPUT name=exclude type=hidden>

     &nbsp; <FONT face="Helvetica,Arial" size=3>Welcome ##NAME##!</font> </td>
    <td height=60 valign=top align=right> <B><FONT face="Helvetica,Arial" size=-1>Search:</font></B>
<INPUT NAME="template" TYPE=HIDDEN  Value="Taxonomy.Search">
<INPUT NAME="CorpusID" TYPE=HIDDEN  value="0">
&nbsp; &nbsp; <INPUT maxLength=100 name=Keywords size=20>
      &nbsp; <INPUT name=Search type=submit value=Go>
<FONT face="Helvetica,Arial" size=-1>&nbsp;
<a class="advanced" href="/servlet/Main?template=Taxonomy.Search&advanced=true"><b>Advanced</b></a></FONT>
</FONT>
</td></tr>
</table>

<table width=750><tr><td valign=top>
