<!-- Taxonomy Box -->
<table width=301 bgcolor="#F0F0F0" border=1 bordercolor=000000><tr><td>
<table width=600 cellspacing=0>
<tr height=20><td bgcolor="#6987DF" colspan=2>
&nbsp; <b><font face="Helvetica,Arial" size=3 color="White">Schering Taxonomies</font></b>
</td></tr>
