<HTML>
<HEAD>
<TITLE>S-Book Editor's Companion</TITLE>
</HEAD>
<FRAMESET rows="240, 160">
      <FRAME name="node" src="edit-topic.cgi?##arguments##">
      <FRAME name="website" src="blank.html">
  <NOFRAMES>
  Sorry, the S-Book Editor's Companion requires frames.   Please contact your
  system administrator to install a frames capable browser.
  </NOFRAMES>
</FRAMESET>
</HTML>

