</td></tr></table>
<table width=90%><tr><td>
<font size=-1>
<BR><blockquote>
<b>Welcome</b> to the Surfablebooks.com Editor's companion.   
<P>
<UL>
    <LI> <a href="admin.html"> Administration utilities</a>
    <LI> <a href="blacklist.cgi"> Blacklist a domain or URL for an entire corpus</a>
    <LI> <a href="show-blacklist.cgi"> Show all current global blacklists</a>
    <!-- LI> <a href="x.cgi"> Kamu anjing-anjing gila</a> 
    <LI> <a href="x.cgi"> Begitu-sekali makan banyak</a --> 
</UL>
</font>
<P><font size=-1>
