<!-- vahead.tpl 
<form action="admin.cgi" method="get">
<input type="hidden" name="func" value="vea">
-->

<table border=0 width=70% align=center>
<tr><td><b>Editor Name</b></td><td><b>Action Completed</b></td><td><b>Date</b></td></tr>

