<FORM ACTION="/servlet/Main" METHOD="POST">
<script>
function EditResult () {
  var ww = 450, wh = 310;
  var wPos = 0;
  var lPos = 0;
  var url = "/servlet/Main?template=Taxonomy.EditResult&NodeID=##NODEID##&Score1=125.0&DocTitle=Untitled+Document&GenreID=##GENREID##&DocumentID=##DOCUMENTID##";

  if(screen) {
  wPos = (screen.width - ww)/2;
  lPos = (screen.height - wh)/2;
  }
  if (!window.SEwin) {
  // Not defined
  SEwin = window.open(url, "win", 'toolbar=0,directories=0,status=0,scrollbars=0,resizable=0,width='+ww+',height='+wh+',left='+wPos+',top='+lPos+',location=0');
  } else {
  // defined
  if (SEwin.closed) {
  // closed, open a new one
  SEwin = window.open(url, "win", 'toolbar=0,directories=0,status=0,scrollbars=0,resizable=0,width='+ww+',height='+wh+',left='+wPos+',top='+lPos+',location=0');
  }}
  SEwin.focus();
}
</script>

<DIV align=center>
</DIV><BR><FONT face="Arial, Helvetica, sans-serif">
&nbsp;&nbsp;
##CATEGORY_HIERARCHY##
</FONT>
<DIV align=left>

<TABLE border=0 width=760 cellspacing=0 cellpadding=0>
<TR bgColor=#333399 borderColor=#996600>
<TD align=left height=23><FONT face="Arial, Helvetica, sans-serif" color=white>
<B>&nbsp;&nbsp; ##NODETITLE## </td>
<td align=right>
<A class="genrewb" HREF="/servlet/Main">Home</a> |
<A class="genrewb" HREF="/servlet/Main?template=Taxonomy.Help&helptext=help-home">Help</a>
&nbsp; &nbsp;
</B></FONT></TD></TR></TBODY></TABLE>
<TABLE border=0 cellPadding=0 cellSpacing=0 width=700>
  <TR>
    <td height=10 valign=bottom> <B>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <FONT face="Helvetica,Arial" size=-1>Taxonomy Search:</font></B>
<INPUT NAME="template" TYPE=HIDDEN  Value="Taxonomy.FindCorpora">
<INPUT NAME="CorpusID" TYPE=HIDDEN  value="101">
&nbsp; &nbsp; <INPUT maxLength=100 name=Keywords size=40>
      &nbsp; <INPUT name=Search type=submit value=Go>
</td></tr>
</table>
</FORM>
<table width=765><tr><td>
<div align="center">
<img src="/servlet/images/spacer_blue.gif" width=700 height=1 alt="" border="0"></td></tr></table>
</TABLE>
