<SCRIPT LANGUAGE="JAVASCRIPT"> 

function Remove() {
   var col = "user";
   var sl = document.fm[col].selectedIndex;

     if (sl != -1) {
     if (confirm("You are about to delete the selected user.   User deletion is permanent, continue?")) {
         window.location = "/servlet/Main?template=Taxonomy.DeleteUser&UserID="+document.fm[col].options[sl].value;
}}}
function Explore() {
   var col = "user";
   var sl = document.fm[col].selectedIndex;

     if (sl != -1) {
         window.location = "/servlet/Main?template=Taxonomy.BrowseUser&UserID="+document.fm[col].options[sl].value;
    }
}
function Edit() {
   var col = "user";
   var sl = document.fm[col].selectedIndex;

     if (sl != -1) {
         window.location = "/servlet/Main?template=Taxonomy.EditUser&UserID="+document.fm[col].options[sl].value;
    }
}

function Add() {
    window.location = "/servlet/Main?template=Taxonomy.CreateUser";
}

</SCRIPT>

    <blockquote>
    <u><b>User List</b></u><p>
<form name="fm">
<table cellpadding=2 width=55% border=0>
  <tbody>
  <tr>
    <td valign=top width="15%">
