<table cellSpacing="0" cellPadding="0" width="640" bgColor="#ffffff" border="0">
	<tr>
		<td colSpan="2">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2" height="10">&nbsp;</td>
	</tr>
	<tr>
		<td colSpan="2">
		<table cellSpacing="0" cellPadding="0" width="640" border="0">
			<tr>
				<td width="600" style="FONT-SIZE: 10pt; FONT-FAMILY: Verdana">
					&nbsp; &nbsp; Re-run, delete, or change the frequency of the E-mail alerts.
				</td>
				<td width="50" align="left" valign="top">&nbsp;
				</td>
			</tr>
		</table>
	</td>
	</tr>
	<tr>
	<td colspan="2" align="middle">
	<p>

<br>
<script language="javascript">
function DeleteIt(ID) {
	if( confirm("Are you sure that you want to delete this Saved Query / Alert?") )
		window.location="/servlet/Main?template=Taxonomy.EditUser&page=alerts&delete=true&EID=" + ID;
}
function EditIt(ID, RunWidget) {
	var Freq = RunWidget.value;
	if (Freq == null) {
		Freq = RunWidget.options[RunWidget.selectedIndex].value;
	}				
	
	window.location="/servlet/Main?template=Taxonomy.EditUser&page=alerts&edit=true&EID="+ID+"&RunFreq="+Freq;
}
</script>

  <table width="640" border="0">
	<tr><td style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px">
		<b>Recipient E-mail Address:</b> 
		<a href="mailto:##EMAIL##">
		   ##EMAIL##</a></td>
	<td style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px"> &nbsp;	
		<b>Alert created by:</b> 
		<a href="mailto:##EMAIL##">
		##EMAIL##</a>
	</td></tr></table>
	<table width="640" border="0" bordercolor="08427b" cellpadding="3" cellspacing="0">
		<tr>
		<td align="center" width="75" bgcolor="cccccc"> &nbsp; </td>
		<td align="center" bgcolor="cccccc" width="175" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px"><b>Saved Query Name</b></td>	
		<td align="center" bgcolor="cccccc" width="325" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px"><b>Notes</b></td>
		<td align="center" bgcolor="cccccc" width="125" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px"><b>Alert Frequency</b></td>
		<td align="center" bgcolor="cccccc" width="75" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px"><b>Mod Date</b></td>
		</tr>
