<blockquote>
<form name="fm" action="/servlet/Main" method=post>
<input type="hidden" name="template" value="##FormPost##">
<input type="hidden" name="UserID" value="##ID##">
<p>
<table border=0 cellpadding=2 cellspacing=2>
<tr><td><b><font color=black face="Arial" size=-2>Full Login Name:</font></td>
<td>##ID## &nbsp;</td>
<td><b><font color=black face="Arial" size=-2>Full Name:</font></td>
<td>##NAME## &nbsp;</td></tr>
<tr><td><b><font color=black face="Arial" size=-2>E-mail Address:</font></td>
<td>##EMAIL##</td>
<td><b><font color=black face="Arial" size=-2>Scoring Threshold: &nbsp;</font></td>
<td>
##SCORETHRESHOLD##
</td></tr>
<tr><td><b><font color=black face="Arial" size=-2>User Status: &nbsp;</font></td>
      <td> ##USERSTATUS## </td>
      <td><b><font color=black face="Arial" size=-2>Alert Status: &nbsp;</font></td>
      <td> ##EMAILSTATUS## </td>
</tr>
<tr><td><b><font color=black face="Arial" size=-2>Results per Page: &nbsp;</font></td>
<td>
##RESULTSPERPAGE##
</td>
<td> &nbsp; </td></tr>
</table>
##SETRESULTS##
<P>
