<BR>
<table width=650><tr><td>
<blockquote>
<font face="Arial, Helvetica" size=3>
<b>Custom CQL Query</b>
</font>
<P>
<font face="Arial, Helvetica" size=2>
<b>Instructions</b>: Please use the text box below to formulate your query.  For more
information about CQL, please see the ITS User's Manual.
<br>
<form method=post action="/servlet/Main">
<input type="hidden" name="template" value="Taxonomy.CQL">
<textarea name="query" cols="80" rows="4"></textarea>
<br><input type="submit" name="submit" value="SUBMIT CQL QUERY">
</form>
</font>
</blockquote>
</td></tr></table>
