<!DOCTYPE html>
<html>
	<head>

<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/jquery-1.8.2.min.js"></script>
<script src="https://s3.amazonaws.com/resourcesweb/$environment/js/jquery-ui.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/badbrowser.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39745928-1', 'whyknows.com');
  ga('send', 'pageview');

</script>
<script type="text/javascript">
  var _kmq = _kmq || [];
  var _kmk = _kmk || '$kissMetricId';
  function _kms(u){
    setTimeout(function(){
      var d = document, f = d.getElementsByTagName('script')[0],
      s = d.createElement('script');
      s.type = 'text/javascript'; s.async = true; s.src = u;
      f.parentNode.insertBefore(s, f);
    }, 1);
  }
  _kms('//i.kissmetrics.com/i.js');
  _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
</script>
<script type="text/javascript">
   #if($user.getUserId())
    _kmq.push(['identify', '$user.getUserId()']);
   #else
    _kmq.push(['identify', '']);
   #end
</script>
                <!-- add this parameters -->
                <meta property="og:title" content="$node.getTitle()" />
                <meta property="og:image" content=""/> 
                <meta property="og:description" content="$node.getDescription()" />


		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
		<title>$taxonomy.getName():$node.getTitle()</title>
                
             
                
		<!-- scripts -->
                <script type="text/javascript">
                    var CONTEXT_LINKAPEDIA = "$context";
                </script>
		<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/linkapedia.js"></script>
                <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/infinite.js"></script>
                <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/jquery.masonry.js"></script>
                <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/scrollable.js"></script>
                <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/bridgeNode.js"></script>
                <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/pageEvents.js" type="text/javascript"></script>
                <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/facebook.js" type="text/javascript"></script>
                <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/main.js" type="text/javascript"></script>
                <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/cloudsearch.js"></script>
                <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/map.js"></script>
                <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/menu-efects.js"></script>
                <!--<script src="https://s3.amazonaws.com/resourcesweb/$environment/js/menu-efects.js"></script>-->

		<!-- css -->
                <link rel="stylesheet" href="https://s3.amazonaws.com/resourcesweb/$environment/css/jquery-ui.css" />
                <link rel="icon" type="image/x-icon" href="https://s3.amazonaws.com/resourcesweb/$environment/images/favicon.ico" />
	        <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/common.css" rel="stylesheet" type="text/css" />
	        <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/main.css" rel="stylesheet" type="text/css" />
	        <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/linkapedia.css" rel="stylesheet" type="text/css" />
                <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/menu.css" rel="stylesheet" type="text/css" />
                <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/scrollable.css" rel="stylesheet" type="text/css" />
                <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/masonry.css" rel="stylesheet" type="text/css" />
                <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/infinite.css" rel="stylesheet" type="text/css" />
                <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/cloudsearch.css" rel="stylesheet" type="text/css" />
                <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/overlay.css" rel="stylesheet" type="text/css" />
                
                <!-- test mobile framework -->
		<!--<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>-->

		<script>
			$(document).ready(function(){	
				load();
                                loadBridgeNodePage();
                                infiniteNodeScroll('$node.getId()','$infiniteScrollInit','$infiniteScrollNobjects');
                                CONFIG_SEARCH.setTaxonomy('$taxonomy.getName()');
                                CONFIG_SEARCH.setAutocomplete();
                                CONFIG_SEARCH.isExecuteQuery2($searchQuery2);
                                CONFIG_SEARCH.setSelectorsToHidden([$("#content"),$("#menu"),$("#wrapper_infinite_scroll_loading")]);
                                CONFIG_SEARCH.setSelectorParent($("#wrapper"));
                                CONFIG_SEARCH.configureInfinite();
			});
		</script>
	</head>

    <body>
<div id="fb-root"></div>
<script>FacebookInit($clientId)</script>
        <div id="wrapper">
<div id="containTopMenu" currentpage="bridgepage">
            <!--header start-->
            <ul id="header" class="stalk">
                <li class="logo"><a href="$context/home"><img src="https://s3.amazonaws.com/resourcesweb/$environment/images/logo.png" alt="Logo"/></a> </li>
                <li class="login">
                #if($user.getUserRole().getUserRole()!="guest")
                 <a  href="$context/Logout" class="logout" >Sign Out</a> 
                #else
                 <a  href="#" onclick="login()" ><img src="https://s3.amazonaws.com/resourcesweb/$environment/images/fb_login.png"  alt="Login"/></a> 
                #end
                </li>
                #if($user.getUserRole().getUserRole()!="guest")
                <li class="user">
                <a href="$context/ProfileCreation?userId=$user.getUserId()"><img src="http://graph.facebook.com/$user.getFacebookCredentials().getProperty("fbId")/picture?type=small" /></a>
                <span>Welcome</span>
                <div>$user.getName()</div>
                </li>
                #end
                <li class="links"> <a href="$context/OtherPages?page=about">About</a> | <a href="$context/OtherPages?page=privacy">Privacy</a></li>                <li class="search">
                    <input id="searchtxt" name="" type="text" class="search_input" value="" />
                </li>
            </ul>
            <!--header end-->



            <!--menu start-->
            <div id="menu" class="stalk">
                
                #if($showLevel1)
                <!-- level 1 -->
                <div class="wrap">

                    <a class="arrowPrev1 prev-page prev-scrollable disabled-scrollable"></a> 
                    <a class="arrowNewxt1 next-page next-scrollable disabled-scrollable"></a>

                    <div class="menuButton" >
                        <a href="$context/page/$level1.get(0).getEncodeName()/$level1.get(0).getNodeId()" title="$level1.get(0).getName()">  
                            <span>
                                $level1.get(0).getName()
                            </span>
                        </a>
                        
                    </div>
                     #if ($level1.size()>1)
                    <div id="slider1" class="scrollable">
                        <div class="items">

                         #set($firstItem = true)
                            #foreach( $l1 in $level1 )
                                #if($firstItem)
                                    #set($firstItem=false)
                                #else
                                 <div class="menuButton2" >
                                    <a href="$context/page/$l1.getEncodeName()/$l1.getNodeId()" title="$l1.getName()">
                                        <span>
                                        $l1.getName()
                                        </span>
                                    </a>
                                 </div>
                                #end
                            #end
                           

                        </div>
                    </div>
                    #end

                </div>
                #end


                 <!-- level 2 -->
                <div class="wrap">

                    <a class="arrowPrev1 prev-page prev-scrollable disabled-scrollable"></a> 
                    <a class="arrowNewxt1 next-page next-scrollable disabled-scrollable"></a>

                   <div class="menuButton" >
                   #if($showLevel1)
                    <a href="$context/page/$level1.get(0).getEncodeName()/$level2.get(0).getEncodeName()/$level2.get(0).getNodeId()" title="$level2.get(0).getName()">
                    #else
                    <a href="$context/page/$level2.get(0).getEncodeName()/$level2.get(0).getEncodeName()/$level2.get(0).getNodeId()" title="$level2.get(0).getName()">
                    #end
                            <span>
                                $level2.get(0).getName()
                            </span>
                        </a>
                        
                    </div>
                    #if ($level2.size()>1)
                    <div id="slider2" class="scrollable">
                        <div class="items">
                            
                             #set($firstItem = true)
                            #foreach( $l2 in $level2 )
                                #if($firstItem)
                                    #set($firstItem=false)
                                #else
                                 <div class="menuButton2" >
                                 #if($showLevel1)
                                    <a href="$context/page/$level1.get(0).getEncodeName()/$l2.getEncodeName()/$l2.getNodeId()" title="$l2.getName()">
                                 #else
                                    <a href="$context/page/$l2.getEncodeName()/$l2.getNodeId()" title="$l2.getName()">
                                 #end
                                    <span>
                                        $l2.getName()
                                        </span>
                                    </a>
                                 </div>
                                #end
                            #end

                        </div>
                    </div>
                    #end

                </div>

                  <!-- level 3 -->
                <div class="wrap">

                    <a class="arrowPrev1 prev-page prev-scrollable disabled-scrollable"></a> 
                    <a class="arrowNewxt1 next-page next-scrollable disabled-scrollable"></a>
                    
                    #if(!$hasChild)
                    <div class="menuButton" >
                        <a href="$context/page/$level2.get(0).getEncodeName()/$level3.get(0).getEncodeName()/$level3.get(0).getNodeId()" title="$level3.get(0).getName()">
                            <span>
                                $level3.get(0).getName()
                            </span>
                        </a>                        
                    </div>
                    #end
                    #if(!$hasChild)
                         #if ($level3.size()>1)
                         <div id="slider3" class="scrollable">
                            <div class="items">
                               #set($firstItem = true)
                               #foreach( $l3 in $level3)
                                   #if($firstItem)
                                       #set($firstItem=false)
                                   #else
                                    <div class="menuButton2" >
                                       <a href="$context/page/$level2.get(0).getEncodeName()/$l3.getEncodeName()/$l3.getNodeId()" title="$l3.getName()">
                                           <span>
                                           $l3.getName()
                                           </span>
                                       </a>
                                    </div>
                                   #end
                               #end
                            </div>
                         </div>
                        #end
                    #else
                         <div id="slider3" class="scrollable">
                            <div class="items">
                               #foreach( $l3 in $level3)
                                     <div class="menuButton2" >
                                      <a href="$context/page/$level2.get(0).getEncodeName()/$l3.getEncodeName()/$l3.getNodeId()" title="$l3.getName()">
                                           <span>
                                           $l3.getName()
                                           </span>
                                       </a>
                                    </div>     
                               #end
                            </div>
                         </div>
                    #end
                </div>

                <div id="buttonCloseOpenMenu" class="handle"></div>
            </div>
            <!--menu end-->
</div>
            <div id="content" class="clearfix">
                <div class="adsenseRightBridgeNode" style="position:absolute;margin-left: 85%;">
                    <script type="text/javascript"><!--
                    google_ad_client = "ca-pub-1595717843634953";
                    /* BridgeNodeRight */
                    google_ad_slot = "5096023225";
                    google_ad_width = 160;
                    google_ad_height = 600;
                    //-->
                    </script>
                    <script type="text/javascript"
                    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                    </script>
                </div>
                <div class="intro">
                    <h1><strong>Topics in <span class="red"><a class="titleNodeLinkpage" target="_blank" href="https://www.google.com/search?q=$node.getTitle()">$node.getTitle()</a></span></strong><img class="oneclicksearch" src="https://s3.amazonaws.com/resourcesweb/newdev/images/oneclicksearch.png" /></h1>
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style" style="margin-top:14px;">
                    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                    <a class="addthis_button_pinterest_pinit"></a>
                    <a class="addthis_button_tweet"></a>
                    <a class="addthis_counter addthis_pill_style"></a>
                    </div>
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=undefined"></script>
                    <!-- AddThis Button END -->
                    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                    <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-506b79ce40993638"></script>
                    <script type="text/javascript">
                        var addthis_config = addthis_config||{};
                        addthis_config.data_track_addressbar = false;
                    </script>
                    <!-- AddThis Button END -->
                    #if($hasChild)
                    <p class="body_text" style="width:88%;">$nodeDesc</p>
                    #else
                    <p class="body_text" style="width:88%;">$emptyNodeMessage</p>
                    #end    
                </div>
                <!--topics start-->
                 #set($ext=".jpg")
                 #set($imgNumber="_0")
                <div id="bridgeNodeContent" class="clearfixM fluid"> 
                 #foreach( $son in $children )	
                <div class="topics2 boxBridgeNode">
                   
                       <img src="$son.getImageSrc()" alt="" class="pic_bg" />
                       <div class="text_bg1 text_bg2"></div>
                        <div class="topics_text">
                            <div class="topics_title">
    
                                    <a href="$context/page/$level2.get(0).getEncodeName()/$son.getEncodeName()/$son.getNodeId()">
                                 
                             $son.getName()
                             </a> 
                            </div>
                            <p class="body_text body_text2">$son.getDescription()</p>
                        </div>
                    
                </div>
                 #end
                 </div>

                <!--topics end-->

            </div>
        </div>
           
           <!-- infinite scroll -->
           <div id ="wrapper_infinite_scroll_loading">
                <div id="infinite_scroll_loading">
                      <img  src="https://s3.amazonaws.com/resourcesweb/$environment/images/infinite.gif" />
                </div>
           </div>
    </body>

</html>







