<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/badbrowser.js"></script>
#set($extJPEG=".jpg")
#set($extPNG=".png")
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39745928-1', 'whyknows.com');
  ga('send', 'pageview');

</script>
<script type="text/javascript">
  var _kmq = _kmq || [];
  var _kmk = _kmk || '$kissMetricId';
  function _kms(u){
    setTimeout(function(){
      var d = document, f = d.getElementsByTagName('script')[0],
      s = d.createElement('script');
      s.type = 'text/javascript'; s.async = true; s.src = u;
      f.parentNode.insertBefore(s, f);
    }, 1);
  }
  _kms('//i.kissmetrics.com/i.js');
  _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
</script>
<script type="text/javascript">
   #if($user.getUserId())
    _kmq.push(['identify', '$user.getUserId()']);
   #else
    _kmq.push(['identify', '']);
   #end
</script>


                <!-- add this parameters -->
                <meta property="og:title" content="$title" />
                <meta property="og:image" content="$urlImage" /> 
                <meta property="og:description" content="$EscapeSeo.scapeHtml($digestObject.getDocDigest())" /> 
                
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
		<title>$title</title>
                                
           
                
		<!-- scripts -->
                <script type="text/javascript">
                    var CONTEXT_LINKAPEDIA = "$context";
                    var lastbreadcrumbswithchilds = "$lastbreadcrumbswithchilds";
                </script>
    		<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/scrollable.js"></script>
		<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/linkapedia.js"></script>
		<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/jquery.masonry.js"></script>
                <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/infinite.js"></script>
                <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/facebook.js" type="text/javascript"></script>
                <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/cloudsearch.js"></script>
                <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/pageEvents.js" type="text/javascript"></script>

                <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/jquery.fancybox.js" type="text/javascript"></script>
                <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/collectionsApi.js" type="text/javascript"></script>
                <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/dialogs.js" type="text/javascript"></script>                
                <!--<script src="http://localhost/js/menu-efects.js" type="text/javascript"></script>-->
                <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/UTILS.js" type="text/javascript"></script>
                <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/jquery.cookie.js" type="text/javascript"></script>
       
		<!-- css -->
                <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/common_google.css" rel="stylesheet" type="text/css" />
                <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/main_google.css" rel="stylesheet" type="text/css" />                  
                <link rel="icon" type="image/x-icon" href="https://s3.amazonaws.com/resourcesweb/$environment/images/favicon.ico" />
                <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/jquery.fancybox.css" rel="stylesheet" type="text/css" />	        	        
	        <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/linkapedia.css" rel="stylesheet" type="text/css" />
                <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/masonry.css" rel="stylesheet" type="text/css" />                                
                <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/scrollable.css" rel="stylesheet" type="text/css" />
                <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/infinite.css" rel="stylesheet" type="text/css" />
                <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/cloudsearch.css" rel="stylesheet" type="text/css" />
                <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/collectionsDialogs.css" rel="stylesheet" type="text/css" />
                <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/overlay.css" rel="stylesheet" type="text/css" />
			
		<script>
			$(document).ready(function(){
                                //load the plugins
				load();
                                loadDigestPage(true);
                                CONFIG_SEARCH.setTaxonomy('$taxonomy.getName()');
                                CONFIG_SEARCH.isExecuteQuery2($searchQuery2);
                                CONFIG_SEARCH.setSelectorsToHidden([$("#content"),$("#menu")]);
                                CONFIG_SEARCH.setSelectorParent($("#wrapper"));
                                CONFIG_SEARCH.configureInfinite();
                                COLLECTION_DIALOG.config();
			});
		</script>
</head>
<body>
<div id="wrapper">
  <!--header start-->
  <ul id="header">
    <li class="logo"><a href="$context/home"><img src="https://s3.amazonaws.com/resourcesweb/$environment/images/logo.png" alt="Logo"/></a> </li>
    <li class="links"> <a href="$context/OtherPages?page=about&taxonomyName=$taxonomyName" style="color:white;">About</a> | <a href="$context/OtherPages?page=privacy&taxonomyName=$taxonomyName" style="color:white;">Privacy</a></li>
  </ul>
  <!--header end-->
  <!--content start-->
  <div id="content" class="content clearfix">
    <!--sidebar start-->
    <div id="sidebar_1">
      <div class="search">
        <h2>Search topics:</h2>
        <input id="searchtxt" name="" type="text" class="search_input" value="" onkeyup="CONFIG_SEARCH.search();"/>        
      </div>
      <!--table_of_contents start-->
      <div class="table_of_contents clearfix">
        <h2>Table of Contents</h2>
        <ul>
            #set($contnode = 0)
            #foreach($BreadCrumbs in $breadcrumbs)
                #if($contnode != 0)
                    <li>
                        <h5><a style="color:#0645ad;" href="$context/page/$EscapeSeo.escape($BreadCrumbs.getParent().getTitle())/$BreadCrumbs.getParent().getId()">$BreadCrumbs.getParent().getTitle()</a></h5>                                                       
                        #if($BreadCrumbs.getTotalChilds() > 0)
                            <a style="color:#0645ad;" id="$BreadCrumbs.getParent().getId()" href="#"  class="show3 showRelated_$BreadCrumbs.getParent().getId()" onclick="showRelated(this)">show related</a><a href="#" class="hide3" onclick="hiddenRelated(this)">hide related</a>
                        #end
                    </li>
                #end
                #set($contnode = $contnode+1)
            #end

            #foreach($BreadCrumbs in $breadcrumbs)
                <li id="related_$BreadCrumbs.getParent().getId()" class="listrelated">
                    <ul>
                      <li>
                        <hr>
                      </li>
                      #if($BreadCrumbs.getTotalChilds() > 0)
                            #foreach($NodeChild in $BreadCrumbs.getChilds())
                                <li><a style="color:#0645ad;" href="$context/page/$EscapeSeo.escape($NodeChild.getName())/$NodeChild.getNodeId()">$NodeChild.getName()</a></li>
                            #end                        
                      #end
                    </ul>
                </li>
            #end
        </ul>
      </div>
      <!--table_of_contents end-->      
    </div>
    <!--sidebar end-->
    <div id="body_content_1" class="clearfix">
      <ul class="location">
        #set($contnode=0)        

        #foreach($BreadCrumb in $breadcrumbs)
            #if($contnode == 0)
                <li><a class="breadcrumbs" href="$context/page/$EscapeSeo.escape($BreadCrumb.getParent().getTitle())/$BreadCrumb.getParent().getId()">$BreadCrumb.getParent().getTitle()</a></li>
            #else                
                <li> &gt; <a class="breadcrumbs" href="$context/page/$EscapeSeo.escape($BreadCrumb.getParent().getTitle())/$BreadCrumb.getParent().getId()">$BreadCrumb.getParent().getTitle()</a></li>
            #end
            #set($contnode=1)
        #end
      </ul>
      <h1>$title</h1>      
      <div class="main_digest">
        <p class="digest_text">            
            #if($urlImage)
                <img src="$urlImage" alt="" class="pic1"/>
            #end
            $digestObject.getDocDigest()
            <a style="color:#0645ad;position:absolute;margin-top:-17px;" id="seeOriginalSource" target="_blank" href=$urlSource>See orginal source</a>
        </p>        
      </div>
      <div class="contains_topics"><strong>Contains topics:</strong> 
            #set($conttopics=0)  
            #foreach( $NodeRelated in $digestObject.getNodesRelated())                
                #if($conttopics == 0)
                    <a class="breadcrumbs" href="$context/page/$NodeRelated.getEncodeTitle()/$NodeRelated.getId()" class="menuButton2">$NodeRelated.getTitle()</a>
                #else
                    , <a class="breadcrumbs" href="$context/page/$NodeRelated.getEncodeTitle()/$NodeRelated.getId()" class="menuButton2">$NodeRelated.getTitle()</a>
                #end
                #set($conttopics=1)
            #end        
      </div>
      <!--comments list start-->
      <div class="discuss">
      <div id="disqus_thread"></div>
        <script type="text/javascript">

        function disqus_config() {
                 
                 this.page.remote_auth_s3 = '$disqusMessage $disqusHMAC $disqusTimeStamp';
                 this.page.api_key = '$disqusPublicKey';

             this.callbacks.onNewComment = [function() { 
                _kmq.push(['record', 'MAKE COMMENT']);  //KISSMETRIC EVENT
                 }];

             
        }

            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'devbudd'; // required: replace example with your forum shortname
            var disqus_identifier='$docId';
           
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
         </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      </div>
      <!--comments list end-->
    </div>
  </div>
  <!--content end-->
</div>
</body>
</html>
