<TABLE width=700 cellspacing=0>
<TR><TD valign=top width=45>&nbsp; &nbsp; &nbsp; <input type=checkbox name="DocID##DOCUMENTID##"></TD>
<TD><FONT face="Arial, Helvetica" size=-1>
<STRONG><DL><DT width=5><A href="##DOCURL##" target="new"> ##DOCTITLE##</A></STRONG></FONT></TD>
<TD align=right width=115 valign=middle>&nbsp; <FONT face="Arial, Helvetica" size=-2>  ##SCORE## 
<!-- Score1: ##SCORE1## 
Score2: ##SCORE2## 
Score3: ##SCORE3##
Score4: ##SCORE4##
Score5: ##SCORE5##
Score6: ##SCORE6##
-->
      </NOBR> </FONT></TD></TR>
<TR>
    <TD valign=top>&nbsp; </TD><TD>
      <DL>
        <DT width=5><FONT face="Arial, Helvetica" size=-1>
	##DOCSUMMARY##
	<BR></FONT>
	<A href="##DOCURL##" target="new">
	##DOCURL##</A> &nbsp;<BR>
</FONT></DD></DL>
    </TD></TR>
</TABLE>