<table width=650><tr><td>

<!-- My Alerts -->
<table width=600 bgcolor="#F0F0F0" border=1 bordercolor=000000><tr><td>
<table width=600 cellspacing=0>
<tr height=20><td colspan=3 bgcolor="#6987DF">
&nbsp; <b><font face="Helvetica,Arial" size=3 color="White">My Alerts </font></b></td>
<td align=right bgcolor="#6987DF"><a class="genrewb" href="/servlet/Main?template=Taxonomy.EditUser&page=alerts">Modify your alerts</a>&nbsp;</td></tr>