<tr><td>

<!-- Project Box -->
<table width=600 bgcolor="#F0F0F0" border=1 bordercolor=000000><tr><td>
<table width=600 cellspacing=0>
<tr height=20><td colspan=3 bgcolor="#6987DF">
&nbsp; <b><font face="Helvetica,Arial" size=3 color="White">Projects: </font></b>
<select name="project" onchange="window.location = '/servlet/Main?template=Taxonomy.ProjFront&zzzid='+this.options[this.selectedIndex].value">
##PROJECTS##
</select>
</td>
<td align=right bgcolor="#6987DF"><a class="genrewb" href="/servlet/Main?template=Taxonomy.EditUser&page=alerts">Modify your alerts</a>&nbsp; </td></tr>
