<HTML><HEAD>
<TITLE>Schering: Making Medicine Work</TITLE>
<link rel="stylesheet" type="text/css" href="/servlet/images/schering/style.css" media="screen" />
<STYLE type="text/css">
<!--
.genrewb { FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: WHITE; FONT-FAMILY: Helvetica,Arial }
.advanced { FONT-WEIGHT: bolder; FONT-SIZE: 10pt; COLOR: BLACK; FONT-FAMILY: Helvetica,Arial }
.results { FONT-SIZE: 9pt; COLOR: BLACK; FONT-FAMILY: Helvetica,Arial }
-->
</STYLE>
</HEAD>
<BODY background="/servlet/images/schering/auto_bg.gif">
<form>
<table width=600 border=0>
<tr><td><img border=0 src="/servlet/images/schering/header.jpg"></td></tr>
<tr><td><hr></td></tr>
</table>

<BR><FONT face="Helvetica,Arial" size=-2>
&nbsp;&nbsp;
Taxonomy Server: Main Menu
</FONT>
<DIV align=left>
<TABLE border=0 width=750 cellspacing=0 cellpadding=0>
<TR bgColor=#329806 borderColor=#996600>
<TD align=left height=23><FONT face="Helvetica,Arial" color=white size=-1>
<B>&nbsp;&nbsp; Available Taxonomies</B></font> </td>
<td align=right><font size=-2 face="Helvetica,Arial">
<A class="genrewb" HREF="/servlet/Main?template=Taxonomy.ProjFront"><b><font size=-2 face="Helvetica,Arial">Home</font></b></a> |
<A class="genrewb" HREF="/servlet/Main?template=Taxonomy.EditUser"><b><font size=-2 face="Helvetica,Arial">Prefs</font></b></a> |
<A class="genrewb" HREF="/servlet/Main?template=Taxonomy.Administer"><b><font size=-2 face="Helvetica,Arial">Administer</font></b></a> |
<A class="genrewb" HREF="/servlet/Main?template=Server.Logout"><b><font size=-2 face="Helvetica,Arial">Logout</font></b></a> |
<A class="genrewb" HREF="/servlet/Main?template=Taxonomy.Help"><b><font size=-2 face="Helvetica,Arial">Help</font></b></a>
&nbsp; &nbsp;
</B></FONT></TD></TR></TBODY></TABLE>
    </div>

		<div id="menubar">
			<ul>
				<li><a href="/servlet/Main?template=Taxonomy.ProjFront&tab=1"><span>General</span></a></li>
				<li><a href="/servlet/Main?template=Taxonomy.ProjFront&tab=2"><span>Projects</span></a></li>
				<li><a href="/servlet/Main?template=Taxonomy.ProjFront&tab=3"><span>Products</span></a></li>
				<li id="current"><a href="/servlet/Main?template=Taxonomy.ProjFront&tab=4"><span>Taxonomies</span></a></li>
				<li id="menulink"><B>Search:</B> 
					<INPUT NAME="template" TYPE=HIDDEN  Value="Taxonomy.Search">
					<INPUT NAME="CorpusID" TYPE=HIDDEN  value="0">
					<INPUT maxLength=100 name=Keywords size=10>
      					&nbsp;<INPUT name=Search type=submit value=Go>  
						<img src="/servlet/images/schering/advanced.JPG" onClick="window.location='/servlet/Main?template=Taxonomy.Search&advanced=true';"> &nbsp;
					</li>
			</ul>
		</div>

</form>
<table width=762><tr><td>
		<h2 style="clear: both;">Taxonomies</h2>
</td></tr></table>
<blockquote>
