      <tr> 
        <td width="23%">&nbsp;</td>
        <td width="39%" bordercolor="#333399">
          <input type="checkbox" name="##GENRENAME##" 
            ##GENRECHECKED##>
         ##GENRENAME##</td>
