BODY {

	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Tahoma, Arial, SansSerif

}

.infotext {

	FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Arial, Helvetica, sans-serif

}

.infotitle {

	FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: #5b0000; FONT-FAMILY: Arial, Helvetica, sans-serif

}

.infotitle A {

	FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: #5b0000; FONT-FAMILY: Tahoma, Verdana, Arial, SansSerif

}

.infotitle A:active {

	FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: #5b0000; FONT-FAMILY: Tahoma, Verdana, Arial, SansSerif

}

.infotitle A:link {

	FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: #5b0000; FONT-FAMILY: Tahoma, Verdana, Arial, SansSerif

}

.infotitle A:visited {

	FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: #5b0000; FONT-FAMILY: Tahoma, Verdana, Arial, SansSerif

}

.infotitle A:hover {

	FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Tahoma, Verdana, Arial, SansSerif

}

.footer {

	FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: #5b0000; FONT-FAMILY: Arial, Helvetica, sans-serif

}

.footer A {

	FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: #5b0000; FONT-FAMILY: Verdana, Tahoma, Arial, SansSerif

}

.footer A:active {

	FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: #5b0000; FONT-FAMILY: Verdana,Tahoma,  Arial, SansSerif

}

.footer A:link {

	FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: #5b0000; FONT-FAMILY: Verdana, Tahoma, Arial, SansSerif

}

.footer A:visited {

	FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: #5b0000; FONT-FAMILY: Verdana, Tahoma, Arial, SansSerif

}

.footer A:hover {

	FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: gray; FONT-FAMILY: Verdana, Tahoma, Arial, SansSerif

}

.infomainlink {

	FONT-WEIGHT: bolder; FONT-SIZE: 10pt; COLOR: #5b0000; FONT-FAMILY: Arial, Helvetica, sans-serif

}

.infomainlink A {

	FONT-WEIGHT: bolder; FONT-SIZE: 10pt; COLOR: #5b0000; FONT-FAMILY: Tahoma, Verdana, Arial, SansSerif

}

.infomainlink A:active {

	FONT-WEIGHT: bolder; FONT-SIZE: 10pt; COLOR: #5b0000; FONT-FAMILY: Tahoma, Verdana, Arial, SansSerif

}

.infomainlink A:link {

	FONT-WEIGHT: bolder; FONT-SIZE: 10pt; COLOR: #5b0000; FONT-FAMILY: Tahoma, Verdana, Arial, SansSerif

}

.infomainlink A:visited {

	FONT-WEIGHT: bolder; FONT-SIZE: 10pt; COLOR: #5b0000; FONT-FAMILY: Tahoma, Verdana, Arial, SansSerif

}

.infomainlink A:hover {

	FONT-WEIGHT: bolder; FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Tahoma, Verdana, Arial, SansSerif

}

.infosublink {

	FONT-SIZE: 8pt; COLOR: #5b0000; FONT-FAMILY: Arial, Helvetica, sans-serif

}

.infosublink A {

	FONT-SIZE: 8pt; COLOR: #5b0000; FONT-FAMILY: Tahoma, Verdana, Arial, SansSerif

}

.infosublink A:active {

	FONT-SIZE: 8pt; COLOR: #5b0000; FONT-FAMILY: Tahoma, Verdana, Arial, SansSerif

}

.infosublink A:link {

	FONT-SIZE: 8pt; COLOR: #5b0000; FONT-FAMILY: Tahoma, Verdana, Arial, SansSerif

}

.infosublink A:visited {

	FONT-SIZE: 8pt; COLOR: #5b0000; FONT-FAMILY: Tahoma, Verdana, Arial, SansSerif

}

.infosublink A:hover {

	FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Tahoma, Verdana, Arial, SansSerif

}

.helptext {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; line-height: normal; font-weight: normal; color: #000000}
