<tr><td><input type="text" name="G##XGROUPID##"
               value="##GROUPNAME##" size=30 maxsize=20 maxlength=20>
<SCRIPT>
function Edit##XGROUPID##() {
    window.location="/servlet/Main?template=Taxonomy.EditGroupUsers&GroupID=##GROUPID##";
}
</SCRIPT>
</td>
      <td align=center><a href="javascript:Edit##XGROUPID##()"><img src="http://66.134.131.36/images/edit.gif" alt="Edit Group" border=0></a></td>
</tr>