<script>
function RemoveNode() {
   var col="nodes";  
   var sl = document.fm2[col].selectedIndex;

   if (sl != -1) {
      if (document.fm2[col].length==1) {
          document.fm2[col].options[0].text="";
          document.fm2[col].options[0].value=".none";
      } else {
          document.fm2[col].options[sl]=null; 
      } 
   }
}

function makeList(col) 
{
  val = "";
  for (j=0; j<document.fm2[col].length; j++) {
    if (val > "") { val += ","; }
    if (document.fm2[col].options[j].value > "") val += document.fm2[col].options[j].value;
  } 
  return val;
}

function Save() {
  document.fm2["nodes_hidden"].value = makeList("nodes"); 
  document.fm2.submit();
}

</script>
<form name="fm2" action="/servlet/Main" method=get>
<input type="hidden" name="nodes_hidden" value="">
<input type="hidden" name="template" value="##FormPost##">
<input type="hidden" name="UserID" value="##ID##">
<table width=52%><tr><td>&nbsp; &nbsp; <select name="nodes" size=10>
