<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/badbrowser.js"></script>

<script> 
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-39745928-2', 'buddhismplace.com'); ga('send', 'pageview');
</script>

<script type="text/javascript">
  var _kmq = _kmq || [];
  var _kmk = _kmk || '$kissMetricId';
  function _kms(u){
    setTimeout(function(){
      var d = document, f = d.getElementsByTagName('script')[0],
      s = d.createElement('script');
      s.type = 'text/javascript'; s.async = true; s.src = u;
      f.parentNode.insertBefore(s, f);
    }, 1);
  }
  _kms('//i.kissmetrics.com/i.js');
  _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
</script>
<script type="text/javascript">
     #if($user.getUserId())
    _kmq.push(['identify', '$user.getUserId()']);
   #else
    _kmq.push(['identify', '']);
   #end
</script>

    #set($extJPEG=".jpg")
    #set($extPNG=".png")
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">
                    

    <!-- STYLES -->
    <link rel="icon" type="image/x-icon" href="https://s3.amazonaws.com/resourcesweb/$environment/images/favicon.ico" />
    <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/commonProfile.css" rel="stylesheet" type="text/css" />
    <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/mainProfile.css" rel="stylesheet" type="text/css" />
    <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/subpageProfile.css" rel="stylesheet" type="text/css" />
   <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/masonry.css" rel="stylesheet" type="text/css" />

    <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/profile.css" rel="stylesheet" type="text/css" />
    <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/cloudsearch.css" rel="stylesheet" type="text/css" />
    <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/tiny-carrousel.css" rel="stylesheet" type="text/css" />
    <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/common.css" rel="stylesheet" type="text/css" />
    <!--<link href="http://localhost:8080/newDev/css/common.css" rel="stylesheet" type="text/css" />-->
    <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/main.css" rel="stylesheet" type="text/css" />
    

    <!-- JS -->
                <script type="text/javascript">
                    var CONTEXT_LINKAPEDIA = "$context";
                </script>
    <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/jquery.masonry.js"></script>

    <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/linkapedia.js"></script>

    <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/cloudsearch.js"></script>
    <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/main.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/facebook.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/ago.js"></script>
    <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/pageEvents.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/infinite.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/tiny-carrousel.js"></script>
    <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/jquery.dotdotdot-1.5.6.js" type="text/javascript"></script>
    <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/menu-efects.js" type="text/javascript"></script>
    <!--<script src="http://localhost:8080/newDev/js/menu-efects.js" type="text/javascript"></script>-->

    <!-- LOCAL TEST 
    <!--<script type="text/javascript" src="http://localhost/tiny-carrousel.js"></script>
    <link href="http://localhost/tiny-carrousel.css" rel="stylesheet" type="text/css" />-->
    
    <script>
        $(window).load(function(){
                //configure the search
                $('.titleCollection').dotdotdot({});
                $('.descriptionCollection').dotdotdot({});
                $('.digestDocument').dotdotdot({});

                CONFIG_SEARCH.setSelectorsToHidden([$(".content")]);
                CONFIG_SEARCH.setSelectorParent($("#wrapper"));
                CONFIG_SEARCH.setTaxonomy('$taxonomy.getName()');
                CONFIG_SEARCH.isExecuteQuery2($searchQuery2);
                CONFIG_SEARCH.configureInfinite();      
                
                //config events feed
                jQuery.timeago.settings.allowFuture = true;
                jQuery.timeago.settings.myTimeStamp = $timeStampServer;
                jQuery("abbr.timeago").timeago();

                PAGE_EVENTS.setMaxNumberOfUsersToShowFollowingUser($maxNumberOfUsersToShow);
                infiniteUserFeedScroll("$userToView.getUserId()","$init","$nObjects");

                $('.digest_rotator').tinycarousel({
                    duration: 500
                });
                loadProfilePage();
   
        });
    </script>
    
    <title>User Profile: $userToView.getName()</title>
</head>
<body>
<div id="fb-root"></div>
<script>FacebookInit($clientId)</script>
<div id="wrapper">
<div id="containTopMenu" currentpage="profilepage">
 <!--header start-->
                <ul id="header">
                    <li class="logo"><a href="$context/home"><img src="https://s3.amazonaws.com/resourcesweb/$environment/images/logo.png" alt="Logo"/></a> </li>
                    <li class="login">
                    #if($user.getUserRole().getUserRole()!="guest")
                     <a  href="Logout" class="logout" >Sign Out</a> 
                    #else
                     <a  href="#" onclick="login()" ><img src="https://s3.amazonaws.com/resourcesweb/$environment/images/fb_login.png"  alt="Login"/></a> 
                    #end
                    </li>
                    #if($user.getUserRole().getUserRole()!="guest")
                    <li class="user">
                    <a href="$context/ProfileCreation?userId=$user.getUserId()"><img src="https://graph.facebook.com/$user.getFacebookCredentials().getProperty("fbId")/picture?type=small" /></a>
                    <span>Welcome</span>
                    <div>$user.getName().</div>
                    </li>
                    #end
                     <li class="links"> <a href="OtherPages?page=about&taxonomyName=$taxonomyName">About</a> | <a href="OtherPages?page=privacy&taxonomyName=$taxonomyName">Privacy</a></li>
                    <li class="search">
                        <input id="searchtxt" name="" type="text" class="search_input" value="" onkeyup="CONFIG_SEARCH.search();"/>
                    </li>
                </ul>
                <!--header end-->
</div>
  <!--content start-->
  <div class="content clearfix" >
    <!--left start-->
    <div id="socialbar" class="profile_sidebar" >
      <div class="profile_pic"> 
        <img src="http://graph.facebook.com/$userToView.getFacebookCredentials().getProperty("fbId")/picture?type=large" />
        #if($userToView.getUserId()!=$user.getUserId())
          #if ($userAlreadyFollowing)
          <span id="followDate">Following since $timeUserStartFollowing </span>
          <a href="#" id='follow_unfollow_user' class="unfollow_user" onclick='PAGE_EVENTS.unFollowUser("$userToView.getUserId()")'>(Leave)</a>
          #else
          <span id="followDate"></span>
          <a href="#" id='follow_unfollow_user' class="follow_user" #if($user.getUserRole().getUserRole()=="guest") onclick="login()" #else onclick='PAGE_EVENTS.followUser("$userToView.getUserId()")' #end>Follow</a>
          #end
        #else
          <h3 style="text-align: center;"> My profile </h3>
        #end
      </div>
      <div class="view_list  clearfix">       
        <h2>Followers <span id="followers_count">$listFollowedUser.size()</span></h2>
        <ul id="user_followers">
            #set ($userFollowing=false)
                #foreach($followedUser in $listFollowedUser)
                    <li 
                     #if($followedUser.getFollowingUserId()==$user.getUserId())
                     #set ($userFollowing=true)
                     class="user_itself_following" 
                     #else 
                     class="user_following"
                     #end
                     >
                     <a href="$context/ProfileCreation?userId=$followedUser.getFollowingUserId()">
                    <img src="http://graph.facebook.com/$followedUser.getFollowingUserFbId()/picture?type=small" alt=""/>
                    </a>
                    </li>
                #end
           #if (!$userFollowing)
                <li class="user_itself_following" style="display:none"><a href="$context/ProfileCreation?userId=$user.getUserId()"><img src="http://graph.facebook.com/$user.getFacebookCredentials().getProperty("fbId")/picture?type=small" alt=""/> </a></li>
           #end
        </ul>
      </div>
      <div class="view_list  clearfix">
        <h2>FOLLOWING $listFollowing.size()</h2>
        <ul>
          #foreach( $following in $listFollowing )
               <li>   
                <a href="$context/ProfileCreation?userId=$following.getFollowedUserId()">
                <img src="http://graph.facebook.com/$following.getFollowedUserFbId()/picture?type=small" alt=""/>
                </a>
               </li>
          #end
        </ul>
      </div>
      <div id="collections">
        <h2> COLLECTIONS <span class="orange">$userToView.getFirstName()</span> FOLLOWS </h2>           
            #foreach($collection in $collectionfollows)
               <dl>
                 <dt>  <a href="$context/collection/$EscapeSeo.escape($collection.getInterestCollectionName())/$collection.getInterestCollectionId()"> $collection.getInterestCollectionName() </a> </dt>
                 <dd>
                   <h5>Curator: <a href="$context/ProfileCreation?userId=$collection.getOwnerId()">$collection.getOwnerName()</a></h5>
                   <p class="body_text">#if($collection.getInterestCollectionDescription())$collection.getInterestCollectionDescription()#end</p>
                 </dd>
               </dl>
           #end
      </div>
    </div>
    <!--left end-->
    <div class="clearfix profile_body">
      <!--menu start-->
      <div class="profile_menu">
        <h1> <span class="orange">$userToView.getFirstName()'S</span> INTERESTS</h1>
        <ul>
          #foreach( $list in $listUserNode )
             <li> <a href="$context/page/$EscapeSeo.escape($list.getNodeTitle())/$list.getNodeId()" class="head_btn2"><span class="orange_btn">$list.getNodeTitle()</span></a></li>          
          #end
        </ul>
        <div class="handle"></div>
      </div>
      <!--menu end-->
      <h1> <span class="orange">$userToView.getFirstName()'S</span> COLLECTIONS </h1>
        #if($mycollections.isEmpty())
            <h4 style="font-weight: bold; width: 100%; float: left;"> the user does't have collections </h4>
        #end
        #foreach($mycoll in $mycollections)
            <!-- verify if the collections is private -->

            #if($mycoll.getIsPrivate() && $mycoll.getOwnerId()!=$user.getUserId())
                
            #else
            <!--collection start-->
        <div id='collectionsUser' class="clearfixM fluid">
            <div class="collection" class="box col1" style="width: 394px;height:270px;">
              <div class="titleCollection" style='height: 50px;'><a href="$context/collection/$EscapeSeo.escape($mycoll.getInterestCollectionName())/$mycoll.getInterestCollectionId()"><h3> $mycoll.getInterestCollectionName() </h3></a></div>
              <div class="descriptionCollection" style='height: 50px;'><p class="body_text">#if ($mycoll.getInterestCollectionDescription()) $mycoll.getInterestCollectionDescription() #end</p></div>
                <div class="digest_rotator">
                  <span class="buttons prev scroll_left"></span>
                  <div class="viewport">
                     <ul class="overview">
                            #foreach($elementColl in $mycoll.getInterestCollectionElements())
                                    
                                    <li style="width: 371px;">
                                    <a style="text-decoration: none;" href="$context/digest/$EscapeSeo.escape($elementColl.getDocTitle())/$elementColl.getNodeId()/$elementColl.getDocId()">

                                        <img src="https://s3.amazonaws.com/documentimage/$elementColl.getDocId()$extJPEG" alt="" onerror="this.src='https://s3.amazonaws.com/resourcesweb/newdev/images/no_image.png'"/>
                                        <h5>$elementColl.getDocTitle()</h5>
                                        <div class="digestDocument" style='height: 110px;'><p class="body_text"> $elementColl.getDigestText()</p></div>
                                    </a>
                                    </li>
                                
                            #end
                     </ul>
                  </div>
                  <span class="buttons next scroll_right"></span>
                </div>
              </div>
              <!--collection end-->
           </div>
              #end
         #end
      <!--activity start-->
      <div class="activity_list">
        <h1> <span class="orange">$userToView.getFirstName()'S</span> ACTIVITY </h1>
        #foreach( $feed in $userFeeds )
            $ParserFeedProfile.parser($feed)
        #end
      </div>
      <!--activity end-->
      </div>

      <!--collection list end-->

    </div>
    <!--content end-->
  </div>
</div>
</body>
</html>
