<!-- manage-element.tpl -->
<tr><td>##CLASSIFIERNAME##</td>
      <td align=center>##STARCOUNT##</td>
      <td align=center>##COSTRATIOFPTOFN##</td>
      <td align=center>##CUTOFFSCOREGTE##</td>
      <td align=center>&nbsp; </td>
      <td align=center>&nbsp; </td>
</tr>