.sidebar_hs{float:left;width:270px;  }
.noti{padding:5px 0;}
.noti li{clear:both; float:left; padding:5px 0;width:100%;}
.noti li.joined{line-height:27px;}
.noti span{padding:0 5px 0 0;}
#socialbar p.body_text2, p.body_text2 { padding: 0 0 0 68px; }
.noti .time{font-size:0.8em;color: #666666;}
.foll_img{ height: 32px; width: 32px; float:left;}
.coll_img{ height: 47px; width: 60px;float:left;}
#socialbar p.foll, p.foll{ padding: 0 0 0 37px; }
#socialbar .noti h5{ font-weight:bold;}


.stream  .collection_box{height:270px;background: -moz-linear-gradient(top, #fff, #d9d9d9);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #d9d9d9)); 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffffff', endColorstr='#d9d9d9', GradientType='0'); 
}
.stream .collection_box .text .body_text{ height:auto; }
.stream .collection_box .text .height1{ height:147px; overflow:hidden; }
.stream .digest_rotator{min-height:auto;}
.fullsize{margin:0;} 
#header span.notifi{ display:block;  height:29px; width:26px; margin:1px 0 0 0;background:url(../images/note_img.png) no-repeat left bottom;  padding:0 2px; color:#fff; text-align:center; line-height:28px; cursor:pointer; font-size:0.8em;  }

.grad{background: -moz-linear-gradient(top, #fff, #bbbbbb);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #bbbbbb)); 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffffff', endColorstr='#bbbbbb', GradientType='0');}

.topic_droplist{ position:absolute; left:167px; top: 52px;  z-index:999;   padding:15px 15px 5px 15px;  font-weight:bold; -webkit-box-shadow: 3px 2px 3px 0 rgba(0, 0, 0, 0.7); box-shadow: 3px 2px 3px 0 rgba(0, 0, 0, 0.7);   height:auto;width:75%; } 
.topic_droplist li{padding: 0 7px 10px 3px;display:block;float:left;}
.topic_droplist li a.head_btn2{width:auto;} 
.topic_droplist li a.head_btn2 span{padding: 7px 18px; }
*+html .topic_droplist li a.head_btn2 span{ overflow: visible;}

.droplist2{ width:350px;  -webkit-border-radius:0 9px 9px 9px;  background:#f4f4f4;border-radius:0 9px 9px 9px; }

a.selected_topic{  background-color: #078a8a; color:#fff;}

.topic_dropdown span{ display:block; padding:5px 0;   float:left;}
.topic_dropdown a { display:block; padding:5px 5px; float:left; color:#cb120e;margin-left:3px; -webkit-border-radius:5px 5px 0 0;
border-radius:5px 5px 0 0; }
.topic_dropdown a:hover,.topic_dropdown .bg1 { color:#000; text-decoration:none;background: -moz-linear-gradient(top, #bbbbbb,#ffffff );
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #bbbbbb), color-stop(1, #ffffff)); 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbbbbb', endColorstr='#ffffff', GradientType='0'); }

.head_btn2 span.grey ,.head_btn2 span.grey:hover{
background-color:grey;
}


.noti_box{ padding:25px 0 0 0; position:absolute; top:-12px; left:113px;  z-index:10000;}
.noti_box .sidebar_hs{ position:relative; border:1px solid #c9c9c9; padding:10px; background:#fff; -webkit-background-clip: padding-box;  -webkit-border-radius:9px;
border-radius:9px; -webkit-box-shadow: 3px 2px 3px 1px rgba(0, 0, 0, 0.5);
box-shadow: 3px 2px 3px 1px rgba(0, 0, 0, 0.5);}
.noti_box .sidebar_hs .arrow{background:url(../images/arrow1_02.png) no-repeat; width:83px; height:25px; position:absolute; top:-25px; left:30px; display:block;}
.content{ position:relative;}

/****/
 .digest_rotator  {
    width: 232px;
   display: block; position: relative; 
}


.jcarousel-clip {
    z-index: 2;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.dig-list {
    z-index: 1;width: 850px; left: 0px;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.dig-list li,
.dig-item {
    float: left;
    list-style: none;
    width: 232px;
    height: 100px;
}

 
.jcarousel-next {
    z-index: 3;
    display: none;
}

.jcarousel-prev {
    z-index: 3;
    display: none;
}
 



.digest_rotator .jcarousel-clip-horizontal {
    width:  233px;
    height: 100px;
}

.digest_rotator .dig-item {
    width: 231px; 
    height: 100px;padding: 0 0 0 1px;
}

 
.digest_rotator .jcarousel-next-horizontal {
position: absolute;
right: -14px;
top: 0;
width: 14px;
height: 30px;
display: block;
background: url(../images/arrow_right2.png) no-repeat left top;
cursor: pointer;
}
 
 
.digest_rotator .jcarousel-prev-horizontal {
position: absolute;
left: -14px;
top: 0;
width: 14px;
height: 30px;
display: block;
background: url(../images/arrow_left2.png) no-repeat left top;
cursor: pointer;
}

 
 

.digest_rotator .jcarousel-prev-disabled-horizontal,
.digest_rotator .jcarousel-prev-disabled-horizontal:hover,
.digest_rotator .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}
 
 
 
a.selected_clear{   display:block;font-size:12px; padding:5px 30px 5px 10px; z-index:1000;margin:0; }
.topic_dropdown a.selected_clear:hover{background:none; }
.topic_dropdown a.selected_clear span{padding:0;}
.topic_droplist{background:#fff\9;}

 