<!-- dblhead.tpl -->
<form action="admin.cgi" method="get">
<input type="hidden" name="func" value="dbl">
Listed below are the domain names currently black listed for your product.  When a
domain name has been black listed, no document results will be listed in any topic
from this domain. 
<hr>
<table border=0 width=70% align=center>
<tr><td><b>Domain Name</b></td><td><b>Editor Name</b></td><td><b>Date Created</b></td><td align=center><b>Remove ?</b></td></tr>

