<table cellpadding=2 width="78%" border=0>
  <tbody> 
  <tr> 
    <td valign=top width="50%"> 
      <ul>
<li><font face="Arial, Helvetica, sans-serif"><font size = "-1"><a href = 'Benin/1.htm'<b>Benin</b></a></font>
<li><font face="Arial, Helvetica, sans-serif"><font size = "-1"><a href = 'Egypt/1.htm'<b>Egypt</b></a></font>
<li><font face="Arial, Helvetica, sans-serif"><font size = "-1"><a href = 'Ghana%20Empire/1.htm'<b>Ghana Empire</b></a></font>
<li><font face="Arial, Helvetica, sans-serif"><font size = "-1"><a href = 'Ife/1.htm'<b>Ife</b></a></font>
<li><font face="Arial, Helvetica, sans-serif"><font size = "-1"><a href = 'Kanem/1.htm'<b>Kanem</b></a></font>
<li><font face="Arial, Helvetica, sans-serif"><font size = "-1"><a href = 'Kush/1.htm'<b>Kush</b></a></font>
<li><font face="Arial, Helvetica, sans-serif"><font size = "-1"><a href = 'Mali%20Empire/1.htm'<b>Mali Empire</b></a></font>
<li><font face="Arial, Helvetica, sans-serif"><font size = "-1"><a href = 'Mansa%20Musa/1.htm'<b>Mansa Musa</b></a></font>
<li><font face="Arial, Helvetica, sans-serif"><font size = "-1"><a href = 'Menelik%20II/1.htm'<b>Menelik II</b></a></font>
<li><font face="Arial, Helvetica, sans-serif"><font size = "-1"><a href = 'Mfecane/1.htm'<b>Mfecane</b></a></font></ul>
    </td>
    <td valign=top width="50%"> 
      <ul>
<li><font face="Arial, Helvetica, sans-serif"><font size = "-1"><a href = 'Benin/1.htm'<b>Benin</b></a></font>
<li><font face="Arial, Helvetica, sans-serif"><font size = "-1"><a href = 'Egypt/1.htm'<b>Egypt</b></a></font>
<li><font face="Arial, Helvetica, sans-serif"><font size = "-1"><a href = 'Ghana%20Empire/1.htm'<b>Ghana Empire</b></a></font>
<li><font face="Arial, Helvetica, sans-serif"><font size = "-1"><a href = 'Ife/1.htm'<b>Ife</b></a></font>
<li><font face="Arial, Helvetica, sans-serif"><font size = "-1"><a href = 'Kanem/1.htm'<b>Kanem</b></a></font>
<li><font face="Arial, Helvetica, sans-serif"><font size = "-1"><a href = 'Kush/1.htm'<b>Kush</b></a></font>
<li><font face="Arial, Helvetica, sans-serif"><font size = "-1"><a href = 'Mali%20Empire/1.htm'<b>Mali Empire</b></a></font>
<li><font face="Arial, Helvetica, sans-serif"><font size = "-1"><a href = 'Mansa%20Musa/1.htm'<b>Mansa Musa</b></a></font>
<li><font face="Arial, Helvetica, sans-serif"><font size = "-1"><a href = 'Menelik%20II/1.htm'<b>Menelik II</b></a></font>
<li><font face="Arial, Helvetica, sans-serif"><font size = "-1"><a href = 'Mfecane/1.htm'<b>Mfecane</b></a></font></ul>
    </td>
  </tr>
  </tbody> 
</table>
