          <P align=center>&nbsp; </FONT></TD>
          <TD vAlign=top width="20%">
           <TABLE align=right border=1 borderColor=#cc6600 cellPadding=1 
            cellSpacing=0 width=160>
              <TBODY>
              <TR>
                <TD bgColor=#ffcc66>
                  <DIV align=center><B><FONT color=#ffffff><FONT color=#660033 
                  size=2>Read More About it</FONT></FONT></B> </DIV></TD></TR>
              <TR align=left vAlign=top>
                <TD class=infotext>
                  <P align=center><FONT size=2><B><BR><A 
                  href="http://store.worldbook.com/wb/"><IMG border=0 height=139 
                  src="/images/worldbook.gif" width=113></A> 
                  <BR><BR></B></FONT>You are surfing the <I><B>
                  ##corpus_long##</B></I> - <A 
                  href="http://store.worldbook.com/wb/">Click Here</A> to 
                  Purchase.</P>
                  <P align=center>&nbsp;</P>
                  <DIV align=center>
                  <TABLE align=center bgColor=#000000 border=0 cellPadding=1 
                  cellSpacing=0>
                    <TBODY>
                    <TR align=center>
                      <TD>
                        <DIV align=center>
                        <TABLE align=center bgColor=#ffffff border=0 
                        cellPadding=4 cellSpacing=0>
                          <TBODY>
                          <TR>
                            <TD align=left bgColor=#ffffff colSpan=2 
                              vAlign=top><FORM 
                              action=http://www.amazon.com/exec/obidos/external-search 
                              method=get><FONT face=verdana,arial,helvetica 
                              size=-2><INPUT name=mode type=hidden value=books> 
                              Search by keywords:<BR><INPUT name=keyword size=10 
                              value="##INDRATITLE##"> <INPUT name=tag type=hidden 
                              value=searchablebooks> <INPUT name=tag-id 
                              type=hidden value=searchablebooks> <INPUT 
                              name=placement type=hidden 
                              value=custom-search-go-btn.gif> <INPUT 
                              align=absMiddle border=0 height=21 name=Go 
                              src="/images/custom-search-go-btn.gif" 
                              type=image value=Go width=21> </FONT></FORM></TD></TR>
                          <TR>
                            <TD align=center bgColor=#000000 colSpan=2 
                            vAlign=top><A 
                              href="http://www.amazon.com/exec/obidos/redirect-home/searchablebooks?tag-id=searchablebooks&amp;placement=126X32-b-logo.gif&amp;site=amazon"><IMG 
                              alt="In Association with&#13;&#10;Amazon.com" 
                              border=0 height=32 hspace=0 
                              src="/images/126X32-b-logo.gif" 
                              width=126></A> 
                    </TD></TR></TABLE></DIV></TD></TR></TBODY></TABLE>
                  <P>&nbsp;</P></DIV></TD></TR></TBODY></TABLE></TD></TR></TABLE>
