<!-- manage-element.tpl -->
<SCRIPT>
function Delete##REPOSITORYID## () {
   if (confirm("If you delete this repository, you will also delete any folders watched by it.  Are you sure?")) {
	window.location = "/servlet/Main?template=Taxonomy.DeleteRepository&RID=##REPOSITORYID##";
   }
}
</SCRIPT>
<tr><td>##REPOSITORYNAME##</td>
      <td align=center>##REPOSITORYTYPE##</td>
      <td align=center>##REPOSITORYLOCATION##</td>
      <td align=center><a href="/servlet/Main?template=Taxonomy.EditRepository&RID=##REPOSITORYID##">
	<img src="/servlet/images/edit.gif" border=0></a></td>
      <td align=center><a href="javascript:Delete##RepositoryID##();">
	<img src="/servlet/images/delete.gif" border=0></a></td>
</tr>