<tr style="font-family:Verdana;">
<td align="Left" valign="Top" style="font-family:Verdana;font-size:10pt;width:585px;">

<a href="##DOCURL##" style="border-style:None;">
##DOCTITLE##</a><BR>
<span style="font-size:8pt;">
##DOCUMENTSUMMARY##
</span>
</td>
</tr>