<blockquote>
<FORM name=import action=/servlet/Main method=post encType=multipart/form-data>
<INPUT type=hidden value=Server.Explain name=template>
<INPUT type=hidden value=true name=ShowScores>
<INPUT type=hidden value=true name=post>
<b><u>Explain Classification of a Document</u></b> 
<p>
<table border=0 cellpadding=2 cellspacing=2>
<tr><td><b><font color=black face="Arial" size=-2>Explain Document:</B></font></td>
<td colspan=2><INPUT class=Wf id=attFbutton type=file name=import> </td>
<tr><td><b><font color=black face="Arial" size=-2>Node Identifier:</font></td>
<td colspan=3><input type="text" name="NodeID" size=20 maxlength=40 value=""> &nbsp;</td>
</tr>
</table>
<P>
<input type="submit" name="SUBMIT" value="EXPLAIN CLASSIFICATION">
</form>
