<blockquote>
<b>Active Folders</b>
<form name="fm"><br>
<table width=50%>
<tr><td><b><u>Folder Name</u></b></td>
      <td align=center><b>Status</b></td>
      <td align=center><b>Save</b></td>
      <td align=center><b>Delete</b></td>
</tr>
<tr><td>Commercial Web</td>
      <td>&nbsp; &nbsp; On</td>
      <td align=center>n/a</td>
      <td align=center>n/a</td>
</tr>


