<TABLE width=100% cellspacing=0>
  <TR>
    <TD><FONT face="Arial, Helvetica"
      size=-1><STRONG>&nbsp;&nbsp; 
      ##LOOPI##. 
      <A href="##DOCURL##">
      ##DOCTIT##</A>
      </STRONG></FONT></TD>
    <TD align=right><FONT face="Arial, Helvetica"
      size=-2>
      ##STARS## 
<!-- Score1: ##SCOREA## 
Score2: ##SCOREB## 
Score3: ##SCOREC##-->
      </NOBR> </FONT></TD></TR>
  <TR>
    <TD>
      <DL>
        <DD><FONT face="Arial, Helvetica" size=-1>
	##DOCSUM##
	<BR></FONT>
	<A href="##DOCURL##">
	##DOCURL##</A>
        &nbsp;<BR></FONT></DD></DL>
    </TD></TR>
</TABLE>
