<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/badbrowser.js"></script>

<script> 
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-39745928-2', 'buddhismplace.com'); ga('send', 'pageview');
</script>

<script type="text/javascript">
  var _kmq = _kmq || [];
  var _kmk = _kmk || '$kissMetricId';
  function _kms(u){
    setTimeout(function(){
      var d = document, f = d.getElementsByTagName('script')[0],
      s = d.createElement('script');
      s.type = 'text/javascript'; s.async = true; s.src = u;
      f.parentNode.insertBefore(s, f);
    }, 1);
  }
  _kms('//i.kissmetrics.com/i.js');
  _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
</script>
<script type="text/javascript">
     #if($user.getUserId())
    _kmq.push(['identify', '$user.getUserId()']);
   #else
    _kmq.push(['identify', '']);
   #end
</script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="icon" type="image/x-icon" href="https://s3.amazonaws.com/resourcesweb/$environment/images/favicon.ico" />
<link href="https://s3.amazonaws.com/resourcesweb/$environment/css/common_home_wiki.css" rel="stylesheet" type="text/css" />
<link href="https://s3.amazonaws.com/resourcesweb/$environment/css/scrollable_wiki.css" rel="stylesheet" type="text/css" />
<link href="https://s3.amazonaws.com/resourcesweb/$environment/css/main_home_wiki.css" rel="stylesheet" type="text/css" />
<link href="https://s3.amazonaws.com/resourcesweb/$environment/css/cloudsearch_wiki.css" rel="stylesheet" type="text/css" />
<link href="https://s3.amazonaws.com/resourcesweb/$environment/css/infinite_wiki.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        var CONTEXT_LINKAPEDIA = "$context";
    </script>
<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/main_wiki.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/scrollable_wiki.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/infinite_wiki.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/linkapedia_wiki.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/cloudsearch_wiki.js"></script>
  <script>
        $(window).load(function(){
            loadHomePage();
            CONFIG_SEARCH.setTaxonomy('$taxonomy.getName()');
            CONFIG_SEARCH.isExecuteQuery2($searchQuery2);
            CONFIG_SEARCH.setSelectorsToHidden([$("#homepage"),$("#wrapper_infinite_scroll_loading"),$("#big_img_home")]);
            CONFIG_SEARCH.setSelectorParent($("#wrapper"));
            CONFIG_SEARCH.configureInfinite();
        });
    </script>
</head>
<body style="background-color:#FFFFFF">
<div id="wrapper">
<div id="big_img_home" class="big_img">
<img src="https://s3.amazonaws.com/resourcesweb/$environment/images/homepage_image.png" alt="wine glass" />
</div>

<div id="homepage" class="content_bigimgB">
  <h1> <img src="https://s3.amazonaws.com/resourcesweb/$environment/images/homepage_logo.png" alt="Logo" /></h1>
    <h1> You don't have to be an expert to enjoy Buddhism </h1>
    <input id="searchtxt" name="" type="text" class="search_input" value="" onkeyup="CONFIG_SEARCH.search();"/>
    <p>&nbsp; </p>
    <h2>Click here to explore Buddhism:</h2>
   <a href="$context/page/buddhism/56425581" class="btn">Buddhism</a>
  </div>
</div>
</body>
</html>
