<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/badbrowser.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39745928-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript">
  var _kmq = _kmq || [];
  var _kmk = _kmk || '$kissMetricId';
  function _kms(u){
    setTimeout(function(){
      var d = document, f = d.getElementsByTagName('script')[0],
      s = d.createElement('script');
      s.type = 'text/javascript'; s.async = true; s.src = u;
      f.parentNode.insertBefore(s, f);
    }, 1);
  }
  _kms('//i.kissmetrics.com/i.js');
  _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
</script>
<script type="text/javascript">
     #if($user.getUserId())
    _kmq.push(['identify', '$user.getUserId()']);
   #else
    _kmq.push(['identify', '']);
   #end
</script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<link rel="icon" type="image/x-icon" href="https://s3.amazonaws.com/resourcesweb/$environment/images/favicon.ico" />
<link href="https://s3.amazonaws.com/resourcesweb/$environment/css/commonHome.css" rel="stylesheet" type="text/css" />
<!--<link href="http://localhost/css/commonHome.css" rel="stylesheet" type="text/css" />-->
<link href="https://s3.amazonaws.com/resourcesweb/$environment/css/scrollable.css" rel="stylesheet" type="text/css" />
<link href="https://s3.amazonaws.com/resourcesweb/$environment/css/mainHome.css" rel="stylesheet" type="text/css" />
<link href="https://s3.amazonaws.com/resourcesweb/$environment/css/subpageHome.css" rel="stylesheet" type="text/css" />
<link href="https://s3.amazonaws.com/resourcesweb/$environment/css/overlay.css" rel="stylesheet" type="text/css" />
<!--<link href="http://localhost/newDev/css/overlay.css" rel="stylesheet" type="text/css" />-->
<link href="https://s3.amazonaws.com/resourcesweb/$environment/css/masonry.css" rel="stylesheet" type="text/css" />
<link href="https://s3.amazonaws.com/resourcesweb/$environment/css/cloudsearch.css" rel="stylesheet" type="text/css" />
<link href="https://s3.amazonaws.com/resourcesweb/$environment/css/menu.css" rel="stylesheet" type="text/css" />
<!--<link href="http://localhost/css/menu.css" rel="stylesheet" type="text/css" />-->
    <script type="text/javascript">
        var CONTEXT_LINKAPEDIA = "$context";
    </script>
<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/scrollable.js"></script>
<script src="https://s3.amazonaws.com/resourcesweb/$environment/js/main.js" type="text/javascript"></script>
<script src="https://s3.amazonaws.com/resourcesweb/$environment/js/jquery.cookie.js" type="text/javascript"></script>
<!--<script src="http://localhost/newDev/js/jquery.cookie.js" type="text/javascript"></script>-->

<script src="https://s3.amazonaws.com/resourcesweb/$environment/js/pageEvents.js" type="text/javascript"></script>
<script src="https://s3.amazonaws.com/resourcesweb/$environment/js/facebook.js" type="text/javascript"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/jquery.masonry.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/linkapedia.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/cloudsearch.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/menu-efects.js"></script>
<!--<script type="text/javascript" src="http://localhost/js/menu-efects.js"></script>-->
  <script>
        $(window).load(function(){
            load();
            loadHomePage();
            CONFIG_SEARCH.setTaxonomy('$taxonomy.getName()');
            CONFIG_SEARCH.isExecuteQuery2($searchQuery2);
            CONFIG_SEARCH.setSelectorsToHidden([$("#homepage"),$("#menu")]);
            CONFIG_SEARCH.setSelectorParent($("#wrapper"));
            CONFIG_SEARCH.configureInfinite();
            
        });
    </script>
</head>
<body>

<div id="fb-root"></div>
<script>FacebookInit($clientId)</script>

<div id="wrapper">
<div id="containTopMenu" currentpage="homepage">
  <!--header start-->
       <ul id="header" class="stalk">
                    <li class="logo"><a href="$context/home"><img src="https://s3.amazonaws.com/resourcesweb/$environment/images/logo.png" alt="Logo"/></a> </li>
                    <li class="login">
                    #if($user.getUserRole().getUserRole()!="guest")
                     <a  href="$context/Logout" class="logout" >Sign Out</a> 
                    #else
                     <a  href="#" onclick="login('RootNodeId')" ><img src="https://s3.amazonaws.com/resourcesweb/$environment/images/fb_login.png"  alt="Login"/></a> 
                    #end
                    </li>
                    #if($user.getUserRole().getUserRole()!="guest")
                    <li class="user">
                    <a href="$context/ProfileCreation?userId=$user.getUserId()"><img src="http://graph.facebook.com/$user.getFacebookCredentials().getProperty("fbId")/picture?type=small" /></a>
                    <span>Welcome</span>
                    <div>$user.getName().</div>
                    </li>
                    #end
                     <li class="links"> <a href="$context/OtherPages?page=about&taxonomyName=$taxonomyName">About</a> | <a href="$context/OtherPages?page=privacy&taxonomyName=$taxonomyName">Privacy</a></li>
                    <li class="search">
                        <input id="searchtxt" name="" type="text" class="search_input" value="" onkeyup="CONFIG_SEARCH.search();"/>
                    </li>
                </ul>
  <!--header end-->
  <!--menu start-->
                <div id="menu">
                    #if($showLevel1)
                        <!-- level 1 -->
                        <div class="wrap">
                            <a class="arrowPrev1 prev-page prev-scrollable disabled-scrollable"></a> 
                            <a class="arrowNewxt1 next-page next-scrollable disabled-scrollable"></a>
                            <div class="menuButton" >
                                <a href="$context/page/$level1.get(0).getEncodeName()/$level1.get(0).getNodeId()" title="$level1.get(0).getName()">  
                                    <span>
                                        $level1.get(0).getName()
                                    </span>
                                </a>
                            </div>
                            #if ($level1.size()>1)
                                <div id="slider1" class="scrollable">
                                    <div class="items">
                                         #set($firstItem = true)
                                         #foreach( $l1 in $level1 )
                                            #if($firstItem)
                                                #set($firstItem=false)
                                            #else
                                                <div class="menuButton2" >
                                                    <a href="$context/page/$l1.getEncodeName()/$l1.getNodeId()" title="$l1.getName()">
                                                        <span>
                                                            $l1.getName()
                                                        </span>
                                                    </a>
                                                </div>
                                            #end
                                        #end
                                    </div>
                                </div>
                            #end
                        </div>
                    #end
                    <!-- level 2 -->
                    <div class="wrap">
                        <a class="arrowPrev1 prev-page prev-scrollable disabled-scrollable"></a> 
                        <a class="arrowNewxt1 next-page next-scrollable disabled-scrollable"></a>
                        <div class="menuButton" >
                            #if($showLevel1)
                                <a href="$context/page/$level1.get(0).getEncodeName()/$level2.get(0).getEncodeName()/$level2.get(0).getNodeId()" title="$level2.get(0).getName()">
                            #else
                                <a href="$context/page/$level2.get(0).getEncodeName()/$level2.get(0).getNodeId()" title="$level2.get(0).getName()">
                            #end                        
                            <span>
                                $level2.get(0).getName()
                            </span>
                            </a>
                        </div>
                        #if ($level2.size()>1)
                            <div id="slider2" class="scrollable">
                                <div class="items">
                                    #set($firstItem = true)
                                    #foreach( $l2 in $level2 )
                                        #if($firstItem)
                                            #set($firstItem=false)
                                        #else
                                            <div class="menuButton2" >
                                                #if($showLevel1)
                                                    <a href="$context/page/$level1.get(0).getEncodeName()/$l2.getEncodeName()/$l2.getNodeId()" title="$l2.getName()">
                                                #else
                                                    <a href="$context/page/$l2.getEncodeName()/$l2.getNodeId()" title="$l2.getName()">
                                                #end                                    
                                                <span>
                                                    $l2.getName()
                                                </span>
                                                </a>
                                            </div>
                                        #end
                                    #end
                                </div>
                            </div>
                        #end
                    </div>
                    <!-- level 3 -->
                    <div class="wrap">
                        <a class="arrowPrev1 prev-page prev-scrollable disabled-scrollable"></a> 
                        <a class="arrowNewxt1 next-page next-scrollable disabled-scrollable"></a>
                       
                            <div id="slider3" class="scrollable">
                                <div class="items">
                                    #foreach( $l3 in $level3)
                                        <div class="menuButton2" >
                                            <a href="$context/page/$level3.get(0).getEncodeName()/$l3.getEncodeName()/$l3.getNodeId()" title="$l3.getName()">
                                                <span>
                                                    $l3.getName()
                                                </span>
                                            </a>
                                        </div>     
                                    #end
                                </div>
                            </div>
                        
                    </div>
                    <div id="buttonCloseOpenMenu" class="handle"></div>	
                 </div>
                <!--menu end-->
</div>
  <!--homepage start-->
  <div class="content clearfix" id="homepage"><!--
    <h1 class="title">What is <span>$EnvironmentTools.getNameCalidoso()</span>? It's a place to: </h1>
    <div class="knomor_feature clearfix">
      <div class="feature">
        <h1>DISCOVER NEW INTERESTS</h1>
        <p class="body_text">Search is great when you know the keywords but what do you do when you are new to a topic or looking to explore and learn what you don't know? </p>
        <p class="body_text"> $EnvironmentTools.getNameCalidoso()'s interest map is the answer. Browse your interests or jump to a specific point, the Interest Map is always showing you adjacent topics related to your interest. Know what don't know </p>
        <span class="num">1</span> </div>
      <div class="feature">
        <h1> CURATE YOUR INTERESTS</h1>
        <p class="body_text"> As you find new content and discover new interests you'll want a way to store and share what you've found. We call these Interest Pages. They are collections of content you discover on $EnvironmentTools.getNameCalidoso() you can organize, share, and discuss with other $EnvironmentTools.getNameCalidoso() users.</p>
        <span class="num">2</span> </div>
      <div class="feature">
        <h1> JOIN COMMUNITIES OF INTEREST</h1>
        <p class="body_text"> Every point on the Interest Map  is a potential community of people interested in that very same topic. Join the topic and you'll receive the latest updates in that topic, meet others  who share your interest in that specific topic, share and connect with them.</p>
        <span class="num">3</span> </div>
    </div>
    <div class="join_us clearfix">
      <div class="video"> <span>WHAT IS<br />
        KNOWMOR VIDEO </span></div>
      <div class="join_us_box">
        <h3 class="title">Ready to start discovering, sharing, and connecting? Join $EnvironmentTools.getNameCalidoso()!</h3>
        <div class="facebook">
          <h3>Join with Facebook:</h3>
          <ul class="info">
            <li>Sign in securely with a single click</li>
            <li>Save &amp; share digests</li>
            <li>Control what is shared to Facebook</li>
            <li>Discuss and learn</li>
            <li>Create your own collections </li>
          </ul>
          <div class="submit_1">
             #if($user.getUserRole().getUserRole()=="guest")
             <a href="#" class="join_btn" onclick="login('RootNodeId')"><span>Sign up with Facebook</span></a>
             #end
         </div>
        </div>
        
      </div>
    </div>-->

    <div id="content_digests" style="width:92%;">
    <h1 class="title"> See what others are discovering on <span>$EnvironmentTools.getNameCalidoso()</span>!</h1>
    <div class="adsense" style="background-color:white;width:120px;height:600px;position:absolute;margin-top:16px;margin-left: 87%;">
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-1595717843634953";
    /* HomePageRight */
    google_ad_slot = "3758890829";
    google_ad_width = 120;
    google_ad_height = 600;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
    </div>
    <div id="digests"  class="clearfixM fluid">
      #set($linksHp=0)
               #foreach( $link in $links )
                #if($linksHp == 2)
                    <div class="box">
                        <script type="text/javascript"><!--
                        google_ad_client = "ca-pub-1595717843634953";
                        /* HomePageDigestLeft */
                        google_ad_slot = "8189090429";
                        google_ad_width = 234;
                        google_ad_height = 60;
                        //-->
                        </script>
                        <script type="text/javascript"
                        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                        </script>
                    </div>
                #end
                #if($linksHp == 3)
                    <div class="box">
                        <script type="text/javascript"><!--
                        google_ad_client = "ca-pub-1595717843634953";
                        /* HomePageDigestRight */
                        google_ad_slot = "6712357222";
                        google_ad_width = 234;
                        google_ad_height = 60;
                        //-->
                        </script>
                        <script type="text/javascript"
                        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                        </script>
                    </div>
                #end
                <div class="box $link.getCols()">
                        #set($docTitleEncode=$esc.url($link.getTitle()))
                        #set($linkSrcEncode=$esc.url($link.getLink()))
                        #if($link.getImageSrc())
                            #set($imageSrcEncode=$esc.url($link.getImageSrc()))
                            #set($digestUrl="DigestCreation?nodeId=$link.getNodeId()&docId=$link.getDocId()&docTitle=$docTitleEncode&imageSrc=$imageSrcEncode&linkSrc=$linkSrcEncode")
                            <a href="$digestUrl"><img class="linkImage" src="$link.getImageSrc()" width="inherit"/></a><br>
                        #else
                            #set($imageSrcEncode="null")
                        #end
                        #set($digestUrl="DigestCreation?nodeId=$link.getNodeId()&docId=$link.getDocId()&docTitle=$docTitleEncode&imageSrc=$imageSrcEncode&linkSrc=$linkSrcEncode")
                        <a href="$digestUrl"><h2>$link.getTitle()</h2></a><br>
                        <p class="body_text">
                            $link.getDigest()
                        </p>
                        <!--<ul class="buttons" style="float: right;">
                            <li>
                            <a href="javascript:void(0)" class="save_b"  onclick="login()" ><span>Save</span></a>
                            <a href="javascript:void(0)" class="add_b"  onclick="login()" ><span></span></a>
                            <a href="javascript:void(0)" class="remove_b"  onclick="login()" ><span></span></a>
                             </li>
                        </ul>-->
                </div>
                #set($linksHp=$linksHp+1)
             #end 
      </div>       
    </div>
  </div>
  <!--homepage end-->
</div>
</body>
</html>
