<tr><td><input type="text" name="G##GENREID##"
               value="##GENRENAME##" size=30 maxsize=20 maxlength=20>
<SCRIPT>
function Save##GENREID##() {
    var GenreName = document.fm.G##GENREID##.value;
    col="Status##GENREID##";  var Status = document.fm[col].value;
    window.location="/servlet/Main?template=Taxonomy.ViewGenre&Action=save&GenreStatus="+Status+"&GenreID=##GENREID##&GenreName="+GenreName;
}
function Delete##GENREID##() {
    if (confirm("Removing this folder will also remove all relationships that it has, including corpus relationships.   Continue?")) {
    window.location="/servlet/Main?template=Taxonomy.ViewGenre&Action=delete&GenreID=##GENREID##";
}}
</SCRIPT>
</td>
      <td align=center><select name="Status##GENREID##">##STATUS##</select>
      <td align=center><a href="javascript:Save##GENREID##()"><img src="/images/save.gif" alt="Save Folder" border=0></a></td>
      <td align=center><a href="javascript:Delete##GENREID##()"><img src="/images/delete.gif" alt="Delete Folder" border=0></a></td>
</tr>