      <tr valign=top><td colspan=2><font face=arial size=2>
      <b><u><a href="/servlet/Main?template=Taxonomy.DisplayResults&CorpusID=##CORPUSID##&Props=true">
	##CORPUS_NAME##</b></u><BR></font>
      </td></tr>
