TD {
	COLOR: black; FONT-FAMILY: Verdana,Tahoma,Arial,SansSerif; FONT-SIZE: 10pt
}
.copyright {
	COLOR: #000000; FONT-FAMILY: Verdana,Tahoma,Arial,SansSerif; FONT-SIZE: 10pt
}
A.subheadtxt:link {
	COLOR: #000000; FONT-FAMILY: Verdana,Tahoma,Arial,SansSerif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.subheadtxt:active {
	COLOR: #000000; FONT-FAMILY: Verdana,Tahoma,Arial,SansSerif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.subheadtxt:visited {
	COLOR: #000000; FONT-FAMILY: Verdana,Tahoma,Arial,SansSerif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.subheadtxt:hover {
	COLOR: #993300; FONT-FAMILY: Verdana,Tahoma,Arial,SansSerif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.footer {
	COLOR: #5b0000; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.footer A {
	COLOR: #5b0000; FONT-FAMILY: Verdana,Tahoma,Arial,SansSerif; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.footer A:active {
	COLOR: #5b0000; FONT-FAMILY: Verdana,Tahoma, Arial,SansSerif; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.footer A:link {
	COLOR: #5b0000; FONT-FAMILY: Verdana,Tahoma,Arial,SansSerif; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.footer A:visited {
	COLOR: #5b0000; FONT-FAMILY: Verdana,Tahoma,Arial,SansSerif; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.footer A:hover {
	COLOR: gray; FONT-FAMILY: Verdana,Tahoma,Arial,SansSerif; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
