<TABLE width=740 cellspacing=0>
<TR><TD valign=top width=45>&nbsp; &nbsp; &nbsp; <FONT face="Arial, Helvetica" size=-1><strong>##LOOPI##.</strong></FONT></TD>
<TD><FONT face="Arial, Helvetica" size=-1>
<STRONG><DL><DT width=5><A href="##DOCURL##"> ##DOCTITLE##</A></STRONG></FONT></TD>
<TD align=right width=115 valign=middle>&nbsp; <FONT face="Arial, Helvetica" size=-2>  ##STARS## &nbsp; 
      </NOBR> </FONT></TD></TR>
<TR>
    <TD valign=top>&nbsp; </TD><TD>
      <DL>
        <DT width=5><FONT face="Arial, Helvetica" size=-1>
	##DOCSUMMARY##
	<BR></FONT>
	<A href="##DOCURL##">
	##PDOCURL##</A> ( <a href="/servlet/Main?template=Taxonomy.GetRelatedNodes&DocURL=##EDOCURL##&DocTitle=##EDOCTITLE##">See related</a>
##NUGGETS##) &nbsp; <BR>
</FONT></DD></DL>
    </TD></TR>
</TABLE>