<blockquote>
<form method="post" action="/servlet/Main">
<input type="hidden" name="template" value="ConceptAlerts.NewNarrative">
<input type="hidden" name="did" value="##DOCUMENTID##">
<b><u>Title</u></b>: <input type="text" name="dtitle" value="##DOCTITLE##" size=70 maxlength=256><br>
<textarea name="abstract" cols="60" rows="10">##DOCUMENTSUMMARY##</textarea>
<p>
<input type="Submit" name="Submit" value="Submit">
</form>
</blockquote>