<table width=650>
<td width=100><font face="Arial, Helvetica, sans-serif" size=-1><b>Sub Topics: &nbsp; &nbsp;</b></font></td><td><SELECT multiple name="ChildrenB" size=5></SELECT>
</td><td valign=center>
<table><tr>
<td><a href="javascript:UpB()"><img src="/images/up.gif" alt="Move selected topics up under a different parent" border=0></a></td>
<td>&nbsp; UP arrow moves selected topics under a different parent.</td></tr>
<tr><td><a href="javascript:AddB()"><img src="/images/add.jpg" alt="Create a new sub topic" border=0></a></td>
<td>&nbsp; ADD icon is used to create a sub topic.</td></tr>
<tr><td><a href="javascript:ExploreB()"><img src="/images/explore.gif" alt="Explore sub topic" border=0></a></td>
<td>&nbsp; EXPLORE icon will browse to a child topic.</td></tr>
</table></td></tr></table>
