<table width=650>
<td width=100><font face="Arial, Helvetica, sans-serif" size=-1><b>Sub Topics: &nbsp; &nbsp;</b></font></td><td><SELECT multiple name="ChildrenA" size=5></SELECT>
</td><td valign=center>
<table><tr>
<td><a href="javascript:DownA()"><img src="/images/down.gif" alt="Move selected topics down underneath a different parent topic" border=0></a></td>
<td>&nbsp; DOWN arrow moves selected topics under a different parent</td></tr>
<tr><td><a href="javascript:AddA()"><img src="/images/add.jpg" alt="Create a new sub topic" border=0></a></td>
<td>&nbsp; ADD icon is used to create a sub topic.</td></tr>
<tr><td><a href="javascript:ExploreA()"><img src="/images/explore.gif" alt="Explore sub topic" border=0></a></td>
<td>&nbsp; EXPLORE icon will browse to a child topic.</td></tr>
</table></td></tr></table>