</SELECT></td><td valign=center>
<table><tr>
<td><a href="javascript:UpB()"><img src="/images/up.gif" alt="Move nodes under the parent list above" border=0></a></td>
<td>&nbsp; UP arrow moves selected topics under a different parent.</td></tr>
<tr><td><a href="javascript:AddB()"><img src="/images/add.jpg" alt="Create new topic" border=0></a></td>
<td>&nbsp; ADD icon is used to create a sub topic.</td></tr>
<tr><td><a href="javascript:ExploreB()"><img src="/images/explore.gif" alt="Explore sub topic" border=0></a></td>
<td>&nbsp; EXPLORE icon will browse to a child topic.</td></tr>
</table>
</td></tr></table>
</td></tr></table>
