</SELECT></td><td valign=center>
<table><tr>
<td><a href="javascript:DownA()"><img src="/images/down.gif" alt="Move nodes underneath parent node below" border=0></a></td>
<td>&nbsp; DOWN arrow moves selected topics under a different parent.</td></tr>
<tr><td><a href="javascript:AddA()"><img src="/images/add.jpg" alt="Add new sub topic" border=0></a></td>
<td>&nbsp; ADD icon is used to create a sub topic.</td></tr>
<tr><td><a href="javascript:ExploreA()"><img src="/images/explore.gif" alt="Explore sub topic" border=0></a></td>
<td>&nbsp; EXPLORE icon will browse to a child topic.</td></tr>
</table>
</td></tr></table>
</td></tr></table>
<p>