<table width="750" border="0" bgcolor="#08427b" bordercolor="#FFFFFF">
<tr>
   <td align="left" bgcolor="#E8E8E8" height="16" valign="middle" bordercolor="#FFFFFF" border="0"><b>
 <font face="Verdana" size="2">
<A HREF="http://10.10.83.10/AdvancedSearchResult.aspx?CQL=##QUERY##">
##ALERTNAME##</a>
 </font>
</td></tr>
</table>
<blockquote>
<table cellspacing="0" border="0" id="MatchResultGrid_SearchResultGrid" 
       style="border-width:0px;border-style:None;width:660px;border-collapse:collapse;">
