</select>
</form>
</td>
<td valign=middle>
<a href="javascript:RemoveNode()"><img src="/servlet/images/delete.gif" alt="Delete Alert" border=0></a>
&nbsp; Delete a topic from information alerts
<br><a href="javascript:Save()"><img src="/servlet/images/save.gif" alt="Save Alerts" border=0></a>
&nbsp; Save information alerts
<P>
<b>Note:</b> users may add new topics to their profile by navigating to the topic of interest and clicking on "add to my e-mail alerts.
</td></tr>
</table>
<P>