#wrapper {
	width:100%;
}
h1{margin:5px 0;	padding:5px 0;}
#header {
	background:#000;
	height:34px;
	line-height:34px;
	padding:0 20px;
	margin:0 0 1px 0;
	color:#fff;
}
#header .logo {
	float:left;
	padding:5px 0 0 0;
}
#header .links {
	font-size:12px;
	float:right;
	color:#DDDDDD;
	padding:0px 10px 0 0px;
}
.content {
	padding: 15px 1.5% 0px 1.5%;
	background: #FFFFFF;
}
#sidebar_1 {
	width:340px;
	float: left;
}
#body_content_1 {
	margin: 0 12px 0 360px;
}
.table_of_contents {
	background: #f2f2f2;
	padding: 10px 15px;
	border: 1px solid #999999;
	margin:5px 0 15px 0;
}
.table_of_contents li {
	padding:1px 0;
	min-height:18px;
}
.table_of_contents li h5 {
	float:left;
}
.table_of_contents li.list1, .table_of_contents li.list2, .table_of_contents li.list3 {
	display:none;
	background:#f4f4f4;
	margin: 5px 0;
}
.table_of_contents li.list1 a, .table_of_contents li.list2 a, .table_of_contents li.list3 a {
	color: #0000FF;
	display:block;
	 background: url(../images/icon_arrow1.png) no-repeat 4px 5px; padding:0 0 0 14px;
}
.table_of_contents li.list1 a:hover, .table_of_contents li.list2 a:hover, .table_of_contents li.list3 a:hover {
	 background:#fff url(../images/icon_arrow1.png) no-repeat 4px 5px;
}
.table_of_contents .hide1, .table_of_contents .hide2, .table_of_contents .hide3 {
	display:none;
	font-size:11px;
	font-style:italic;
	font-weight:normal;
	padding:0 0 0 10px;
	float:right;
}
.table_of_contents .show1, .table_of_contents .show2, .table_of_contents .show3 {
	font-size:11px;
	font-style:italic;
	font-weight:normal;
	padding:0 0 0 10px;
	float:right;
}
.search {
	margin:0 0 10px 0;
}
.search_input {
	line-height: 20px;
	height: 20px;
	color: #666666;
	background: #fff url(../images/icon_search.png) no-repeat 3px 3px;
	padding: 0 3px 0 21px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width:315px;
	margin:5px 0;
	border: 1px solid #999;
}
.ad_1 {
	clear:both;
	float:left;
	background: #fff;
	margin:10px 0;
	padding:10px 0 10px 3px;
}
.location {
	width:100%;
	margin:0 0 10px 0;
}
.location li {
	display:inline;
	padding:0 5px 0 0;
}
.ad_2 {
	width:100%;
	background: #fff;
	padding:15px 0;
}
.contains_topics {
	font-size:12px;
	background: #f2f2f2;
	padding: 5px 5px;
	border: 1px solid #999999;
	margin:10px 0;
	float: left;
	width: 100%;
}
.contains {
	float:left;
}
.topics {
	float:left;
}
.main_digest {
	width:100%;
	float:left;
}
.main_digest img.pic1 {
	width:300px;
	float:right;
	border: 1px solid #ccc;
	padding: 3px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	margin:0 0 20px 20px;
}
.digest_text {
	float:left;
	width:100%;
	font-size:13px;
}
.discuss {
	width:100%;
	float:left;
	background: #fff;
	margin:10px 0;
	padding:10px 0;
}
.topics {
float: left;
margin: 10px 4%  10px 0;
padding: 15px;
width: 205px;
height:355px;
border: 1px solid #dddddd;
background: #f2f2f2;   
}
.ad{background: #fff;   }
.topics h2{padding:10px 0 5px 0;font-size: 14px;}
.topics  .body_text{height:168px; overflow:hidden;}
.topics img.show_pic,.topics img.show_pic2{width: 205px;}

.topics2{padding:5px 0; width:100%;float:left;}
.topics2 h2{border-bottom: 1px solid #aaa;margin:5px 0; }
.topics2 .show_pic{ float:right; padding:0 0 0 2%;}
.topics2 .show_pic2{ float: left;padding:0 2% 0 0;}
