.digest_rotator { height: 125px; /*overflow:hidden;*/ }
.digest_rotator .viewport { float: left; width: 375px; height: 125px; overflow: hidden; position: relative; }
.digest_rotator .buttons { display: block; /*margin: 0px 0px 0px 13px; float: left;*/ }
.digest_rotator .next { /*margin: 0px 13px 0 0px;*/  }
.digest_rotator .disable { visibility: hidden; }
.digest_rotator .overview { list-style: none; position: absolute; padding: 0; margin: 0; left: 0; top: 0; }
.digest_rotator .overview li{ float: left; margin: 0 20px 0 0; padding: 1px; height: 121px; width: 236px;}
