<table width="760" border="0" cellspacing="0" cellpadding="0">
  <tr valign="top">
  	<td width="50"><img src="/images/idrac/s.gif" width=50 height=50></td>
    <td width="660" align="right"><img src="/images/idrac/T_##HeadGif##.gif" width="391" height="19"></td>
    <td width="50"><img src="/images/idrac/s.gif" width=50 height=50></td>
  </tr>
</table>
<BR><blockquote>
<script>
function showhide(target) {
if (target != null) {
if (target.display == '') { target.display = 'none'; }
else { target.display = ''; }
}}

function flipimage(target) {
var str = target.src;
if (str.match("minus")) { target.src = '/images/idrac/plus.gif'; }
else { target.src = '/images/idrac/minus.gif'; }
}

function flipall() {
##FLIPALL##
}

function hide(target) {
target.display='none';
}

function SelectLangue (form) { 
   window.location="/servlet/Main?template=Idrac.TableOfContents&CorpusID=##CORPUSID##&Country="+form.Region1.value+","+form.Region2.value;
}

</script>
<table width=650><tr><td>
Select any two regions to view the Table of contents.  To see only one region, select None as the second entry.  Click on the closed books to expand the table of contents.
<form method=get action=/servlet/Main>
<input type="hidden" name="template" value="Idrac.TableOfContents">
Change selected regions:
 <select size="1" name="Region1" onChange="SelectLangue(this.form)" class="default">
            <option value="AR">Argentina </option>
            <option value="AT">Austria </option>
            <option value="BE">Belgium </option>
            <option value="BR">Brazil </option>
            <option value="CA">Canada </option>
            <option value="CZ">Czech Republic </option>
            <option value="DK">Denmark </option>
            <option value="EU" selected>European Union </option>
            <option value="FI">Finland </option>
            <option value="FR">France </option>
            <option value="DE">Germany </option>
            <option value="GR">Greece </option>
            <option value="HU">Hungary </option>
            <option value="IR">Ireland </option>
            <option value="IT">Italy </option>
            <option value="JP">Japan </option>
            <option value="NL">Netherlands </option>
            <option value="PL">Poland </option>
            <option value="PT">Portugal </option>
            <option value="RU">Russian Fed. </option>
            <option value="SK">Slovakia </option>
            <option value="SP">Spain </option>
            <option value="SW">Sweden </option>
            <option value="CH">Switzerland </option>
            <option value="UK">United Kingdom </option>
            <option value="US">USA </option>
            <option value="INT">International </option>
          </select>
          <select size="1" name="Region2" onChange="SelectLangue(this.form)" class="default">
		<option value="NONE">None </option>
            <option value="AR">Argentina </option>
            <option value="AT">Austria </option>
            <option value="BE">Belgium </option>
            <option value="BR">Brazil </option>
            <option value="CA">Canada </option>
            <option value="CZ">Czech Republic </option>
            <option value="DK">Denmark </option>
            <option value="EU">European Union </option>
            <option value="FI">Finland </option>
            <option value="FR">France </option>
            <option value="DE">Germany </option>
            <option value="GR">Greece </option>
            <option value="HU">Hungary </option>
            <option value="IR">Ireland </option>
            <option value="IT">Italy </option>
            <option value="JP">Japan </option>
            <option value="NL">Netherlands </option>
            <option value="PL">Poland </option>
            <option value="PT">Portugal </option>
            <option value="RU">Russian Fed. </option>
            <option value="SK">Slovakia </option>
            <option value="SP">Spain </option>
            <option value="SW">Sweden </option>
            <option value="CH">Switzerland </option>
            <option value="UK">United Kingdom </option>
            <option value="US">USA </option>
            <option value="INT">International </option>
          </select>
</form>
</td></tr></table>
