<!DOCTYPE html>
<html>
    <head>     
        #set($extDomain = ".com")        
        #set($extImg = ".jpg")
      
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="icon" type="image/x-icon" href="$dnsCloudFront/$domain/images/favicon.ico" />
        <link href="$dnsCloudFront/commons/css/style.css" rel="stylesheet" type="text/css">
        <link href="$dnsCloudFront/commons/css/masonry.css" rel="stylesheet" type="text/css">
        <link href="$dnsCloudFront/commons/css/bootstrap-combined.no-icons.min.css" rel="stylesheet" type="text/css">
        <link href="$dnsCloudFront/commons/css/jquery-ui-1.10.2.custom.min.css" rel="stylesheet" type="text/css">   
        <link href="$dnsCloudFront/$domain/css/custom.css" rel="stylesheet" type="text/css">    
        <link href="$dnsCloudFront/commons/css/cloudsearch.css" rel="stylesheet" type="text/css">
        <script>
            var taxonomy_search = "$taxonomySearch";
            var linksLimit = $linksLimit;
            var topicId = $topic.getString('id');
        </script>   
        <script>
           (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
           (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
           m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
           })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
           ga('create', '$googleAnalyticsId', '$domain$extDomain');
           ga('send', 'pageview');
        </script>
        <script type="text/javascript">
            var _kmq = _kmq || [];
            var _kmk = _kmk || '$kissmetricsId';
            function _kms(u){
              setTimeout(function(){
                var d = document, f = d.getElementsByTagName('script')[0],
                s = d.createElement('script');
                s.type = 'text/javascript'; s.async = true; s.src = u;
                f.parentNode.insertBefore(s, f);
              }, 1);
            }
            _kms('//i.kissmetrics.com/i.js');
            _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
      </script>
    </head>
    <body id="links" style="background:#f4f4f4 !important;">
         <div id="wrapper" >	
            <div id="containTopMenu">
		#parse( "header.vm" )		
            </div>                
            <div id="menu" style="background: url($dnsCloudFront/$domain/images/menu_bg.png) repeat-x left top;">
		<div id="CrumbNav">
			<ul class="pageMargins">   
                              #if($taxonomiesInfo.size() > 0)
                                   <li topic-id="taxonomies-info-1" class="itemMenu dropdown yes-childrens" style="min-width: 30px;">					
                                        <a href="#" class="dropdown-toggle disabled" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        <span class="itemMenuSpan" style="min-width: 30px;">
                                             <div id="cloud">
                                                <div class="circ1"></div>
                                                <div class="circ2"></div>
                                                <div class="circ3"></div>
                                             </div>
                                        </span>
                                        </a>                                    
                                        <ul menu-id="taxonomies-info-1" class="dropdown-menu">
                                            #foreach($taxonomy in $taxonomiesInfo)
                                                <li><a tabindex="-1" href="/topics/$linkatools.escapeText("$taxonomy.getString('name')")/$linkatools.escapeText("$taxonomy.getString('name')")/$taxonomy.getJSONObject("mainTopic").getString("id")">$taxonomy.getString('name')</a></li>
                                            #end
                                        </ul>
                                    </li>
                              #end
                             #foreach($parent in $ancestors)
                                    #set($taxonomy = $parent.getJSONObject("taxonomy"))
                                    <li topic-id="$parent.getString("id")" class="itemMenu dropdown#if($parent.getJSONArray("children").length() == 0) no-childrens#else yes-childrens#end">					
                                        <a href="/topics/$linkatools.escapeText("$taxonomy.getString('name')")/$linkatools.escapeText("$parent.getString('title')")/$parent.getString('id')" class="itemMenuA dropdown-toggle disabled" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"><span class="itemMenuSpan">$parent.getString("title")</span></a>                                               
                                        <ul menu-id="$parent.getString('id')" class="dropdown-menu">
                                              #set($size = $parent.getJSONArray("children").length() - 1) 
                                              #if($size > 0)
                                                 #foreach($i in [0..$size])
                                                      #set($child = $parent.getJSONArray("children").getJSONObject($i))
                                                      <li><a tabindex="-1" href="/topics/$linkatools.escapeText("$taxonomy.getString('name')")/$linkatools.escapeText("$child.getString('title')")/$child.getString('id')">$child.getString("title")</a></li>
                                                 #end                                        
                                              #end                                              
                                        </ul>                                        
                                    </li>
                              #end                             
			</ul>                        
		</div>
            </div>            
            <div id="content" class="clearfix" style="background:url($dnsCloudFront/$domain/images/content_bg.png) no-repeat center top;"></div>
        </div>
        <div id="submenus"></div>
        <div id="body_content" class="clearfix">
            <h1 class="titleLink">Know more about <strong><a target="_blank" href="https://www.google.com/search?q=$topic.getString('title')" class="titleNodeLinkpage">$topic.getString('title')</a></strong></h1>
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style add_link" style="margin-top:14px;">
                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                <a class="addthis_button_pinterest_pinit"></a>
                <a class="addthis_button_tweet"></a>
                <a class="addthis_counter addthis_pill_style"></a>
            </div>                        
            <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#async=1&pubid=ra-506b79ce40993638"></script>
            <script type="text/javascript">
                  var addthis_config = addthis_config||{};
                  addthis_config.data_track_addressbar = false;
            </script>
            <!-- AddThis Button END -->
            <div class="link_description">$topic.getString('description')</div>
            <div id="documents">
                #if($documents.isEmpty())
                    <p class="link_message_empty">$messageEmpty</p>
                #else
                    #foreach($doc in $documents)
                        <div class="box boxLink">
                                <a href='/digest/$linkatools.escapeText("$doc.getString('title')")/$topic.getString("id")/$doc.getString("id")'> 
                                #if($linkatools.exists("http://documentimage.s3.amazonaws.com/$doc.getString('id')$extImg"))
                                    <img src="http://documentimage.s3.amazonaws.com/$doc.getString('id')$extImg" alt="" class="docLinkPhoto"></img>
                                #end                               
                                <h2 class="LinkTitle">$doc.getString('title')</h2></a>
                                <p class="body_text link_documents">$doc.getString("digest")</p>
                        </div>
                    #end
                #end
            </div>
        </div>
    </body>
    <script type="text/javascript" src="$dnsCloudFront/commons/js/jquery-2.0.3.js"></script>    
    <script type="text/javascript" src="$dnsCloudFront/commons/js/bootstrap.min.js"></script>    
    <script type="text/javascript" src="$dnsCloudFront/commons/js/jquery.wookmark.js"></script>    
    <script type="text/javascript" src="$dnsCloudFront/commons/js/jquery.waitforimages.min.js"></script> 
    <script type="text/javascript" src="$dnsCloudFront/commons/js/map.js"></script>
    <script type="text/javascript" src="$dnsCloudFront/commons/js/main.js"></script>
    <script>addthis.init()</script>
    <script type="text/javascript" src="$dnsCloudFront/commons/js/jquery-ui-1.10.2.custom.min.js"></script>
    <script>
        var domain_search = "$domainSearch";
        var taxonomy_name = "$taxonomy_name";
    </script>
    <script>initializeSearch()</script>
</html>