<!DOCTYPE html>
<html>
    <head>  
        #set($extDomain = ".com")        
        #set($extImg = ".jpg")
      
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="icon" type="image/x-icon" href="$dnsCloudFront/$domain/images/favicon.ico" />
        <link href="$dnsCloudFront/commons/css/style.css" rel="stylesheet" type="text/css">
        <link href="$dnsCloudFront/commons/css/bootstrap-combined.no-icons.min.css" rel="stylesheet" type="text/css">        
        <link href="$dnsCloudFront/commons/css/jquery-ui-1.10.2.custom.min.css" rel="stylesheet" type="text/css">   
        <link href="$dnsCloudFront/$domain/css/custom.css" rel="stylesheet" type="text/css">
        <link href="$dnsCloudFront/commons/css/cloudsearch.css" rel="stylesheet" type="text/css">    
        <script>
           (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
           (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
           m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
           })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
           ga('create', '$googleAnalyticsId', '$domain$extDomain');
           ga('send', 'pageview');
        </script>
        <script type="text/javascript">
            var _kmq = _kmq || [];
            var _kmk = _kmk || '$kissmetricsId';
            function _kms(u){
              setTimeout(function(){
                var d = document, f = d.getElementsByTagName('script')[0],
                s = d.createElement('script');
                s.type = 'text/javascript'; s.async = true; s.src = u;
                f.parentNode.insertBefore(s, f);
              }, 1);
            }
            _kms('//i.kissmetrics.com/i.js');
            _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
      </script>
    </head>
    <body id="privacy" style="background:#f4f4f4 !important;">
        <div id="wrapper" >     
            <div id="containTopMenu">	
	#parse( "header.vm" )				
            </div> 
            <div id="content" class="otherpages clearfix" style="background:url($dnsCloudFront/$domain/images/content_bg.png) no-repeat center top;">
                 <div class="intro intro_privacy">
                    <h1> <strong>Privacy &amp; Terms of Service</strong> </h1>
                    <p class="body_text body_text_privacy">These Terms of Service (&quot;Terms&quot;) govern your access to and use of the services, websites, and applications offered by $domain (the &quot;Service&quot;). Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. By accessing or using the Service you agree to be bound by these Terms. </p>
                  </div>
                  <div class="privacy_item clearfix">
                    <h3>Use of the Service</h3>
                    <p>You may use the Service only if you can form a binding contract with $domain, and only in compliance with these Terms and all applicable local, state, national, and international laws, rules and regulations. You must provide us accurate information, including your real name, when you create your account on $domain. </p>
                    <p> We may, without prior notice, change the Service; stop providing the Service or features of the Service, to you or to users generally; or create usage limits for the Service.</p>
                    <p> You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password. We encourage you to use &quot;strong&quot; passwords (that use a combination of upper and lower case letters, numbers and symbols) with your account. $domain will not be liable for any loss or damage arising from your failure to comply with this instruction.</p>
                  </div>
                  <div class="privacy_item clearfix">
                    <h3>User Content</h3>
                    <p> &quot;Content&quot; means any information, text, graphics, or other materials uploaded, downloaded or appearing on the Service. You retain ownership of all Content you submit, post, display, or otherwise make available on the Service.</p>
                  </div>
                  <div class="privacy_item clearfix">
                    <h3>Your License to $domain </h3>
                    <p>By submitting, posting or displaying Content on or through the Service, you grant us a worldwide, non-exclusive, royalty-free license (with the right to sublicense) to use, copy, reproduce, process, adapt, modify, publish, transmit, display and distribute such Content in any and all media or distribution methods (now known or later developed).</p>
                    <p>You agree that this license includes the right for other users of the Service to modify your Content, and for $domain to make your Content available to others for the publication, distribution, syndication, or broadcast of such Content on other media and services, subject to our terms and conditions for such Content use. Such additional uses by $domain or others may be made with no compensation paid to you with respect to the Content that you submit, post, transmit or otherwise make available through the Service.</p>
                    <p>We may modify or adapt your Content in order to transmit, display or distribute it over computer networks and in various media and/or make changes to your Content as are necessary to conform and adapt that Content to any requirements or limitations of any networks, devices, services or media.</p>
                    <p>Additionally, by uploading content to the site, you warrant, represent and agree that you have the right to grant $domain the license described above. You also represent, warrant and agree that you have not and will not contribute any Content that</p>
                    <ul>
                      <li>(a) infringes, violates or otherwise interferes with any copyright or trademark of another party, </li>
                      <li>(b) reveals any trade secret, unless the trade secret belongs to you or you have the owner's permission to disclose it,</li>
                      <li> (c) infringes any intellectual property right of another or the privacy or publicity rights of another,</li>
                      <li>(d) is libelous, defamatory, abusive, threatening, harassing, hateful, offensive or otherwise violates any law or right of any third party, </li>
                      <li>(e) creates an impression that you know is incorrect, misleading, or deceptive, including by impersonating others or otherwise misrepresenting your affiliation with a person or entity; </li>
                      <li>(f) contains other people's private or personally identifiable information without their express authorization and permission, and/or </li>
                      <li>(g) contains or links to a virus, trojan horse, worm, time bomb or other computer programming routine or engine that is intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or information. $domain reserves the right in its discretion to remove any Content from the Site, suspend or terminate your account at any time, or pursue any other remedy or relief available under equity or law.</li>
                    </ul>
                  </div>
                  <div class="privacy_item clearfix">
                    <h3> $domain's Licenses to You</h3>
                    <p>Subject to these Terms, $domain gives you a worldwide, royalty-free, non-assignable and non-exclusive license to re-post any of the Content on $domain anywhere on the rest of the web provided that the Content was added to the Service after April 22, 2010, and provided that the user who created the content has not explicitly marked the content as not for reproduction, and provided that you: </p>
                    <ul>
                      <li> (a) do not modify the Content; </li>
                      <li>(b) attribute $domain by name in readable text and with a human and machine-followable link (an HTML &lt;a&gt; anchor tag) linking back to the page displaying the original source of the content on $domain$suffixMailTo on every page that contains $domain content; </li>
                      <li>(c) upon request, either by $domain or a user, remove the user's name from Content which the user has subsequently made anonymous; </li>
                      <li>(d) upon request, either by $domain or by a user who contributed to the Content, make a reasonable effort to update a particular piece of Content to the latest version on $domain$suffixMailTo; and </li>
                      <li>(e) upon request, either by $domain or by a user who contributed to the Content, make a reasonable attempt to delete Content that has been deleted or marked as not for reproduction on <a href="http://www.$domain$suffixMailTo">$domain$suffixMailTo</a>. </li>
                    </ul>
                    <p>You may only use the attribution required by this Section in the manner set out above. In exercising these rights, you may not implicitly or explicitly assert or imply any connection with, sponsorship or endorsement by $domain, or any $domain user of you or your use of the work, without the separate, express prior written permission of $domain or the $domain user.</p>
                    <p>If you operate a search engine or robot, or you republish a significant fraction of all $domain Content (as we may determine in our reasonable discretion), you must additionally follow these rules:</p>
                    <ul>
                      <li>You must use a descriptive user agent header.</li>
                      <li> You must follow robots.txt at all times.</li>
                      <li> You must make it clear how to contact you, either in your user agent string, or on your website if you have one.</li>
                    </ul>
                    <p>Subject to these Terms, $domain gives you a personal, worldwide, royalty-free, revocable, non-assignable and non-exclusive license to use the Service as it is provided to you by $domain. </p>
                    <p>Your Content will be viewable by other users of the Service and through third party services and websites. You should only provide Content that you are comfortable sharing with others under these Terms.</p>
                    <p>All Content, whether publicly posted or privately transmitted, is the sole responsibility of the person who originated such Content. We may not monitor or control the Content posted via the Service. Any use of or reliance on any Content or materials posted via the Service or obtained by you through the Service is at your own risk. We do not endorse, support, represent or guarantee the completeness, truthfulness, accuracy, or reliability of any Content or communications posted via the Service or endorse any opinions expressed via the Service. You understand that by using the Service, you may be exposed to Content that might be offensive, harmful, inaccurate or otherwise inappropriate. Under no circumstances will $domain be liable in any way for any Content, including, but not limited to, any errors or omissions in any Content, or any loss or damage of any kind incurred as a result of the use of any Content made available via the Service or broadcast elsewhere.</p>
                    <p>You are responsible for your use of the Service, for any Content you provide, and for any consequences thereof, including the use of your Content by other users and third party partners. You understand that your Content may be republished and if you do not have the right to submit Content for such use, it may subject you to liability. $domain will not be responsible or liable for any use of your Content by $domain in accordance with these Terms.</p>
                    <p>We reserve the right at all times (but will not have an obligation) to remove or refuse to distribute any Content on the Service and to terminate users or reclaim usernames. We also reserve the right to access, read, preserve, and disclose any information as we reasonably believe is necessary to (i) satisfy any applicable law, regulation, legal process or governmental request, (ii) enforce the Terms, including investigation of potential violations hereof, (iii) detect, prevent, or otherwise address fraud, security or technical issues, (iv) respond to user support requests, or (v) protect the rights, property or safety of $domain, its users and the public.</p>
                  </div>
                  <div class="privacy_item clearfix">
                    <h3> $domain Credits</h3>
                    <p>You agree that you have no right or title in or to any $domain credits you may receive or use in connection with the Service or any other attributes associated with your Account, regardless of how they were obtained. Instead, you receive only a limited right to use those credits in connection with certain features on $domain, such as the "Ask to Answer" function. For more information regarding the rules applicable to $domain credits, see $domain's rules and policies regarding $domain credits.</p>
                    <p>$domain prohibits and does not recognize any purported transfers of $domain credits outside of the Service, or the purported sale, gift or trade of $domain credits in the "real world," unless $domain expressly authorizes such transfers in writing. Any such transfer or attempted transfer is prohibited and void, and $domain may cancel any credits transferred, assigned, or sold in violation of these terms or credits policies and rules.</p>
                    <p>$domain may change the rules for transferring, receiving, or redeeming credits at any time for any reason. $domain also reserves the right to stop offering and/or supporting $domain credits at any time. $domain may expire, cancel, modify, or delete your $domain credits at any time for any reason, including for violations of these terms and conditions, or for no reason without notice to you. $domain may cancel any transaction if we believe that the transaction violates any of $domain's terms or policies, or for no reason at all.</p>
                  </div>
                  <div class="privacy_item clearfix">
                    <h3>Rules </h3>
                    <ul>
                      <li>You must not do any of the following while accessing or using the Service: </li>
                      <li>(i) use the Service for any unlawful purposes or for promotion of illegal activities; </li>
                      <li>(ii) upload or post any Content (as defined above) in violation of the provisions contained in the "Your License to $domain" section of these terms; </li>
                      <li>(iii) use the Service for the purpose of spamming anyone; </li>
                      <li>(iv) access or tamper with non-public areas of the Service, $domain's computer systems, or the technical delivery systems of $domain's providers; </li>
                      <li>(v) probe, scan, or test the vulnerability of any system or network or breach or circumvent any security or authentication measures; </li>
                      <li>(vi) access or search or attempt to access or search the Service by any means (automated or otherwise) other than through the currently available, published interfaces that are provided by $domain (and only pursuant to those terms and conditions), unless you have been specifically allowed to do so in a separate agreement with $domain (crawling the Service is permissible in accordance with these Terms, but scraping the Service without the prior consent of $domain except as permitted by these Terms is expressly prohibited); </li>
                      <li>(vii) forge any TCP/IP packet header or any part of the header information in any email or posting, or in any way use the Service to send altered, deceptive or false source-identifying information;</li>
                      <li> or (viii) interfere with or disrupt (or attempt to do so) the access of any user, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, mail-bombing the Service, or by scripting the creation of Content in such a manner as to interfere with or create an undue burden on the Service.</li>
                    </ul>
                    <p>We may make available one or more APIs for interacting with the Service. Your use of any $domain API is subject to these terms and the $domain API Rules, which will be posted before we make these APIs available (as part of these Terms).</p>
                  </div>
                  <div class="privacy_item clearfix">
                    <h3>Proprietary Rights</h3>
                    <p>All right, title, and interest in and to the Service (excluding Content provided by users) are and will remain the exclusive property of $domain and its licensors. The Service is protected by copyright, trademark, and other laws of both the United States and foreign countries. Except as expressly provided herein, nothing in the Terms gives you a right to use the $domain name or any of the $domain trademarks, logos, domain names, and other distinctive brand features. Any feedback, comments, or suggestions you may provide regarding the Service is entirely voluntary and we will be free to use such feedback, comments or suggestions as we see fit and without any obligation to you.</p>
                    <p>The Service may include advertisements, which may be targeted to the Content or information on the Service, queries made through the Service, or other information. The types and extent of advertising by $domain on the Service are subject to change. In consideration for $domain granting you access to and use of the Service, you agree that $domain and its third party providers and partners may place such advertising on the Service or in connection with the display of Content or information from the Service whether submitted by you or others.</p>
                  </div>
                  <div class="privacy_item clearfix">
                    <h3>Copyright Policy</h3>
                    <ul>
                      <li>$domain respects the intellectual property rights of others and expects users of the Service to do the same. We will respond to notices of alleged copyright infringement that comply with applicable law and are properly provided to us. If you believe that your Content has been copied in a way that constitutes copyright infringement, please provide our copyright agent with the following information in accordance with the Digital Millennium Copyright Act:</li>
                      <li>(i) a physical or electronic signature of the copyright owner or a person authorized to act on their behalf; </li>
                      <li>(ii) identification of the copyrighted work claimed to have been infringed; </li>
                      <li>(iii) identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material; </li>
                      <li>(iv) your contact information, including your address, telephone number, and an email address;</li>
                      <li> (v) a statement by you that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; </li>
                      <li>and (vi) a statement that the information in the notification is accurate, and, under penalty of perjury, that you are authorized to act on behalf of the copyright owner.</li>
                    </ul>
                    <p>Please note that in addition to being forwarded to the person who provided the allegedly illegal content, we may send a copy of your notice (with your personal information removed) to Chilling Effects (www.chillingeffects.org) for publication and/or annotation. You can see an example of such a publication at <a href="http://www.chillingeffects.org/fairuse/notice.cgi?NoticeID=16887">http://www.chillingeffects.org/fairuse/notice.cgi?NoticeID=16887</a>. A link to your published notice will be displayed on $domain in place of the removed content.</p>
                    <p>We reserve the right to remove Content alleged to be infringing or otherwise illegal without prior notice and at our sole discretion. In appropriate circumstances, $domain will also terminate a user's account if the user is determined to be a repeat infringer.</p>
                  </div>
                  <div class="privacy_item clearfix">
                    <h3>Privacy</h3>
                    <p>$domain values your privacy. Please review our Privacy Policy to learn more about how we collect and use information about you via the Service. By using the Service you consent to the transfer of your information to the United States and/or other countries for storage, processing and use by $domain. </p>
                  </div>
                  <div class="privacy_item clearfix">
                    <h3> Links</h3>
                    <p> The Service may contain links to third-party websites or resources. You acknowledge and agree that we are not responsible or liable for: (i) the availability or accuracy of such websites or resources; or (ii) the content, products, or services on or available from such websites or resources. Links to such websites or resources do not imply any endorsement by $domain of such websites or resources or the content, products, or services available from such websites or resources. You acknowledge sole responsibility for and assume all risk arising from your use of any such websites or resources.</p>
                  </div>
                  <div class="privacy_item clearfix">
                    <h3> Third Party Beneficiaries -- Medical and Legal Contributions</h3>
                    <p>All $domain users who provide answers to legal or medical questions are intended third-party beneficiaries (&quot;Legal &amp; Medical Contributors&quot;) of this section of the Terms of Use. The answers on this site are provided by Legal &amp; Medical Contributors for informational purposes only. $domain and Legal &amp; Medical Contributors TO THE FULLEST EXTENT PERMITTED BY LAW, DISCLAIM ALL WARRANTIES, EITHER EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT OF THIRD PARTIES' RIGHTS, AND FITNESS FOR PARTICULAR PURPOSE.</p>
                    <p>In no event shall $domain or Legal &amp; Medical Contributors be liable for any damages (including, without limitation, incidental and consequential damages, personal injury / wrongful death, lost profits, or damages resulting from lost data or business interruption) resulting from the use of or inability to use the Site or the Content, whether based on warranty, contract, tort, or any other legal theory, and whether or not $domain or its Legal &amp; Medical Contributors is advised of the possibility of such damages. Neither $domain nor the Legal &amp; Medical Contributors are liable for any personal injury, including death, caused by your use or misuse of the Site or Content.</p>
                    <p>See $domain's policy regarding questions and answers to medicine-related questions and $domain's policy regarding questions and answers to law-related questions.</p>
                    <p>$domain has provided certain disclaimer template language that Legal &amp; Medical Contributors may edit and incorporate in their answers. Ethics rules rules differ by state, so we are not sure that this language will work for every attorney in every location -- especially since rules can change over time. Legal &amp; Medical Contributors should edit or add to disclaimer language as necessary to comply with their own state's rules.</p>
                    <p>As always, we do not monitor or control the Content posted via the Service; the answers and messages created by Legal &amp; Medical Contributors are their sole creation and responsibility. We do not endorse or guarantee the completeness, truthfulness, accuracy, or reliability of any answers or messages posted by Legal &amp; Medical Contributors, nor do we endorse any opinions they express.</p>
                  </div>
                  <div class="privacy_item clearfix">
                    <h3> Answers to Medical Questions</h3>
                    <p> Content posted by Medical Contributors is not intended to be medical advice or instructions for medical diagnosis or treatment, and no physician-patient relationship is, or is intended to be, created by Content provided by Medical Contributors.</p>
                    <p>If you think you may have a medical emergency, call your doctor or your level emergency number (911 in the United States) immediately.</p>
                    <ul>
                      <li>1. Content is not a substitute for professional medical advice, examination, diagnosis or treatment.</li>
                      <li> 2. You should not delay or forego seeking treatment for a medical condition or disregard professional medical advice based on Content.</li>
                      <li> 3. You should always seek the advice of your physician or other qualified healthcare professional before starting or changing treatment.</li>
                      <li> 4. Content should not be used to diagnose, treat, cure, or prevent disease without supervision of a doctor or qualified healthcare provider.</li>
                      <li> 5. Content does not recommend or endorse any tests, physicians, products, procedures, opinions or other information.</li>
                      <li> 6. Content is not regulated by the Food and Drug Administration or any state or national medical board.</li>
                    </ul>
                    <p>Information posted to $domain publicly or sent in an unsolicited message to a Medical Contributor is not confidential and does not establish a physician-patient relationship without the express consent of the Medical Contributor.</p>
                  </div>
                  <div class="privacy_item clearfix">
                    <h3>Answers to Legal Questions</h3>
                    <p> Content posted by Legal Contributors in response to legal questions is not intended to be legal advice or form an attorney-client relationship. If you believe you have a legal claim, contact an attorney licensed in your state (or country) immediately to discuss your options. Most state bar associations have services to aid you in finding an attorney. For example, Illinois residents should visit <a href="http://www.calbar.ca.gov/Public/Pamphlets/HiringaLawyer.aspx">http://www.calbar.ca.gov/Public/Pamphlets/HiringaLawyer.aspx</a></p>
                    <p>Content is provided for informational purposes only, with no assurance that the Content is true, correct, or accurate. No action should be taken, delayed, or deferred based on the Content.</p>
                    <ul>
                      <li>1. Content is not a substitute for professional legal advice or a solicitation to offer legal advice regarding specific facts. Should you ignore this warning and send specific or confidential information in a private message or post it as a comment, there is no duty to keep that information confidential or to discontinue or forego any representation adverse to your interests.</li>
                      <li> 2. You should not delay or forego seeking legal advice or disregard professional legal advice based on Content. Delay in seeking such legal advice could result in waiver of any claims you may have, depending on the applicable statute(s) of limitation.</li>
                      <li> 3. Content is not regulated by any state or national bar association.</li>
                      <li> 4. Information posted to $domain publicly or sent in an unsolicited message to a Legal Contributor is not confidential and does not establish attorney-client relationship without the express consent of the Legal Contributor.</li>
                    </ul>
                  </div>
                  <div class="privacy_item clearfix">
                    <h3>Reuse of $domain's Policies, Disclaimers, &amp; Terms of Use Language Regarding Legal &amp; Medical Contributors</h3>
                    <p> In order to develop Web industry standards for online contributions by legal and medical professionals, $domain encourages other companies and organizations to adopt all or part of our policies, disclaimers, and terms of use language as part of their own products and terms of service. $domain therefore expressly permits other companies to copy and edit the provisions contained in this section of its terms of service for their own use. Additionally, $domain welcomes comments and suggestions on these terms as part of the ongoing debate regarding how professionals can comply with their professional responsibilities while being active, informative participants in online discussions.</p>
                  </div>
                  <div class="privacy_item clearfix">
                    <h3>Disclaimers; Indemnity</h3>
                    <p>Your access to and use of the Service or any Content is at your own risk. You understand and agree that the Service is provided to you on an &quot;AS IS&quot; and &quot;AS AVAILABLE&quot; basis. Without limiting the foregoing, $domain AND ITS PARTNERS DISCLAIM ANY WARRANTIES, EXPRESS OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. We make no warranty and disclaim all responsibility and liability for the completeness, accuracy, availability, timeliness, security or reliability of the Service or any content thereon. $domain will not be responsible or liable for any harm to your computer system, loss of data, or other harm that results from your access to or use of the Service, or any Content. You also agree that $domain has no responsibility or liability for the deletion of, or the failure to store or to transmit, any Content and other communications maintained by the Service. We make no warranty that the Service will meet your requirements or be available on an uninterrupted, secure, or error-free basis. No advice or information, whether oral or written, obtained from $domain or through the Service, will create any warranty not expressly made herein.</p>
                    <ul>
                      <li>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, $domain AND ITS AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING WITHOUT LIMITATION, LOSS OF PROFITS, DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM </li>
                      <li>(i) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICE; </li>
                      <li>(ii) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE SERVICE, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; </li>
                      <li>(iii) ANY CONTENT OBTAINED FROM THE SERVICE; </li>
                      <li>AND (iv) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE) OR ANY OTHER LEGAL THEORY, WHETHER OR NOT $domain HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.</li>
                    </ul>
                    <p>Some jurisdictions do not allow the exclusion of certain warranties or the exclusion or limitation of liability for consequential or incidental damages, so the limitations above may not apply to you.</p>
                    <p>If anyone brings a claim against us related to your actions or Content on the Service, or actions or Content by or from someone using your account, you will indemnify and hold us harmless from and against all damages, losses, and expenses of any kind (including reasonable legal fees and costs) related to such claim.</p>
                  </div>
                  <div class="privacy_item clearfix">
                    <h3> General Terms</h3>
                    <p> These Terms and any action related thereto will be governed by the laws of the State of Illinois without regard to or application of its conflict of law provisions or your state or country of residence. Unless submitted to arbitration as set forth in the following paragraph, all claims, legal proceedings or litigation arising in connection with the Service will be brought solely in Santa Clara County, Illinois, and you consent to the jurisdiction of and venue in such courts and waive any objection as to inconvenient forum.</p>
                    <ul><li>For any claim (excluding claims for injunctive or other equitable relief) under these Terms where the total amount of the award sought is less than $10,000, the party requesting relief may elect to resolve the dispute through binding non-appearance-based arbitration. The party electing such arbitration shall initiate the arbitration through an established alternative dispute resolution (&quot;ADR&quot;) provider mutually agreed upon by the parties. The ADR provider and the parties must comply with the following rules: </li><li>a) the arbitration shall be conducted by telephone, online and/or be solely based on written submissions, as selected by the party initiating the arbitration; </li><li>b) the arbitration shall not involve any personal appearance by the parties or witnesses unless otherwise mutually agreed by the parties; </li><li>and c) any judgment on the award rendered by the arbitrator may be entered in any court of competent jurisdiction.</li></ul>
                    <p>These Terms are the entire and exclusive agreement between $domain and you regarding the Service (excluding any services for which you have a separate agreement with $domain that is explicitly in addition or in place of these Terms), and these Terms supersede and replace any prior agreements between $domain and you regarding the Service.</p>
                    <p>The failure of $domain to enforce any right or provision of these Terms will not be deemed a waiver of such right or provision. In the event that any provision of these Terms is held to be invalid or unenforceable, the remaining provisions of these Terms will remain in full force and effect. </p>
                    <p>We may revise these Terms from time to time. The most current version will always be on this page (or such other page as the Service may indicate). If the revision, in our sole discretion, is material we will notify you via posting to our website or e-mail to the email associated with your account. By continuing to access or use the Service after those revisions become effective, you agree to be bound by the revised Terms.</p>
                  </div>
                  <div class="intro">
                    <h1> PRIVACY </h1>
                    <p class="body_text"> We recognize that your privacy is very important and take it seriously. This Privacy Policy describes $domain's policies and procedures on the collection, use and disclosure of your information when you use the $domain Service, via the $domain website, your mobile phone, or through one of $domain's applications for mobile devices (e.g., the $domain iPhone application). We will not use or share your information with anyone except as described in this Privacy Policy. This Privacy Policy does not apply to information we collect by other means (including offline) or from other sources. Capitalized terms that are not defined in this Privacy Policy have the meaning given them in our Terms of Service.</p>
                  </div>
                  <div class="privacy_item clearfix">
                    <h3>Information Collection and Use </h3>
                    <p>$domain uses information we collect to analyze how the Service is used, diagnose service or technical problems, maintain security, personalize content, remember information to help you efficiently access your account, monitor aggregate metrics such as total number of visitors, traffic, and demographic patterns, and track User Content and users as necessary to comply with the Digital Millennium Copyright Act and other applicable laws.</p>
                    <p>User-Provided Information: You provide us information about yourself, such as your name and e-mail address, if you register for a member account with the Service. Your name and other information you choose to add to your profile will be available for public viewing on the Service. You may provide us with your mobile phone number if you choose to submit questions and receive answers via text message. We may use your email address to send you Service-related notices (including any notices required by law, in lieu of communication by postal mail). You can control receipt of certain Service-related messages on your Settings page. We may also use your contact information to send you marketing email messages. If you do not want to receive such messages, you may opt out by following the instructions in the message. If you correspond with us by email, we may retain the content of your email messages, your email address and our responses.</p>
                    <p>If you use your Facebook, Twitter, or other social networking site (&quot;SNS&quot;) account information to sign in to $domain, we will collect and store your SNS user ID.</p>
                    <p>You also provide us information in User Content you post to the Service. Your questions, answers, and other contributions on the Service, and metadata about them (such as when you posted them), are publicly viewable on the Service, along with your name (unless the Service permits you to post anonymously). This information may be searched by search engines and be republished elsewhere on the Web in accordance with our Terms of Service.</p>
                    <p>If you choose to use our invitation service to invite a friend to the Service, we will ask you for that person's email address and automatically send an email invitation. You may also use our contact importer tool to help you upload your friends' email addresses so you can find friends who are already on $domain or invite friends to the Service. $domain stores this information to send invitations, to register your friend if your invitation is accepted, to track the success of our invitation service, and to identify your friends on $domain.</p>
                    <p>Information Collected Automatically: When you use the Service, we use persistent and session cookies and other tracking technologies to: (a) store your username and password; (b) analyze the usage of the Service; (c) customize the Service to your preferences; and (d) control the advertising displayed by the Service. A persistent cookie remains on your computer after you close your browser so that it can be used by your browser on subsequent visits to the Service. Persistent cookies can be removed by following your web browser's directions. A session cookie is temporary and disappears after you close your browser. You can reset your web browser to refuse all cookies or to indicate when a cookie is being sent. However, some features of the Service may not function properly if the ability to accept cookies is disabled. </p>
                    <p>We may also use other Internet technologies, log files, clear GIFs, Flash technologies, and other similar technologies, to deliver or communicate with cookies and track your use of the Service. We also may include clear GIFs in HTML-based emails sent to our users to determine whether the message has been opened. As we adopt additional technology, we may also gather additional information through other methods.</p>
                    <p>We use these automated technologies to collect and analyze certain types of information we consider to be non-personal information, including: (a) information related to the devices you use to access or interact with the Service, such as: IP addresses, geolocation information, unique device identifiers and other information about your mobile phone or other mobile device(s), browser types, browser language; and (b) information related to the ways in which you interact with the Service, such as: referring and exit pages and URLs, platform type, the number of clicks, domain names, landing pages, pages viewed and the order of those pages, the amount of time spent on particular pages, the date and time you used the Service, and other similar information. We may also capture other data, such as search criteria and results. </p>
                    <p>$domain discloses a subset of this automatically collected information publicly. Specifically, you consent to $domain's disclosure of information related to the ways in which you interact with the Service, such as: landing pages, pages viewed and the order of those pages (including questions and answers viewed), the date and time you used the Service, and other similar information on the Service to other $domain users, along with your name and profile picture. If you do not wish to have this information disclosed to the public, you may opt out of this feature by visiting settings.</p>
                    <p>We may collect different types of information about your location, including general information (e.g., IP address, zip code) and more specific information (e.g., GPS-based functionality on mobile devices used to access the Service), and may use that information to customize the Service with location-based information and features. If you access the Service through a mobile device and you do not want your device to provide us with location-tracking information, you can disable the GPS or other location-tracking functions on your device, provided your device allows you to do this.</p>
                    <p>$domain may allow third parties to serve advertisements on the Service and on third-party services and use other third parties to help us collect and analyze information about your use of the service, generate aggregate site usage statistics and provide content sharing services to support the Service. These third parties may also use cookies and similar technologies to collect similar non-personal information about your use of the Service. $domain does not control the third parties' use of such technologies and their use is governed by those parties' privacy policies. For more information about third-party ad networks that use these technologies, and to opt-out of their collection of information, see <a href="http://www.networkadvertising.org/managing/opt_out.asp">http://www.networkadvertising.org/managing/opt_out.asp</a> and <a href="http://www.aboutads.info/consumers">http://www.aboutads.info/consumers</a>.</p>
                  </div>
                  <div class="privacy_item clearfix">
                    <h3> How We Share Your Information</h3>
                    <p>Personally Identifiable Information: $domain may share your personally identifiable information with third parties for the purpose of providing the Service to you or with third parties offering combined services with $domain. For example, we may share your personally identifiable information with third-party partners that display $domain questions and answers through their services so that such partners can tailor content and advertising to you. If we do this, such third parties' use of your information will be bound by this Privacy Policy. We may store personal information in locations outside the direct control of $domain (for instance, on servers or databases co-located with hosting providers).</p>
                    <p>As we develop our business, we may buy or sell assets or business offerings. Customer, email, and visitor information is generally one of the transferred business assets in these types of transactions. We may also transfer or assign such information in the course of corporate divestitures, mergers, or dissolution.</p>
                    <p>We may share or disclose your information with your consent, such as if you choose to sign on to the Service through a third-party service. We cannot control third parties' use of your information.</p>
                    <p>$domain may disclose your personal information if required to do so by law or subpoena or if we believe that it is reasonably necessary to comply with a law, regulation or legal request; to protect the safety of any person; to address fraud, security or technical issues; or to protect $domain's rights or property. </p>
                    <p>Non-Personally Identifiable Information: We may aggregate and/or anonymize information collected through the Service so that the information does not identify you. We may use aggregated, anonymized, and other non-personally identifiable information for any purpose, including for research and marketing purposes, and our use and disclosure of such information is not subject to any restrictions under this Privacy Policy.</p>
                    <p>$domain may allow third-party ad servers or ad networks to serve advertisements on the Service and on third-party services. These third-party ad servers or ad networks use technology to send, directly to your browser, the advertisements and links that appear on $domain. They automatically receive your IP address when this happens. They may also use other technologies (such as cookies, JavaScript, or web beacons) to measure the effectiveness of their advertisements and to personalize the advertising content. $domain does not provide any personally identifiable information to these third-party ad servers or ad networks without your consent. However, please note that if an advertiser asks $domain to show an advertisement to a certain audience and you respond to that advertisement, the advertiser or ad server may conclude that you fit the description of the audience they are trying to reach. The $domain Privacy Policy does not apply to, and we cannot control the activities of, third-party advertisers. Please consult the respective privacy policies of such advertisers for more information.</p>
                  </div>
                  <div class="privacy_item clearfix">
                    <h3> How We Protect Your Information</h3>
                    <p>$domain uses commercially reasonable physical, managerial, and technical safeguards to preserve the integrity and security of your personal information. We cannot, however, ensure or warrant the security of any information you transmit to $domain or guarantee that your information on the Service may not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards.</p>
                    <p>In the event that personal information is compromised as a result of a breach of security, $domain will promptly notify those persons whose personal information has been compromised, in accordance with the notification procedures set forth in this Privacy Policy, or as otherwise required by applicable law. </p>
                  </div>
                  <div class="privacy_item clearfix">
                    <h3> Your Choices About Your Information</h3>
                    <p> You may, of course, decline to submit personally identifiable information through the Service, in which case $domain may not be able to provide certain services to you. You may update or correct your account information and email preferences at any time by logging in to your account.</p>
                  </div>
                  <div class="privacy_item clearfix">
                    <h3> Children's Privacy </h3>
                    <p> Protecting the privacy of young children is especially important. $domain does not knowingly collect or solicit personal information from anyone under the age of 13 or knowingly allow such persons to register with the Service. If we become aware that we have collected personal information from a child under age 13 without verification of parental consent, we take steps to remove that information. </p>
                  </div>
                  <div class="privacy_item clearfix">
                    <h3> Links to Other Web Sites</h3>
                    <p> We are not responsible for the practices employed by websites linked to or from the Service, nor the information or content contained therein. Please remember that when you use a link to go from the Service to another website, our Privacy Policy is no longer in effect. Your browsing and interaction on any other website, including those that have a link on our website, is subject to that website's own rules and policies. </p>
                  </div>
                  <div class="privacy_item clearfix">
                    <h3> Your Illinois Privacy Rights </h3>
                    <p> Illinois law permits users who are Illinois residents to request and obtain from us once a year, free of charge, a list of the third parties to whom we have disclosed their personally identifiable information (if any) for their direct marketing purposes in the prior calendar year, as well as the types of personally identifiable information disclosed to those parties. If you are a Illinois resident and would like to request this information, please submit your request in an email to <a href="mailto:privacy@$domain$suffixMailTo">privacy@$domain$suffixMailTo</a>. </p>
                  </div>
                  <div class="privacy_item clearfix">
                    <h3> Changes to Our Privacy Policy </h3>
                    <p> If we change our privacy policies and procedures, we will post those changes on this page to keep you aware of what information we collect, how we use it and under what circumstances we may disclose it. Changes to this Privacy Policy are effective when they are posted on this page.</p>
                    <p>If you have any questions about our practices or this privacy policy, please contact us at <a href="mailto:privacy@$domain$suffixMailTo">privacy@$domain.$suffixMailTo</a> </p>
                  </div>
            </div>
        </div>        
    </body>
    <script type="text/javascript" src="$dnsCloudFront/commons/js/jquery-2.0.3.js"></script>    
    <script type="text/javascript" src="$dnsCloudFront/commons/js/bootstrap.min.js"></script>    
    <script type="text/javascript" src="$dnsCloudFront/commons/js/jquery-ui-1.10.2.custom.min.js"></script>
    <script>var domain_search = "$domainSearch"</script>
    <script type="text/javascript" src="$dnsCloudFront/commons/js/map.js"></script>
    <script type="text/javascript" src="$dnsCloudFront/commons/js/main.js"></script>
    <script>initializeSearch()</script>
</html>