<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="icon" type="image/x-icon" href="$dnsCloudFront/$domain/images/favicon.ico" />
        <link href="$dnsCloudFront/commons/css/style.css" rel="stylesheet" type="text/css">
        <link href="$dnsCloudFront/commons/css/bootstrap-combined.no-icons.min.css" rel="stylesheet" type="text/css">
        <link href="$dnsCloudFront/commons/css/jquery-ui-1.10.2.custom.min.css" rel="stylesheet" type="text/css">   
        <link href="$dnsCloudFront/$domain/css/custom.css" rel="stylesheet" type="text/css">  
        <link href="$dnsCloudFront/commons/css/cloudsearch.css" rel="stylesheet" type="text/css">
        <script>
           (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
           (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
           m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
           })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
           ga('create', '$googleAnalyticsId', '${domain}.com');
           ga('send', 'pageview');
        </script>
        <script type="text/javascript">
            var _kmq = _kmq || [];
            var _kmk = _kmk || '$kissmetricsId';
            function _kms(u){
              setTimeout(function(){
                var d = document, f = d.getElementsByTagName('script')[0],
                s = d.createElement('script');
                s.type = 'text/javascript'; s.async = true; s.src = u;
                f.parentNode.insertBefore(s, f);
              }, 1);
            }
            _kms('//i.kissmetrics.com/i.js');
            _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
      </script>
    </head>
    <body id="taxonomies" style="background:#f4f4f4 !important;">
        <div id="wrapper">
            <div id="containTopMenu">	
                #parse( "header.vm" )
            </div>
            <div id="content" class="clearfix" style="margin-top: 34px;background:url($dnsCloudFront/$domain/images/content_bg.png) no-repeat center top;"></div>
        </div>
        #foreach($taxonomy in $domaininfo.getTaxonomies())
            #set($mainTopicId = $taxonomy.getMainTopic().getId())
            <div class="topics2" style="margin: 40px 0 12px 15px;">		
                 <img src="http://nodeimages.s3.amazonaws.com/$mainTopicId/images/${mainTopicId}_0_nocrop.jpg" alt="" class="imgtopic pic_bg"></img>
                 <div class="text_bg1 text_bg2"></div>
                 <div class="topics_text">
                     <div class="topics_title">
                        <a style="color:white;" class="titleTopic" href="/topics/$linkatools.escapeText("$taxonomy.getName()")/$linkatools.escapeText("$taxonomy.getName()")/$mainTopicId">$taxonomy.getName()</a>
                     </div>
                     <p class="body_text body_text2" style="width: 1141px;">$taxonomy.getDescription()</p>
                 </div>		
           </div>
        #end 
    </body>
    <script type="text/javascript" src="$dnsCloudFront/commons/js/jquery-2.0.3.js"></script>  
    <script type="text/javascript" src="$dnsCloudFront/commons/js/jquery-ui-1.10.2.custom.min.js"></script>
    <script type="text/javascript" src="$dnsCloudFront/commons/js/map.js"></script>
    <script type="text/javascript" src="$dnsCloudFront/commons/js/main.js"></script>
    <script type="text/javascript" src="$dnsCloudFront/commons/js/topics.js"></script>
    <script>var domain_search = "$domainSearch"</script>
    <script>initializeSearch()</script>
</html>