BODY {

	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Tahoma, Arial, SansSerif

}

.infotext {

	FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Verdana, Tahoma, Arial, SansSerif

}

.infotitle {

	FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: #5b0000; FONT-FAMILY: Tahoma, Verdana, Arial, SansSerif

}

.infotitle A {

	FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: #5b0000; FONT-FAMILY: Tahoma, Verdana, Arial, SansSerif

}

.infotitle A:active {

	FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: #5b0000; FONT-FAMILY: Tahoma, Verdana, Arial, SansSerif

}

.infotitle A:link {

	FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: #5b0000; FONT-FAMILY: Tahoma, Verdana, Arial, SansSerif

}

.infotitle A:visited {

	FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: #5b0000; FONT-FAMILY: Tahoma, Verdana, Arial, SansSerif

}

.infotitle A:hover {

	FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Tahoma, Verdana, Arial, SansSerif

}

.footer {

	FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: #5b0000; FONT-FAMILY: Verdana, Tahoma, Arial, SansSerif

}

.footer A {

	FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: #5b0000; FONT-FAMILY: Verdana, Tahoma, Arial, SansSerif

}

.footer A:active {

	FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: #5b0000; FONT-FAMILY: Verdana,Tahoma,  Arial, SansSerif

}

.footer A:link {

	FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: #5b0000; FONT-FAMILY: Verdana, Tahoma, Arial, SansSerif

}

.footer A:visited {

	FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: #5b0000; FONT-FAMILY: Verdana, Tahoma, Arial, SansSerif

}

.footer A:hover {

	FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: gray; FONT-FAMILY: Verdana, Tahoma, Arial, SansSerif

}

