        <tr align="left" valign="top">
          <td width="25" align="center" class="list"><b>##LOOP##.</b></td>
          <td width="585">
            <p><b><span class="list"><a href="##DOCURL##">##DOCTITLE##</a></span></b><br>
              <span class="small">
              <a href="##DOCURL##">##DOCURL##</a>
              (See <a href="/servlet/Main?template=Taxonomy.GetRelatedNodes&Type=0&DocumentID=##DOCUMENTID##&DocURL=##EDOCURL##&DocTitle=##EDOCTITLE##">related topics</a>
)<br>
              <b><img src="/servlet/images/idrac/s.gif" width="6" height="20" align="top"></b>
              </span></p>
          </td>
          <td width="50" align="right" class="list">
		##SCOREAGG##
<!-- ##SCOREAGG##
     ##SCORE1##
     ##SCORE5##
     ##SCORE6##
     ##SCOREFT##
-->
	    </td>
        </tr>
