body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, 
fieldset, input, textarea, p, blockquote, th, td 
{ padding:0;margin:0;}
fieldset, img { border:0;}
table {border-collapse:collapse;border-spacing:0;}
ol, ul {list-style:none;}
address, caption, cite, code, dfn, em, strong, th, var 
{font-weight:normal;font-style:normal;}
caption, th {text-align:left;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;font-size:100%;}
q:before, q:after {content:'';}
abbr, acronym { border:0;}
fieldset,img { border:0;}

body {
    font:normal 11px verdana,Arial, Helvetica, sans-serif;
	color:#000;line-height:20px;
	background:#000;
}
a {text-decoration:underline;color:#000;}
a:hover {color:#651d0b;}
a:active {color:#823724;}
p{padding:0 0 10px 0;padding:0 0 5px 0\9;}
.clearfix:after 
{ 
content:"."; 
display:block; 
height:0; 
clear:both; 
visibility:hidden; 
} 
.clearfix 
{
display:inline-block;
}
.clear{ clear:both;}
.float_l{float:left;}
.float_r{float:right;}
#container{margin:0 auto;width:990px;}
#header{width:990px;height:176px;float:left;background:url(../images/top_bg.jpg) no-repeat left top;}
#content{clear:both;width:940px;padding:0 25px;float:left;background:url(../images/midd_bg.gif) repeat-y left top;}
#footer{clear:both;width:990px;float:left;height:33px;background:url(../images/bott_bg.gif) no-repeat left top;text-align:center;color:#fff;padding:10px 0 0 0;}

#logo{float:left;width:250px;height:90px;padding:10px 0 0 13px;text-align:center;}
#logo2{float:right;padding:12px 10px 0 0;}
#link_right{width:600px;height:110px;float:right;padding:3px 9px 0 0;}
#link_right .link1{float:right;width:300px;height:20px;line-height:20px;background:url(../images/link_bg2.png) no-repeat right top;text-align:right;padding:0 8px 0 0;}
#link_right .link1 a{ text-decoration:underline;color:#fff;}
#link_right .link1 a:hover{ text-decoration:underline;color:#e3c098;}
#link_right .link2{clear:both;float:right;width:300px;height:32px;padding:34px 8px 15px 0;text-align:right;}
#link_right .link2 img{padding:0 0 0 5px;}
#link_right .link3{clear:both;float:right;width:340px;height:33px;line-height:33px;background:url(../images/link_bg3.png) no-repeat left top;text-align:center;padding:0 8px 0 132px;}
#link_right .link3 a{ text-decoration:none;color:#fff;font-size:12px;}
#link_right .link3 a:hover{ text-decoration:none;color:#f9a334;}
#link_right .link3 a.now{color:#f9a334;font-weight:normal;}
#link_right .link3 ul{list-style:none;height:33px;line-height:33px;padding:0;margin:0;}
#link_right .link3 ul li{float:left;padding:0 10px;line-height:33px;}

#content .location{width:100%;padding:5px 0 10px 0;}
#content .content_left{clear:both;float:left;width:250px;}
#content .content_right{float:right;width:675px;padding:0 5px 0 0;}
#content .content_left p.nav1{width:235px;height:22px;background:url(../images/link_bg1.gif) no-repeat left top;padding:4px 0 0 15px;margin:3px 0;line-height:12px;font-size:12px;}
#content .content_left p.nav1 img{margin:2px 0 0 0;}
#content .content_left p.nav1 a{color:#fff; text-decoration:none;}
#content .content_left p{width:220px;padding:0 0 0 15px;margin:3px 0;}
h1{font-size:24px;padding:5px 0 10px 0;}
h3{font-size:12px;font-weight:bold;}
.now{color:#651d0b;font-weight:bold;}
#content .content_left p.nav3{padding:0 0 0 31px;width:205px;}
#content .content_left p.nav2{font-weight:bold;padding:5px 0 0 15px;line-height:10px;}