<object data="http://www.justintimedesign.com/images/flash/ritas_160x600_jitd.swf" type="application/x-shockwave-flash" height="600" width="160">
<param name="src" value="http://www.justintimedesign.com/images/flash/ritas_160x600_jitd.swf">
<param name="title" value="160x600 sky scraper banner ad">
<img src="http://dev2.interestplace.com/ad_server/size160x600/images/ritas_160x600.jpg" alt="" width="160" height="600">
</object>