<!-- dblfoot.tpl -->
</table>
<hr>
<font size=+1 face="Helvetica">Add a domain name to the black list: 
&nbsp; <input type="text" size=30 maxlength=20 name="new" value=""></font>
<input type="submit" name="submit" value="Submit Changes">
<p>
