        <TR>
          <TD><FONT face="Arial, Helvetica" 
            size=-1><STRONG>&nbsp;&nbsp;1. <A 
            href="##DOCUMENT_URL##">##DOCUMENT_TITLE##
            </A> </STRONG></FONT></TD>
          <TD align=right><FONT face="Arial, Helvetica" 
            size=-2><NOBR><IMG height=14 src="/images/star.gif" 
            width=14><IMG height=14 src="/images/star.gif" 
            width=14><NOBR><IMG height=14 src="/images/star.gif" 
            width=14> -- 11</NOBR> </FONT></TD></TR>
