<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/badbrowser.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39745928-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript">
  var _kmq = _kmq || [];
  var _kmk = _kmk || '$kissMetricId';
  function _kms(u){
    setTimeout(function(){
      var d = document, f = d.getElementsByTagName('script')[0],
      s = d.createElement('script');
      s.type = 'text/javascript'; s.async = true; s.src = u;
      f.parentNode.insertBefore(s, f);
    }, 1);
  }
  _kms('//i.kissmetrics.com/i.js');
  _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
</script>
<script type="text/javascript">
    #if($user.getUserId())
    _kmq.push(['identify', '$user.getUserId()']);
   #else
    _kmq.push(['identify', '']);
   #end
</script>
                <!-- add this parameters -->
                <meta property="og:title" content="$node.getTitle()" />
                <meta property="og:image" content=""/> 
                <meta property="og:description" content="$node.getDescription()" />


		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
		<title>$taxonomy.getName():$node.getTitle()</title>
                                            
                <!-- scripts -->
                <script type="text/javascript">
                    var CONTEXT_LINKAPEDIA = "$context";
                    var lastbreadcrumbswithchilds = "$lastbreadcrumbswithchilds";
                </script>
		<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/scrollable.js"></script>	
		<script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/linkapedia_experiment.js"></script>		
                <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/infinite_bridgenode_wiki.js"></script>                
                <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/cloudsearch.js"></script>
                <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/pageEvents.js" type="text/javascript"></script>                      
		
                <!-- css -->
                <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/common_google.css" rel="stylesheet" type="text/css" />
                <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/main_wiki.css" rel="stylesheet" type="text/css" />                  
                <link rel="icon" type="image/x-icon" href="https://s3.amazonaws.com/resourcesweb/$environment/images/favicon.ico" />                
                <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/scrollable.css" rel="stylesheet" type="text/css" />
                <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/infinite.css" rel="stylesheet" type="text/css" />
                <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/cloudsearch.css" rel="stylesheet" type="text/css" />                                

		<script>
			$(document).ready(function(){	
				load();
                                loadBridgeNodePage();
                                infiniteNodeScroll('$node.getId()','$infiniteScrollInit','$infiniteScrollNobjects');
                                CONFIG_SEARCH.setTaxonomy('$taxonomy.getName()');
                                CONFIG_SEARCH.isExecuteQuery2($searchQuery2);
                                CONFIG_SEARCH.setSelectorsToHidden([$("#content"),$("#menu"),$("#wrapper_infinite_scroll_loading")]);
                                CONFIG_SEARCH.setSelectorParent($("#wrapper"));
                                CONFIG_SEARCH.configureInfinite();
			});
		</script>
	</head>
<body>
<div id="wrapper">
  <!--header start-->
  <ul id="header">
    <li class="logo"><a href="$context/home"><img src="https://s3.amazonaws.com/resourcesweb/$environment/images/logo.png" alt="Logo"/></a> </li>
    <li class="links"> <a href="$context/OtherPages?page=about&taxonomyName=$taxonomyName" style="color:white;">About</a> | <a href="$context/OtherPages?page=privacy&taxonomyName=$taxonomyName" style="color:white;">Privacy</a></li>
  </ul>
  <!--header end-->
  <!--content start-->
  <div id="content" class="content clearfix">
    <!--sidebar start-->
    <div id="sidebar_1">
      <div class="search">
        <h2>Search topics:</h2>
        <input id="searchtxt" name="" type="text" class="search_input" value="" onkeyup="CONFIG_SEARCH.search();"/>        
      </div>
      <!--table_of_contents start-->
      <div class="table_of_contents clearfix">
        <h2>Table of Contents</h2>
        <ul>
            #set($contnode = 0)
            #foreach($BreadCrumbs in $breadcrumbs)
                #if($contnode != 0)
                    <li>
                        <h5><a style="color:#0645ad;" href="$context/page/$EscapeSeo.escape($BreadCrumbs.getParent().getTitle())/$BreadCrumbs.getParent().getId()">$BreadCrumbs.getParent().getTitle()</a></h5>                                                       
                        #if($BreadCrumbs.getTotalChilds() > 0)
                            <a style="color:#0645ad;" id="$BreadCrumbs.getParent().getId()" href="#"  class="show3 showRelated_$BreadCrumbs.getParent().getId()" onclick="showRelated(this)">show related</a><a href="#" class="hide3" onclick="hiddenRelated(this)">hide related</a>
                        #end
                    </li>
                #end
                #set($contnode = $contnode+1)
            #end

            #set($contnode = 0)
            #foreach($BreadCrumbs in $breadcrumbs)
               #if($contnode != 0)
                <li id="related_$BreadCrumbs.getParent().getId()" class="listrelated">
                    <ul>
                      <li>
                        <hr>
                      </li>
                      #if($BreadCrumbs.getTotalChilds() > 0)
                            #foreach($NodeChild in $BreadCrumbs.getChilds())
                                <li><a style="color:#0645ad;" href="$context/page/$EscapeSeo.escape($NodeChild.getName())/$NodeChild.getNodeId()">$NodeChild.getName()</a></li>
                            #end                        
                      #end
                    </ul>
                </li>
             #end
             #set($contnode = $contnode+1)
            #end
        </ul>
      </div>
      <!--table_of_contents end-->      
    </div>
    <!--sidebar end-->
    <div id="body_content_1" class="clearfix">
      <ul class="location">
        #set($contnode=0)        

        #foreach($BreadCrumb in $breadcrumbs)
            #if($contnode == 0)
                <li><a class="breadcrumbs" href="$context/page/$EscapeSeo.escape($BreadCrumb.getParent().getTitle())/$BreadCrumb.getParent().getId()">$BreadCrumb.getParent().getTitle()</a></li>
            #else                
                <li> &gt; <a class="breadcrumbs" href="$context/page/$EscapeSeo.escape($BreadCrumb.getParent().getTitle())/$BreadCrumb.getParent().getId()">$BreadCrumb.getParent().getTitle()</a></li>
            #end
            #set($contnode=1)
        #end
      </ul>
      <h1>Topics found in $node.getTitle()</h1>
      <!-- Topics childrens start -->
        #set($ext=".jpg")
        #set($imgNumber="_0")
        <div id="bridgeNodeContent" class="clearfixM fluid"> 
        #foreach( $son in $children )	
             <div class="topics"><a href="$context/page/$level2.get(0).getEncodeName()/$son.getEncodeName()/$son.getNodeId()"><img class="show_pic" alt="" src="$son.getImageSrc()"  ></a>
                <div class="body_text">
                  <h2><a href="$context/page/$level2.get(0).getEncodeName()/$son.getEncodeName()/$son.getNodeId()">$son.getName()</a></h2>
                  <p class="bridge_text">$son.getDescription()</p>
                </div>
              </div>
        #end
        </div>
      <!-- Topics childrens end -->      
    </div>
  </div>
  <!--content end-->
</div>
<!-- infinite scroll -->
           <div id ="wrapper_infinite_scroll_loading">
                <div id="infinite_scroll_loading">
                      <img  src="https://s3.amazonaws.com/resourcesweb/$environment/images/infinite.gif" />
                </div>
           </div>
      <!-- end infinite scroll -->
</body>
</html>
