<blockquote>
<table width=650><tr><td valign=middle>
<form METHOD="POST" ACTION="/servlet/Main">
<input type="hidden" name="nodelist" value="true">
<input type="hidden" name="template" value="Taxonomy.SimilarDocuments">
Restrict Folder: 
<select name="genreid">
##GENRESELECTLIST##
</select>
<P>
<u><b>Classification Results</u>: &nbsp; </b>
<p>