<blockquote> <table width=650><tr><td>
<DT> ##LOOPI##. <a href='/servlet/Main?template=Taxonomy.DisplayResults&NodeID=##NODEID##'>
<i><b>##NODETITLE##</b></i></a> &nbsp; ##STARS##
<BR>##NODETREE##
<BR>
##DOCSUMMARY##
</DT></td></tr></table></blockquote>