body{
    margin:0;

}
#content{
    position:relative;
   /* top:135px; */
}


#header{
    top: 0;
    left: 0;
    /*width: 100%;*/
    height: 34px;
    /*position:fixed;*/
    z-index:1000;
}

.unjoinNode{
	text-decoration: underline;
	color: red;

}

#head{
    width: 100%;
    height: 30px;
    background-color: black;
}
