<blockquote>
<table width=700 border=0><tr><td>
<font face=Arial,Helvetica size=2>
<u><b>Explain Results for Node</u></b>: &nbsp; ##NODETITLE## (ID: ##NODEID##)
<br><u><b>Document</u></b>: &nbsp; ##DOCTITLE##
<br><u><b>Scoring</u></b>: &nbsp; Overall: ##SC1## Frequency: ##FRQ## Coverage: ##COV##
</font>
</td></tr></table>
<P>
<table width=700 border=1>
<tr><td><b><font face=Arial,Helvetica>Signature term</font></b></td>
    <td><b><font face=Arial,Helvetica>Source frequency</font></b></td>
    <td><b><font face=Arial,Helvetica>Document frequency</font></b></td>
</tr>

