                    <tr>
                      <td><img src="/servlet/images/idrac/spacer.gif" width="10" height="10"></td>                    </tr>
                    <tr>
                      <td>##PREVIOUS##  |
				  ##NEXT##</td>
                    </tr>
                    <tr>
                      <td><img src="/servlet/images/idrac/spacer.gif" width="15" height="15"></td>                    </tr>
                  </table>
