A  {
	color : #000000;
}

A:Visited  {}

A:Active  {}

A:Hover  {
	color : #ff6600;
	font-style : normal;
	text-decoration : none;
}

BODY, td  {
	font-size : 8pt;
	font-family : verdana, arial, helvetica, sans-serif;
	color : #000000;
}

select  {
	font-size : 9px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	color : #000000;
	background : #ffffff;
}

.tabledef  {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 8pt;
	border-width : 1px;
	border-style : solid;
	border-color : #000000;
}

.nav  {
	font-size : 8pt;
	font-family : verdana, arial, helvetica, sans-serif;
	color : #000000;
}

.bodycopy  {
	font-size : 8pt;
	font-family : verdana, arial, helvetica, sans-serif;
	color : #000000;
	line-height : 12pt;
}

.news  {
	font-size : 9px;
	font-family : verdana, arial, helvetica, sans-serif;
	color : #000000;
}

.level3  {
	font-size : 10px;
	font-family : verdana, arial, helvetica, sans-serif;
	font-weight : bold;
	color : #ffffff;
}

.sectionhead  {
	font-size : 16px;
	font-family : Times New Roman, Garamond, serif;
	color : #000000;
	font-weight : bold;
	font-style : normal;
}

.whitecopy  {
	font-size : 8pt;
	font-family : verdana, arial, helvetica, sans-serif;
	color : #ffffff;
}

.inputfield  {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 8pt;
	color : rgb(0,0,0);
	background : rgb(255,255,255);
}

.genre A:link {
        COLOR: #660033;
}

.genre A:visited {
        COLOR: #660033;
}

.genrewb {
        FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}

.genrewb A {
        FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, SansSerif
}

.genrewb A:active {
        FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, SansSerif
}

.genrewb A:visited {
        FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, SansSerif
}

.genrewb A:link {
        FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, SansSerif
}