<tr><td><input type="text" size=75 name="NewPath1" Value=""></b></td>
    <td align=center><select name="NewRecurse1"><option selected value=1>Yes<option value=0>No</select></td>
    <td align=center>N/A</td>
</tr>
<tr><td><input type="text" size=75 name="NewPath2" Value=""></b></td>
    <td align=center><select name="NewRecurse2"><option selected value=1>Yes<option value=0>No</select></td>
    <td align=center>N/A</td>
</tr>
<tr><td><input type="text" size=75 name="NewPath3" Value=""></b></td>
    <td align=center><select name="NewRecurse3"><option selected value=1>Yes<option value=0>No</select></td>
    <td align=center>N/A</td>
</tr>
</table>
<p>
<input type="submit" name="submit" value="Save Changes">
</form>
</blockquote>
