<table width="760" border="0">
  <tr> 
    <td>
      <div align="center"><img src="/images/idrac/partne.gif" border=0 align="absmiddle"></div>
    </td>
  </tr>
</table>
<DIV align=center>
<CENTER>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<table align=LEFT border="0" cellpadding="0" cellspacing="1" width="760">
  <TABLE cellSpacing=1 cellPadding=0 width="70%" align=center border=0 height="145" dwcopytype="CopyTableRow">
      <TBODY> 
      <TR>
        <TD width="100%">
          <P align=left><FONT face=arial size=2>IDRAC - International Drug Registration 
            Assisted by Computer. <BR>
            Europe/Asia: +33 1 53 06 20 20, Americas: +1 866 437 7787 / + 1 215 
            619 6400</FONT></P>
          <P align=center><FONT face=arial size=2><img src="/images/idrac/logo_liquent.gif" width="115" height="60"></FONT></P>
          <P align=left><FONT face=arial size=2> <A href="mailto:idrac-helpdesk@liquent.com">mailto:idrac-helpdesk@liquent.com</A><br>
            Copyrightę 2002 by LIQUENT SAS </FONT></P>
          <P align=left><FONT face=arial size=2><A 
      href="mailto:idrac-helpdesk@liquent.com"> </A></FONT> <img src="/images/idrac/capgemini.gif" width="123" height="27"> 
            <br>
          </P>
        </TD>
      </TR></TBODY>
</table>
