<HTML><HEAD><TITLE>IDRAC is the leading regulatory intelligence database that covers 30 global pharmaceutical markets</TITLE>
<BODY bgColor=#e8e8e8 leftMargin=0 topMargin=0>
<TABLE height=546 cellSpacing=0 cellPadding=3 width=761 bgColor=#ffffff 
border=0>
  <TBODY>
  <TR>
    <TD width=752 background=/images/idrac/idrac_web_header.jpe colSpan=2 
    height=60>&nbsp; </TD></TR>
  <TR>
    <TD width=108 bgColor=#003366 height=477></TD>
    <TD vAlign=top align=left width=641 height=477>
      <TABLE cellSpacing=0 cellPadding=3 width=606 bgColor=#ffffff border=0>
        <TBODY>
        <TR>
          <TD width=65></TD>
          <TD width=654><FONT face=Verdana size=2>IDRAC is the leading 
            regulatory intelligence database that covers 30 global 
            pharmaceutical markets.</FONT></TD>
          <TD width=258><FONT face=Verdana size=2><IMG height=64 
            alt="IDRAC, the leading regulatory intelligence database, &#13;&#10;logo" 
            src="/images/idrac/idrac_logo.gif" width=60 align=absMiddle 
            border=0></FONT></TD></TR>
        <TR>
          <TD width=65></TD>
          <TD width=912 colSpan=2>
            <HR>
          </TD></TR>