<script>
MM_setTextOfLayer('documents', '', '<b>Documents ##START## - ##END## of ##RESULTS## on the subject : ##NODETITLE## <span class=small>(<a href=/servlet/Main?template=Taxonomy.AddAlert&UserID=##USERID##&NodeID=##NODEID##>Add to my e-mail alerts</a>)</span></b></p><p align=right>##GENRE_LIST##<p align="center"><img src="/images/idrac/blue.gif" width="660" height="1"></p>');
</script>
<p>

