<tr><td width=30%> <a href='/servlet/Main?template=Taxonomy.DisplayResults&NodeID=##NODEID##'>##NODETITLE##</a> </td>
      <td align=center><b><input type="radio" name="##NODEID##_score" value="0" ##CHECKED0##></b></td>
      <td align=center><b><input type="radio" name="##NODEID##_score" value="1" ##CHECKED1##></b></td>
      <td align=center><b><input type="radio" name="##NODEID##_score" value="2" ##CHECKED2##></b></td>
      <td align=center><b><input type="radio" name="##NODEID##_score" value="3" ##CHECKED3##></b></td>
      <td align=center><b><input type="radio" name="##NODEID##_score" value="4" ##CHECKED4##></b></td>
      <td align=center><b><input type="radio" name="##NODEID##_score" value="5" ##CHECKED5##></b></td>
      <td align=center><b><input type="radio" name="##NODEID##_score" value="6" ##CHECKED6##></b></td>
      <td align=center><b><input type="radio" name="##NODEID##_score" value="7" ##CHECKED7##></b></td>
      <td align=center><b><input type="radio" name="##NODEID##_score" value="8" ##CHECKED8##></b></td>
      <td align=center><b><input type="radio" name="##NODEID##_score" value="9" ##CHECKED9##></b></td>
</tr>
