<script>
function MM_findObj(n, d) { //v4.0
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && document.getElementById) x=document.getElementById(n); return x;
}
function MM_setTextOfLayer(objName,x,newText) { //v3.0
  if ((obj=MM_findObj(objName))!=null) with (obj)
    if (navigator.appName=='Netscape') {document.write(unescape(newText)); document.close();}
    else innerHTML = unescape(newText);
}
</script>

<DIV align=center>
</DIV><BR><FONT face="Arial, Helvetica, sans-serif"> 
&nbsp;&nbsp;
##CATEGORY_HIERARCHY##
</FONT>
<DIV align=left>
<TABLE border=0 width=760 cellspacing=0 cellpadding=0>
<TR bgColor=#336666 borderColor=#996600>
<TD align=left height=23><FONT face="Arial, Helvetica, sans-serif" color=white>
<B>&nbsp;&nbsp; ##NODETITLE## </td>
<td align=right>
<A class="genrewb" HREF="/servlet/Main?template=Taxonomy.FrontPage">Home</a> | 
<A class="genrewb" HREF="/servlet/Main?template=Server.Logout">Logout</a> | 
<A class="genrewb" HREF="/servlet/Main?template=Taxonomy.EditUser">Prefs</a> |
<A class="genrewb" HREF="/servlet/Main?template=Taxonomy.Administer">Administer</a> | 
<A class="genrewb" HREF="/servlet/Main?template=Taxonomy.Help&helptext=help-home">Help</a>
&nbsp; &nbsp;
</B></FONT></TD></TR></TBODY>
</TABLE>
<TABLE border=0 cellPadding=0 cellSpacing=0 width=700>
  <TR>
    <TD height=60>
<FORM action="/servlet/Main" method=get><FONT face="Arial, Helvetica, sans-serif" size=-1>
<INPUT name=restrict type=hidden> <INPUT name=exclude 
      type=hidden>&nbsp;&nbsp;&nbsp; <B>Search Taxonomies: </B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
	
<INPUT NAME="template" TYPE=HIDDEN Value="Taxonomy.Search">
<SELECT name="CorpusID">
<OPTION selected value=0>All Taxonomies
##OPTION_CORPUS_LIST##
</SELECT> </FONT> &nbsp; &nbsp; <INPUT maxLength=100
  name=Keywords size=9>
      &nbsp; <INPUT name=Search type=submit value=Search>
<FONT face="Arial, Helvetica, sans-serif" size=-1> &nbsp; <input type="checkbox" name="related"> <b>Related</b>
&nbsp; <input type="checkbox" name="thesaurus"> <b>Thesaurus</b>
</FONT>
</FONT></TD></TR></TABLE>
<div id="documents">
</div>
<br>
