<tr align="left" valign="top"> 
  <td width="25" align="center" class="list"><b>##LOOPI##.</b></td>
  <td width="585"> 
    <p><b><a href="/servlet/Main?template=Idrac.DocumentFrame&NodeID=##NODEID##&country=##COUNTRY##&DocumentID=##DOCUMENTID##&URL1=##EDOCURL##&EDOCTITLE=##EDOCTITLE##"><span class="list">
	##DOCTITLE##
	</span></a></b><br>
      <span class="small">##DOCSUMMARY## <br>
      <a href="/servlet/Main?template=Idrac.DocumentFrame&NodeID=##NODEID##&country=##COUNTRY##&DocumentID=##DOCUMENTID##&URL1=##EDOCURL##&EDOCTITLE=##EDOCTITLE##">
	##DOCURL##</a> 
      ( See <a href="/servlet/Main?template=Idrac.GetRelatedNodes&DocURL=##EDOCURL##&DocumentID=##DOCUMENTID##&DocTitle=##EDOCTITLE##">related</a> 
        or <a href="##INFO##">information</a>)<br>
      <b><img src="/images/idrac/s.gif" width="6" height="20" align="top"></b> 
      </span></p>
  </td>
  <td width="50" align="right"><b>##COUNTRIES##</b></td>
</tr>
