body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td 
{ padding:0;margin:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img { border:0;}
address,caption,cite,code,dfn,em,th,var 
{font-weight:normal;font-style:normal;}

ol,ul {list-style:none;}
caption,th {text-align:left;}

q:before,q:after {content:'';}
abbr,acronym { border:0;}
a{ text-decoration:underline; color:#000;}
a:hover{ color:#005f5f;}
@font-face {
    font-family: 'eb_garamondregular';
    src: url('font/ebgaramond-regular.eot');
    src: url('font/ebgaramond-regular.eot?#iefix') format('embedded-opentype'),
        url('font/ebgaramond-regular.woff') format('woff'),
        url('font/ebgaramond-regular.ttf') format('truetype'),
        url('font/ebgaramond-regular.svg#eb_garamondregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayregular';
    src: url('font/raleway-regular.eot');
    src: url('font/raleway-regular.eot?#iefix') format('embedded-opentype'),
        url('font/raleway-regular.woff') format('woff'),
        url('font/raleway-regular.ttf') format('truetype'),
        url('font/raleway-regular.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,body{font-family: 'ralewayregular';font-size:12px; text-align:left; color:#000;background:#f4f4f4; line-height:18px;min-width:1000px;}

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1;display: block; }  
select,input{ font-size:12px; outline:none;font-family: 'ralewayregular';}
checkbox{ vertical-align:middle;}
h1,h2,h3,h4,h5,h6 {font-family: 'ralewayregular';font-size:100%;}
.body_text{font-family: 'eb_garamondregular';font-size:14px; line-height:1.4em;}
.float_l{float:left;}
.float_r{float:right;}

#wrapper{}
#header{background:#000; height:34px;line-height:34px;padding:0 40px;color:#fff;}
#header .logo{float:left;padding:2px 0 0 0; margin-left: 20px}
#header .login{float:right;padding:2px 0 0 0px; cursor:pointer;}

a.login_btn{ line-height:20px;height:20px; display:block;width:66px;background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), color-stop(0.5, rgba(255,255,255,0.15)), color-stop(0.5, rgba(255,255,255,0.01)), to(transparent)); 
             background: transparent -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.01) 50%, transparent);
             filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorstr='#80FFFFFF', EndColorstr='#00FFFFFF'); 
             -webkit-background-clip: padding-box; background-color: #078a8a;text-align:center;  text-transform: uppercase;  text-decoration:none; color:#fff; text-shadow: 1px 0px 1px #000000;-webkit-border-radius:4px;
             border-radius:4px;border:1px solid #666; border-top:1px solid #9a9a9a;-webkit-background-clip: padding-box;}
a.login_btn:hover{  filter:alpha(opacity=90);  
                    -moz-opacity:0.9;  
                    -khtml-opacity: 0.9;  
                    opacity: 0.9;  }

#header .links{float:right; color:#fff;padding:2px 15px 0 0px; }
#header .links a{color:#fff;padding:0 5px; text-decoration:none;}
#header .links a:hover{color:#9dd0d1;}

#header .search{float:right;margin:1px 6px 0 0;margin:6px 6px 0 0\9;}
*+html #header .search{margin:1px 6px 0 0;}
.search_input{line-height:20px;height:20px; color:#666666;background:#fff url(../images/icon_search.png) no-repeat 3px 3px; padding:0 3px 0 21px; -webkit-border-radius: 3px;
              border-radius:3px; width:200px;border:1px solid #000;}
#header .login_form{float:right;margin:1px 0 0 0; display:none;}
.top_input{line-height:20px;height:20px; color:#666666;background:#fff; padding:0 3px;margin:0 10px 0 0; -webkit-border-radius: 3px;
           border-radius:3px; width:130px;border:1px solid #000;}

/** menu **/
#menu{background:url(../images/menu_bg.png) repeat-x center bottom;padding:10px 40px 2px 40px; font-weight:bold;position:relative;}
#menu .head_level_1{height:41px;overflow:hidden;}
#menu .head_level_1 li{display:block;float:left;padding:0 0 0 1.4%;width:13%;}
#menu .head_level_1 li:first-child{padding:0;}

#menu .head_level_2{clear:both;height:41px;overflow:hidden; position:relative;}
#menu .head_level_2 li{display:block;float:left;padding:0 0 0 1.4%;width:13%;}
#menu .head_level_2 li:first-child{padding:0;}

#menu .head_level_3{clear:both;height:42px;overflow:hidden;position:relative;}
#menu .head_level_3 li{display:block;float:left;padding:0 0 0 1.4%;width:13%;}
#menu .head_level_3 li:first-child{padding:0;}

#menu li a.head_btn1{ display:block;float:left;width:100%; 
                      text-align:center;text-decoration:none;-webkit-box-shadow: 2px 1px 2px 0px rgba(0, 0, 0, 0.6);
                      box-shadow: 2px 1px 2px 0px rgba(0, 0, 0, 0.6);color:#fff;-webkit-border-radius: 5px;
                      border-radius:5px;-webkit-background-clip: padding-box;border:1px solid #4e4e4e;}

#menu li a.head_btn1 span{display: block; border-top:1px solid #f0d8d8; border-bottom:1px solid #9a2322;  background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), color-stop(0.5, rgba(255,255,255,0.15)), color-stop(0.5, rgba(255,255,255,0.01)), to(transparent)); 
                          background: transparent -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.01) 50%, transparent);
                          filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorstr='#80FFFFFF', EndColorstr='#00FFFFFF'); 
                          -webkit-background-clip: padding-box; background-color: #FF3300;padding:7px 3px;height:15px;line-height:16px;text-overflow:ellipsis; overflow:hidden;white-space:nowrap;   -webkit-border-radius: 5px;
                          border-radius:5px;}

#menu li a.head_btn1:hover span, #menu li a.head_btn1:hover span {  
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(220,220,220,0.6)), color-stop(0.5, rgba(100,100,100,0.2)), color-stop(0.5, rgba(0,0,0,0.21)), to(rgba(0, 0, 0, 0.20))); 
    background: -moz-linear-gradient(top, rgba(220,220,220,0.6), rgba(100,100,100,0.2) 50%, rgba(0,0,0,0.21) 50%, rgba(0, 0, 0, 0.20));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#99dcdcdc', EndColorStr='#33000000'); 
    -webkit-background-clip: padding-box; background-color: #ff0d09;
}

#menu li a.head_btn1:active span, #menu li a.head_btn1:active span {
    filter:alpha(opacity=80);  
    -moz-opacity:0.8;  
    -khtml-opacity: 0.8;  
    opacity: 0.8; 
}

#menu li a.head_btn2{ display:block;float:left;width:100%; 
                      text-align:center;text-decoration:none;-webkit-box-shadow: 2px 1px 2px 0px rgba(0, 0, 0, 0.6);
                      box-shadow: 2px 1px 2px 0px rgba(0, 0, 0, 0.6);color:#FFF;-webkit-border-radius: 5px;
                      border-radius:5px;-webkit-background-clip: padding-box;border:1px solid #4e4e4e;}

#menu li a.head_btn2 span{display: block; border-top:1px solid #fff; /*  border-bottom:1px solid #979797;*/ background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1.0)), color-stop(0.5, rgba(255,255,255,0.15)), color-stop(0.5, rgba(255,255,255,0.01)), to(transparent)); 
                          background: transparent -moz-linear-gradient(top, rgba(255,255,255,1.0), rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.01) 50%, transparent);
                          filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorstr='#80FFFFFF', EndColorstr='#00FFFFFF'); 
                          -webkit-background-clip: padding-box; background-color: #993333;padding:7px 3px;height:15px;line-height:16px;text-overflow:ellipsis; overflow:hidden;white-space:nowrap;   -webkit-border-radius: 5px;
                          border-radius:5px;}

#menu li a.head_btn2:hover span, #menu li a.head_btn2:hover span {  

    background: -webkit-gradient(linear, left top, left bottom, from(rgba(220,220,220,0.6)), color-stop(0.5, rgba(100,100,100,0.2)), color-stop(0.5, rgba(0,0,0,0.21)), to(rgba(0, 0, 0, 0.20))); 
    background: -moz-linear-gradient(top, rgba(220,220,220,0.6), rgba(100,100,100,0.2) 50%, rgba(0,0,0,0.21) 50%, rgba(0, 0, 0, 0.20));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#99dcdcdc', EndColorStr='#33000000'); 
    -webkit-background-clip: padding-box; background-color: #FF3300;
}

#menu li a.head_btn2:active span, #menu li a.head_btn2:active span {
    filter:alpha(opacity=80);  
    -moz-opacity:0.8;  
    -khtml-opacity: 0.8;  
    opacity: 0.8; 
}


#menu .scroll_arrow1{ position: absolute; left:20px;top:60px; width:12px;height:12px;display:block;background:url(../images/MoreNodesLeft.png) no-repeat left top; cursor:pointer;}
#menu .scroll_arrow3{ position: absolute; left:20px;top:100px; width:12px;height:12px;display:block;background:url(../images/MoreNodesLeft.png) no-repeat left top; cursor:pointer;}
#menu .scroll_arrow2{ position: absolute; right:25px;top:60px; width:12px;height:12px;display:block;background:url(../images/MoreNodesRight.png) no-repeat left top; cursor:pointer;}
#menu .scroll_arrow4{ position: absolute; right:25px;top:100px; width:12px;height:12px;display:block;background:url(../images/MoreNodesRight.png) no-repeat left top; cursor:pointer;}
#menu .handle{width:90%;height:8px;margin:0 auto;cursor:pointer;background:url(../images/icon_handle.png) no-repeat center center;}

#content{padding:30px 40px 30px 40px;background:url(../images/content_bg.png) no-repeat center top;}
.content{padding:30px 40px 30px 40px;background:url(../images/content_bg.png) no-repeat center top;}

/**left bar**/
#socialbar{width:250px;float:left;}
a.join_topic{ line-height:32px;height:32px; display:block;width:211px;
              background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), color-stop(0.5, rgba(255,255,255,0.15)), color-stop(0.5, rgba(255,255,255,0.01)), to(transparent)); 
              background: transparent -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.01) 50%, transparent);
              filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorstr='#80FFFFFF', EndColorstr='#00FFFFFF'); 
              -webkit-background-clip: padding-box; background-color: #078a8a;text-shadow: 1px 0px 1px #000000;-webkit-border-radius:4px;
              border-radius:4px;border:1px solid #262626; border-top:1px solid #9a9a9a;

              text-align:center;  text-transform: uppercase;  text-decoration:none; color:#fff;margin:0 0 5px 0; }
a.join_topic:hover{ filter:alpha(opacity=80);  
                    -moz-opacity:0.8;  
                    -khtml-opacity: 0.8;  
                    opacity: 0.8;  }
#socialbar p,#socialbar h5{padding:0 0 5px 0; font-weight: normal;}
#socialbar .member_data{color:#606060;}
#socialbar .view_list{padding:10px 0 0 0;}
#socialbar .view_list li{float:left;padding:0 8px 3px 0;}
#socialbar .view_list li img{width:38px;height:38px;}
#socialbar .view_list h2{padding:7px 0;}

#collections{clear:both;padding:20px 0 10px 0;}
#collections dl{-webkit-box-shadow:1px 2px 2px 0px rgba(0, 0, 0, 0.3);
                box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.3); border-top:1px solid #e8e8e8;border-left:1px solid #d0d0d0;border:1px solid #d0d0d0\9;padding:8px;margin:8px 0 18px 0;}
#collections dl img{float:left; padding:0 8px 8px 0;width:60px;height:40px;}
#collections dl dt{font-size: 14px;font-weight: bold;}
#collections dl .body_text{ padding:0 0 0 68px;}
#collections dl:hover{background:#fff;}
#collections dl .body_text a{ text-decoration:none;}
#collections dl h4 a{ text-decoration:none;}

h1{font-size:24px;font-weight:normal; text-transform:uppercase;line-height:1.3em;}
h2{font-size:18px;font-weight:bold;text-transform:uppercase;line-height:1.3em;}
h3{font-size:18px;font-weight:bold;line-height:1.3em;}
h4{font-size:14px;font-weight:bold;}

a.back{ line-height:32px;height:32px; display:block;width:133px;background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), color-stop(0.5, rgba(255,255,255,0.15)), color-stop(0.5, rgba(255,255,255,0.01)), to(transparent)); 
        background: transparent -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.01) 50%, transparent);
        filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorstr='#80FFFFFF', EndColorstr='#00FFFFFF'); 
        -webkit-background-clip: padding-box; background-color: #078a8a;text-align:center;  text-transform: uppercase;  text-decoration:none; color:#fff; text-shadow: 1px 0px 1px #000000;-webkit-border-radius:4px;
        border-radius:4px;border:1px solid #262626; border-top:1px solid #9a9a9a;}
a.back:hover{ filter:alpha(opacity=90);  
              -moz-opacity:0.9;  
              -khtml-opacity: 0.9;  
              opacity: 0.9; }

.red{color:#cb120e;}

#header .user{
    float: left;
    padding: 2px 0 0 0;
    margin-left: 175px;
}

#header .user img{
    float: left;
    width: 32px;
    height: 30px;
}
#header .user span{ 
    color: grey;
    float: left;
    font-weight: bold;
    margin-left: 5px;
}

#header .user div{
    float: left;
    color: white;
    font-weight: bold;
	margin-left: 5px;
}
#header .user span.username{color:#fff;}
#header a{color:#fff;}
#header a:hover{color:#9dd0d1;}
#header .login img{padding:5px 0 0 0 ;}

#containTopMenu{
	position:fixed;
	z-index:1;
	top:0;
	width:100%;
}

#content_search{
	margin-top:34px;
}
