body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td 
{ padding:0;margin:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img { border:0;}
address,caption,cite,code,dfn,em,th,var 
{font-weight:normal;font-style:normal;}

ol,ul {list-style:none;}
ul ul { padding:0px;margin:0;}
caption,th {text-align:left;}

q:before,q:after {content:'';}
abbr,acronym { border:0;}
a{ text-decoration:underline; color:#000;}
a:hover{text-decoration:underline; color:#005f5f;}


html,body{font-family: Helvetica, Futura, Arial, sans-serif;font-size:13px; text-align:left; color:#000;background:#FFFFFF; line-height:18px; }

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1;display: block; }  
select,input, textarea{ font-size:12px; outline:none;font-family: Helvetica, Futura, Arial, sans-serif;}
checkbox{ vertical-align:middle;}
h1,h2,h3,h4,h5,h6 {font-family: Helvetica, Futura, Arial, sans-serif;font-size:100%;}
.body_text{font-family: Helvetica, Futura, Arial, sans-serif;font-size:14px; line-height:1.4em;}
.float_l{float:left;}
.float_r{float:right;}

h1{font-size:20px;font-weight:normal; line-height:1.3em;border-bottom: 1px solid #aaa;}
h2{font-size:18px;font-weight:bold; line-height:1.3em;}
h3{font-size:18px;font-weight:bold;line-height:1.3em;}
h4{font-size:14px;font-weight:bold;}
h5{font-size:15px;font-weight:normal;}

a.back{ line-height:32px;height:32px; display:block;width:133px;background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), color-stop(0.5, rgba(255,255,255,0.15)), color-stop(0.5, rgba(255,255,255,0.01)), to(transparent)); 
  background: transparent -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.01) 50%, transparent);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorstr='#80FFFFFF', EndColorstr='#00FFFFFF'); 
  -webkit-background-clip: padding-box; background-color: #078a8a;text-align:center;  text-transform: uppercase;  text-decoration:none; color:#fff; text-shadow: 1px 0px 1px #000000;-webkit-border-radius:4px;
border-radius:4px;border:1px solid #262626; border-top:1px solid #9a9a9a;}
a.back:hover{ filter:alpha(opacity=90);  
      -moz-opacity:0.9;  
      -khtml-opacity: 0.9;  
      opacity: 0.9; }

.red{color:#cb120e;}

#bridgeNodeContent{
    margin-left: 17px;
}

#containTopMenu{
	position:fixed;
	z-index:1;
	top:0;
	width:100%;
}

#content_search{
	margin-top:34px;
}

#dialog{
	display:none;
}

.profile_body{
	margin-top:0px !important;
}

.titleNodeLinkpage{
	text-decoration:underline; color:#12c;
}

.addthis_toolbox{
	height:14px;
	margin-top: 14px !important;
	margin-bottom: 6px;
	margin-left: 18px;
}

.oneclicksearch{
}

.sharingdribgepage{
	margin-left: 18px;
}

.resultCloudSearch{
border-left: 1px solid #DDD;	
}

.breadcrumbs{
text-decoration: none;
color: #0645ad;
}

.listrelated{
display:none;
}

.body_text h2 a{
color: #0645ad !important;
}
