   </select>
   </td>
    <td width=35% valign=top>
    <table cellpadding=0 cellspacing=5 valign=top>
     <tr><td><a href="javascript:Explore()"><img src="/images/explore.gif" border=0 alt="Explore"></a></td><td>Browse a selected corpus<br></td></tr>
      <tr><td><a href="javascript:Add()"><img src="/images/add.jpg" border=0 alt="Add"></a></td><td> Add a new corpus<br></td></tr>
      <tr><td><a href="javascript:Security()"><img src="/images/security.jpg" border=0 alt="Security"></a></td><td> Privledges<br></td></tr>
      <tr><td><a href="javascript:Edit()"><img src="/images/edit.gif" border=0 alt="Edit"></a></td><td> Edit a selected corpus<br></td></tr>
      <tr><td><a href='javascript:Remove()'><img src="/images/delete.gif" border=0 alt="Delete"></a></td><td> Delete a selected corpus</td></tr>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<P>
</form>
<form method="POST" ENCTYPE="multipart/form-data" action="/servlet/Main" ACCEPT="text/xml">
<input type="hidden" name="template" value="Server.CorpusImport">
<b>Import a corpus from file:</b> <input type="file" class="Wf" name="import" id="attFbutton">
<input type="submit" name="submit" value="Import">
</blockquote>
