<table width="760" border="0" cellspacing="0" cellpadding="0">
  <tr valign="top">
  	<td width="50"><img src="/images/idrac/s.gif" width=50 height=50></td>
    <td width="660" align="right"><img src="/images/idrac/T_catview.gif" width="391" height="19"></td>
    <td width="50"><img src="/images/idrac/s.gif" width=50 height=50></td>
  </tr>
  <tr valign="top">
    <td width="50">&nbsp;</td>
    <td width="660" align="left"> Browse: <a href="/servlet/Main?template=Idrac.Browse">Keyword Taxonomies</a>
      <p align="right"><b><img src="/images/idrac/file.gif" width="15" height="13"> All 
        Documents &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/idrac/file.gif" width="15" height="13"> 
        <a href="#">Reference</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/idrac/file.gif" width="15" height="13"> 
        <a href="#">Explanatory</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/idrac/file.gif" width="15" height="13"> 
        <a href="#">Forms</a></b></p>
      <p align="center"><img src="/images/idrac/blue.gif" width="660" height="1"></p>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr valign="top"> 
          <td> 
            <ul>
              <li><b><a href="/servlet/Main?template=Idrac.DisplayResults&NodeID=260139">Concept / Theme</a><img src="/images/idrac/s.gif" width="6" height="25" align="top"><br>
                </b></li>
              <li><b><a href="/servlet/Main?template=Idrac.DisplayResults&NodeID=260141">Company / Authority</a><img src="/images/idrac/s.gif" width="6" height="25" align="top"></b></li>
              <li><b><a href="/servlet/Main?template=Idrac.DisplayResults&NodeID=260143">Therapeutic Class / Disease</a><img src="/images/idrac/s.gif" width="6" height="25" align="top"><br>
                </b></li>
		<li><b><a href="/servlet/Main?template=Idrac.DisplayResults&NodeID=30002">Products by Type</a><img src="/images/idrac/s.gif" width="6" height="25" align="top"><br>
                </b></li>
            </ul>
            
          </td>
          <td> 
            <ul>
              <li><b><a href="/servlet/Main?template=Idrac.DisplayResults&NodeID=260140">Reference Text</a><img src="/images/idrac/s.gif" width="6" height="25" align="top"></b></li>
              <li><b><a href="/servlet/Main?template=Idrac.DisplayResults&NodeID=260142">Product / Brand</a><img src="/images/idrac/s.gif" width="6" height="25" align="top"><br>
                </b></li>
		<li><b><a href="/servlet/Main?template=Idrac.DisplayResults&NodeID=30001">Products by Company</a><img src="/images/idrac/s.gif" width="6" height="25" align="top"><br>
		<li><b><a href="/servlet/Main?template=Idrac.DisplayResults&NodeID=2200000">ATC Taxonomy</a><img src="/images/idrac/s.gif" width="6" height="25" align="top"><br>
                </b></li>
            </ul>
          </td>
        </tr>
      </table>
     <img src="/images/idrac/blue.gif" width="660" height="1">
