<blockquote>
<FORM name=import action=/servlet/Main method=post encType=multipart/form-data>
<INPUT type=hidden value=Server.Classify name=template>
<INPUT type=hidden value=true name=ShowScores>
<INPUT type=hidden value=true name=post>
<b><u>Classify a Document</u></b> 
<p>
<table border=0 cellpadding=2 cellspacing=2>
<tr><td><b><font color=black face="Arial" size=-2>Classify Document:</B></font></td>
<td colspan=2><INPUT class=Wf id=attFbutton type=file name=import> </td>
<tr><td><b><font color=black face="Arial" size=-2>Document Title:</font></td>
<td><input type="text" name="DocTitle" size=20 maxlength=40 value=""> &nbsp;</td>
<td><b><font color=black face="Arial" size=-2>&nbsp; &nbsp; Document Type:</font></td>
<td><select> <option selected> HTML </select> &nbsp;</td></tr>
</table>
<P>
<input type="submit" name="SUBMIT" value="RUN CLASSIFICATION">
</form>
