<script>
function EditResult () {
  var ww = 450, wh = 310;
  var wPos = 0;
  var lPos = 0;
  var url = "/servlet/Main?template=Taxonomy.EditResult&NodeID=##NODEID##&Score1=125.0&DocTitle=Untitled+Document&GenreID=##GENREID##";

  if(screen) {
  wPos = (screen.width - ww)/2;
  lPos = (screen.height - wh)/2;
  }
  if (!window.SEwin) {
  // Not defined
  SEwin = window.open(url, "win", 'toolbar=0,directories=0,status=0,scrollbars=0,resizable=0,width='+ww+',height='+wh+',left='+wPos+',top='+lPos+',location=0');
  } else {
  // defined
  if (SEwin.closed) {
  // closed, open a new one
  SEwin = window.open(url, "win", 'toolbar=0,directories=0,status=0,scrollbars=0,resizable=0,width='+ww+',height='+wh+',left='+wPos+',top='+lPos+',location=0');
  }}
  SEwin.focus();
}
</script>

<DIV align=center>
</DIV><BR><FONT face="Arial, Helvetica, sans-serif"> 
&nbsp;&nbsp;
##CATEGORY_HIERARCHY##
</FONT>
<DIV align=left>
<TABLE border=0 width=760 cellspacing=0 cellpadding=0>
<TR bgColor=#336666 borderColor=#996600>
<TD align=left height=23><FONT face="Arial, Helvetica, sans-serif" color=white>
<B>&nbsp;&nbsp; ##NODETITLE## </td>
<td align=right>
<A class="genrewb" HREF="/servlet/Main">Home</a> | 
<A class="genrewb" HREF="/servlet/Main?template=Server.Logout">Logout</a> | 
<A class="genrewb" HREF="/servlet/Main?template=Taxonomy.EditUser">Prefs</a> |
<A class="genrewb" HREF="/servlet/Main?template=Taxonomy.Administer">Administer</a> | 
<A class="genrewb" HREF="javascript:EditResult();">Add Result</a> |
<A class="genrewb" HREF="/servlet/Main?template=Taxonomy.AdminBrowse&NodeID=##NODEID##">Edit Topic</a> |
<A class="genrewb" HREF="/servlet/Main?template=Taxonomy.Help&helptext=help-home">Help</a>
&nbsp; &nbsp;
</B></FONT></TD></TR></TBODY></TABLE>
<TABLE border=0 cellPadding=0 cellSpacing=0 width=700>
  <TR>
    <TD height=60>
      <FORM action="/servlet/Main" method=get><FONT 
      face="Arial, Helvetica, sans-serif" size=-1>
      <INPUT name=restrict type=hidden> <INPUT name=exclude 
      type=hidden>&nbsp;&nbsp;&nbsp; <B>Search Taxonomies: </B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
	
<INPUT NAME="template" TYPE=HIDDEN Value="Taxonomy.Search">
<SELECT name="CorpusID">
<OPTION selected value=0>All Taxonomies
##OPTION_CORPUS_LIST##
</SELECT> </FONT> &nbsp; &nbsp; <INPUT maxLength=100
  name=Keywords size=14>
      &nbsp; <INPUT name=Search type=submit value=Search>
<FONT face="Arial, Helvetica, sans-serif" size=-1>&nbsp; <input type="checkbox" name="related"> <b>Related Topics</b></FONT>
</FORM></FONT></TD></TR></TABLE>

<table bgcolor=black border=0 cellpadding=0 cellspacing=0 width=700>
<tr><td><table border=0 cellpadding=2 cellspacing=1 width=765><tr align=center bgcolor=336666>
      ##GENRE_LIST##
      </tr></table></td></tr></table>
<br>
<BLOCKQUOTE>
Sorry, no results were found for ##NODETITLE##.
</BLOCKQUOTE>

