<TABLE width=670 cellspacing=0>
<TR><TD valign=top width=45>
<FONT face="Arial, Helvetica" size=-1><strong>##LOOPI##.</strong></FONT></TD>
<TD><FONT face="Arial, Helvetica" size=-1>
<STRONG><DL><DT width=5><A href="##DOCURL##"> ##DOCTITLE##</A></STRONG></FONT></TD>
<TD align=right width=115 valign=middle> <FONT face="Arial, Helvetica" size=-1>##SCORE1##</FONT> </TD></TR>
<TR><TD valign=top>&nbsp; </TD><TD>
<DL><DT width=5><FONT face="Arial, Helvetica" size=-1>
	##DOCSUMMARY##
	<BR></FONT>
<A href="##DOCURL##"> ##DOCURL##</A> 
(<a href="/servlet/Main?template=Idrac.GetRelatedNodes&DocURL=##EDOCURL##&DocTitle=##EDOCTITLE##"
>See related topics</a>) &nbsp; ##EXPLAIN## &nbsp;<BR>
</FONT></DD></DL> </TD></TR>
</TABLE>