##SPACING##
<a href="/servlet/Main?template=Taxonomy.AdminBrowse&NodeID=##NODEID##">
<img src="/images/edit.gif" border=0></a> 
<a href="/servlet/Main?template=Taxonomy.DisplayResults&NodeID=##NODEID##">
##NODETITLE##</a>
<BR>