<td align=left valign=middle> &nbsp; <a href='javascript:Remove(##THESAURUSID##, ##WORDID##)'><img src="/servlet/images/delete-small.gif" border=0 alt="Delete"></a>
<a href="javascript:Popup(##WORDID##, ##THESAURUSID##)">##WORDNAME##</a> </td>
