.resultCloudSearch {
	margin: 10px 1% 10px 1%;
	padding: 15px 2%;
	width: 43.5%;
	-webkit-box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.4);
	border-top: 1px solid #DDD;	
	background: white;
	border: 1px solid #DDD 9;
	min-height: 145px;
	max-height: 145px;
	float: left;
}

.resultCloudSearch > .descriptionTextSearch {
	overflow: hidden;
	text-overflow: ellipsis;
	height: 88px;
}

.resultCloudSearch img.pic {
	float: left;
	margin: 9px 20px 10px 0;
	width: 150px;
	height: 96px;
}

.clearButton {
	line-height: 20px;
	height: 20px;
	display: block;
	width: 66px;
	background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.5, rgba(255, 255, 255, 0.01)), to(transparent));
	background: transparent -moz-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.01) 50%, transparent);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorstr='#80FFFFFF', EndColorstr='#00FFFFFF');
	-webkit-background-clip: padding-box;
	background-color: #078A8A;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	text-shadow: 1px 0px 1px black;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #666;
	border-top: 1px solid #9A9A9A;
	-webkit-background-clip: padding-box;
	float: right;
	margin-top: -31px;
	margin-right: 26px;
	text-decoration: none;
}

#section1_title {
	text-transform: uppercase;
}

#section2_title {
	text-transform: uppercase;
}

#section3_result {
	clear: both;
	padding: 10px 0;
	margin-left: 10px;
	font-weight: bold;
}

.titleSearch {
	font-size: 24px;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.3em;
	clear: both;
	height: 30px;
	padding: 5px 0;
}

