.created_by {
    padding-top: 10px;
}

.created_by img{
    height: 50px;
    width: 50px;
    padding: 0 10px 0 0;
    float: left;
}

#collectionName{
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.3em;
    margin-left: 0px;
}

a.make_public {
    line-height: 32px;
    height: 32px;
    display: block;
    width: 211px;
    background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.5, rgba(255, 255, 255, 0.01)), to(transparent));
    background: transparent -moz-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.01) 50%, transparent);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorstr='#80FFFFFF', EndColorstr='#00FFFFFF');
    -webkit-background-clip: padding-box;
    background-color: #078A8A;
    text-shadow: 1px 0px 1px black;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #262626;
    border-top: 1px solid #9A9A9A;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    margin: 0 0 5px 0;
}

.collection_follower{
    float: left;
    padding: 0 8px 3px 0;
}

#topics_related{
    display: inline-block;
    padding-top: 10px;
    width: 210px;
}

#topics_related li{
    float: left;
    padding: 4px 10px 4px 0px;
}

.orange{
    color: #DD3F01;
}

.editButton{
    color: #DD3F01;
    text-decoration: underline;
    text-transform: lowercase;
    font-size: 10px;
    font-weight: normal;
    font-family: 'ralewayregular';
    margin: 0 0 0 5px;
    display: none;
    line-height: 10px;

}

.collectionDescription{
    font-family: 'eb_garamondregular';
    font-size: 14px;
    line-height: 1.4em;
    min-height: 10px;
    min-width: 100px;
}

.editDescription{
    font-family: 'eb_garamondregular';
    font-size: 14px;
    line-height: 1.4em;
    height: 36px;
    padding: 5px 1%;
    display:none;
    max-height: 600px;
    max-width: 600px;
}

.editTitle{
    font-size: 24px;
    font-weight: bold;
    line-height: 1.3em;
    width: 550px;
    font-family: 'ralewayregular';
    display: none;
    max-height: 600px;
    max-width: 600px;
}

.unfollowButton{
    text-decoration: underline;
    color: red;
    
}