                 <table width="400" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><b>##START## - ##END## of ##NUMRESULTS## </b></td>
                    </tr>
                    <tr>
                      <td>
                        <form name="addKeywordForm" method="post" action="">
                          <p>Add Keyword to your query with:
                            <input type="radio" name="opR" value="AND" checked>
                            AND
                            <input type="radio" name="opR" value="OR">
                            OR
                            <input type="checkbox" name="notOp" value="NOT">
                            NOT </p>
                            <input type="hidden" name="nextBase" value="20">
                            <input type="hidden" name="previousBase" value="0">
                          </form>
                      </td>
                    </tr>
                    <tr>
                      <td><img src="/servlet/images/idrac/spacer.gif" width="10" height="10"></td>
	              </tr>
