                  <table width="400" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><img src="/servlet/images/idrac/spacer.gif" width="20" height="20"></td>                    </tr>
                    <tr>
                      <td>Enter your search criteria to start off with.</td>
                    </tr>
                  </table>
