<tr><td><input type="text" name="GenreNew"
               value="(New Folder)" size=30 maxsize=20 maxlength=20>
<SCRIPT>
function SaveNew() {
    var GenreName = document.fm.GenreNew.value;
    window.location="/servlet/Main?template=Taxonomy.ViewGenre&Action=save&GenreName="+GenreName;
}

</SCRIPT>
</td>
      <td align=center><select name="StatusNew"><option selected value=0>Off <option value=1>On</select>
      <td align=center><a href="javascript:SaveNew()"><img src="/servlet/images/save.gif" alt="Save Folder" border=0></a></td>
      <td align=center>&nbsp; </td>
</tr>
</table>
</form>
</blockquote>