/** styles for the collections dialogs  **/

/** container save document **/
#frmSaveDocument{
	width:530px;
	height: 250px;
	/**display:none;**/
}

/** dialog save document in a collection **/
/** document title **/
#lblDocumentTitle{
	font-size: 18px;
	margin-left: 19px;
	margin-bottom: 10px;
	font-weight: bold;
}

/** document image **/
#imgDocumentImage{
	width: 132px;
	height: 86px; 
	float:left; 
	margin-bottom: 10px;
	margin-right: 10px;margin-left: 20px;
}

#txtDocumentUserReason{
	max-width: 345px; 
	max-height: 85px; 
	width: 345px; 
	height: 85px; 
	margin: 0px;
}

#divAuxSaveTo{
	float: left;
	clear: both;
}

#btnSaveTo{
	font-size: 14px;
	font-weight: bold;
}

#btnCreateNew{
	float: left;
	margin-left: 15px;
	color: #dd3f01;
	font-size:13px;
	font-weight: bold;	
}

#btnOldCollection{
	float: left;
	margin-left: 15px;
	color: #dd3f01;
	font-size:13px;
	font-weight: bold;
	display:none;
}

#slcCollectionsId{
	clear: both;
	float: left;
	margin-left: 20px;
	margin-top: 14px;
	width: 492px;
	font-size: 13px;
}

#collectionLoadImage{
	float: left; 
	margin-top: 14px; 
	margin-left: 2px; 
	/*display: none;*/
}

#btnSaveDocumentCollection{
	float: right;
	width: 70px;
	margin-right: 20px;
	margin-top: 20px;
}

#messagesCollectionDialog{
	float: left;
	margin-left: 18px;
	font-size: 13px;
}

/** container save collection **/

#frmSaveCollection{
	width: 552px; 
	/**height: 340px;**/
	/**display:none;**/
}

#lblCollection{
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
}

#txtCollectionName{
	float: left;
	margin-top: 20px; 
	margin-left: 17px; 
	margin-bottom: 10px; 
	max-width: 494px; 
	max-height: 170px;
	width: 494px;
	height: 21px;
	font-size: 13px;
}

#txtCollectionDescription{
	clear: both; 
	float: left; 
	margin: 20px 0px 10px 17px; 
	max-width: 494px; 
	max-height: 80px; 
	width: 494px; 
	height: 80px;
	font-size: 13px;
}

#divAuxPrivateCollection{
	clear: both;
	margin-left: 16px;
	margin-bottom: 24px;
	font-size: 18px;
	display:none;
}

#chkPublicCollection{
}

#btnSaveCollection{
	float: right;
	width: 70px;
	margin-right: 20px;
	margin-top: 20px;
	display:none;
}

#btnCancelCollectionSave{
	float: right;
	width: 70px;
	margin-right: 12px;
}



