body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td 
{ padding:0;margin:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img { border:0;}
address,caption,cite,code,dfn,em,th,var 
{font-weight:normal;font-style:normal;}

ol,ul {list-style:none;}
caption,th {text-align:left;}

q:before,q:after {content:'';}
abbr,acronym { border:0;}
a{ text-decoration:underline; color:#000;}
.head_btn2:hover {
    color: white;
}
a:hover{ color:#005f5f;}
@font-face {
    font-family: 'eb_garamondregular';
    src: url('font/ebgaramond-regular.eot');
    src: url('font/ebgaramond-regular.eot?#iefix') format('embedded-opentype'),
         url('font/ebgaramond-regular.woff') format('woff'),
         url('font/ebgaramond-regular.ttf') format('truetype'),
         url('font/ebgaramond-regular.svg#eb_garamondregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayregular';
    src: url('font/raleway-regular.eot');
    src: url('font/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('font/raleway-regular.woff') format('woff'),
         url('font/raleway-regular.ttf') format('truetype'),
         url('font/raleway-regular.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,body{font-family: 'ralewayregular';font-size:12px; text-align:left; color:#000;background:#f4f4f4; line-height:18px;}

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1;display: block; }  
select,input{ font-size:12px; outline:none;font-family: 'ralewayregular';}
checkbox{ vertical-align:middle;}
h1,h2,h3,h4,h5,h6 {font-family: 'ralewayregular';font-size:100%;}
.body_text{font-family: 'eb_garamondregular';font-size:14px; line-height:1.4em;}
.float_l{float:left;}
.float_r{float:right;}

#wrapper{}
#header{background:#000; height:34px;line-height:30px;padding:0 40px;margin:0 0 1px 0;}
#header .logo{float:left;padding:2px 0 0 0; margin-left: 20px}
#header .login{float:right;padding:4px 0 0 0px;}
#header .login a{color:#fff;padding:0 5px;}
#header .login img{color:#fff;padding:3px 0 0 0px;}

#header .user{float:left;padding:2px 0 0 0;margin-left: 230px}
#header .user img {float:left; width: 32px;height: 30px;}
#header .user span{color:grey;float: left;font-weight: bold; margin-left: 5px;}
#header .user div{float:left;color:white;font-weight: bold; margin-left: 5px;width: auto;}

a.login_btn{ line-height:20px;height:20px; display:block;width:66px;background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), color-stop(0.5, rgba(255,255,255,0.15)), color-stop(0.5, rgba(255,255,255,0.01)), to(transparent)); 
  background: transparent -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.01) 50%, transparent);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorstr='#80FFFFFF', EndColorstr='#00FFFFFF'); 
  -webkit-background-clip: padding-box; background-color: #078a8a;text-align:center;  text-transform: uppercase;  text-decoration:none; color:#fff; text-shadow: 1px 0px 1px #000000;-webkit-border-radius:4px;
border-radius:4px;border:1px solid #666; border-top:1px solid #9a9a9a;-webkit-background-clip: padding-box;}
a.login_btn:hover{  filter:alpha(opacity=90);  
      -moz-opacity:0.9;  
      -khtml-opacity: 0.9;  
      opacity: 0.9;  }


#header .links{float:right; color:#fff;padding:4px 15px 0 0px; }
#header .links a{color:#fff;padding:0 5px; text-decoration: none}
#header .links a:hover{color:#9dd0d1;}

#header .search{float:right;margin:3px 6px 0 0;}
*+html #header .search{margin:1px 6px 0 0;}
.search_input{line-height:20px;height:20px; color:#666666;background:#fff url(../images/icon_search.png) no-repeat 3px 3px; padding:0 3px 0 21px; -webkit-border-radius: 3px;
border-radius:3px; width:200px;border:1px solid #000;}

#content{padding:30px 40px 30px 40px;background:url(../images/content_bg.png) no-repeat center top;}

/**left bar**/
#socialbar{width:250px;float:left;}
a.join_topic{ line-height:32px;height:32px; display:block;width:211px;
background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), color-stop(0.5, rgba(255,255,255,0.15)), color-stop(0.5, rgba(255,255,255,0.01)), to(transparent)); 
  background: transparent -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.01) 50%, transparent);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorstr='#80FFFFFF', EndColorstr='#00FFFFFF'); 
  -webkit-background-clip: padding-box; background-color: #078a8a;text-shadow: 1px 0px 1px #000000;-webkit-border-radius:4px;
border-radius:4px;border:1px solid #262626; border-top:1px solid #9a9a9a;

 text-align:center;  text-transform: uppercase;  text-decoration:none; color:#fff;margin:0 0 5px 0; }
a.join_topic:hover{ filter:alpha(opacity=80);  
      -moz-opacity:0.8;  
      -khtml-opacity: 0.8;  
      opacity: 0.8;  }
#socialbar p,#socialbar h5{padding:0 0 5px 0; font-weight: normal;}
#socialbar .member_data{color:#606060;}
#socialbar .view_list{padding:10px 0 0 0;}
#socialbar .view_list li{float:left;padding:0 8px 3px 0;}
#socialbar .view_list li img{width:38px;height:38px;}
#socialbar .view_list h2{padding:7px 0;}

#collections{clear:both;padding:20px 0 10px 0;}
#collections dl{-webkit-box-shadow:1px 2px 2px 0px rgba(0, 0, 0, 0.3);
box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.3); border-top:1px solid #e8e8e8;border-left:1px solid #d0d0d0;border:1px solid #d0d0d0\9;padding:8px;margin:8px 0 18px 0;}
#collections dl img{float:left; padding:0 8px 8px 0;width:60px;height:40px;}
#collections dl dt{font-size: 14px;font-weight: bold;}
/*#collections dl .body_text{ padding:0 0 0 68px;}*/
#collections dl:hover{background:#fff;}
#collections dl .body_text a{ text-decoration:none;}
#collections dl h4 a{ text-decoration:none;}

h1{font-size:24px;font-weight:normal; text-transform:uppercase;line-height:1.3em; margin-left: 20px}
h2{font-size:18px;font-weight:bold;text-transform:uppercase;line-height:1.3em;}
h3{font-size:18px;font-weight:bold;line-height:1.3em;}
h4{font-size:14px;font-weight:bold;}

a.back{ line-height:32px;height:32px; display:block;width:133px;background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), color-stop(0.5, rgba(255,255,255,0.15)), color-stop(0.5, rgba(255,255,255,0.01)), to(transparent)); 
  background: transparent -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.01) 50%, transparent);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorstr='#80FFFFFF', EndColorstr='#00FFFFFF'); 
  -webkit-background-clip: padding-box; background-color: #078a8a;text-align:center;  text-transform: uppercase;  text-decoration:none; color:#fff; text-shadow: 1px 0px 1px #000000;-webkit-border-radius:4px;
border-radius:4px;border:1px solid #262626; border-top:1px solid #9a9a9a;}
a.back:hover{ filter:alpha(opacity=90);  
      -moz-opacity:0.9;  
      -khtml-opacity: 0.9;  
      opacity: 0.9; }

.red{color:#cb120e;}

#bridgeNodeContent{
    margin-left: 17px;
}

#containTopMenu{
	position:fixed;
	z-index:1;
	top:0;
	width:100%;
}

#content_search{
	margin-top:34px;
}

#dialog{
	display:none;
}

.profile_body{
	margin-top:0px !important;
}

.titleNodeLinkpage{
	text-decoration:underline; color:#12c;
}

.addthis_toolbox{
	height:14px;
	margin-top: 14px !important;
	margin-bottom: 6px;
	margin-left: 18px;
}

.oneclicksearch{
}

.sharingdribgepage{
	margin-left: 18px;
}
