
/* minimal settings */
.scrollable {

    /* required settings for the root element */
    position:relative;
    overflow:hidden;

    /* configurable styling */

    height:48px;
}

.scrollable .items { 	
    margin-left:0px;
    position:relative;
    width:20000em;	
}


.navi {
    height:30px;	
    margin-bottom:20px;	
}

.navi a {
    width:20px;
    height: 20px;
    background-color:blue;
    display:block;
    float:left;
    margin-right:10px;
}

.navi a.active {
    background-color:yellow;		
}

.disabled-scrollable {
    visibility:hidden;		
}
.prev-scrollable{
    float:left;
}
.next-scrollable {
    float:right;
}
