
   </td>
    <td width=35% valign=top>
    <table cellpadding=0 cellspacing=5 valign=top>
      <tr><td><a href="javascript:Add()"><img src="/images/add.jpg" border=0 alt="Add"></a></td><td> Add a new user<br></td></tr>
      <tr><td><a href="javascript:Edit()"><img src="/images/edit.gif" border=0 alt="Edit"></a></td><td> Edit a selected user's attributes<br></td></tr>
      <tr><td><a href='javascript:Remove()'><img src="/images/delete.gif" border=0 alt="Delete"></a></td><td> Delete a selected user</td></tr>
<!--     <tr><td><a href="javascript:Explore()"><img src="/images/explore.gif" border=0 alt="Explore"></a></td><td>Explore a user's recent activity<br></td></tr> -->
      </table>
    </td>
  </tr>
  </tbody>
</table>
</blockquote>
</form>