body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td 
{ padding:0;margin:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img { border:0;}
address,caption,cite,code,dfn,em,th,var 
{font-weight:normal;font-style:normal;}

ol,ul,li {list-style:none;}
ul ul { padding:0px;margin:0;}
caption,th {text-align:left;}

q:before,q:after {content:'';}
abbr,acronym { border:0;}


@font-face {
    font-family: 'eb_garamondregular';
    src: url('font/ebgaramond-regular.eot');
    src: url('font/ebgaramond-regular.eot?#iefix') format('embedded-opentype'),
         url('font/ebgaramond-regular.woff') format('woff'),
         url('font/ebgaramond-regular.ttf') format('truetype'),
         url('font/ebgaramond-regular.svg#eb_garamondregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayregular';
    src: url('font/raleway-regular.eot');
    src: url('font/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('font/raleway-regular.woff') format('woff'),
         url('font/raleway-regular.ttf') format('truetype'),
         url('font/raleway-regular.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{font-family: Futura,'ralewayregular',Helvetica, Arial, sans-serif;font-size:13px;   color:#000; line-height:18px; background:#f4f4f4; }

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1;display: block; }  
select,input, textarea{ font-size:12px; outline:none;font-family:  'ralewayregular',Helvetica, Arial, sans-serif;}
checkbox{ vertical-align:middle;}
h1,h2,h3,h4,h5,h6 {font-family: Futura,'ralewayregular', Helvetica, Arial, sans-serif;font-size:100%;}
.float_l{float:left;}
.float_r{float:right;}
a{text-decoration:none; color:#000; }
a:hover{text-decoration: underline; }

h1{font-size:1.8em;font-weight:normal;  line-height:1.7em; color:#333333; }
h2{font-size:1.5em;font-weight:normal; line-height:1.5em;color:#333333;}
h3{font-size:1.3em;font-weight:normal;line-height:1.3em;color:#333333;}
h4{font-size:1.2em;color:#333333;}
h5{font-size:1em;font-weight:bold;color:#333333; }
p{padding:5px 0;}

