<script>
function EditResult () {
  var ww = 450, wh = 310;
  var wPos = 0;
  var lPos = 0;
  var url = "/servlet/Main?template=Taxonomy.EditResult&NodeID=##NODEID##&Score1=125.0&DocTitle=Untitled+Document&GenreID=##GENREID##";

  if(screen) {
  wPos = (screen.width - ww)/2;
  lPos = (screen.height - wh)/2;
  }
  if (!window.SEwin) {
  // Not defined
  SEwin = window.open(url, "win", 'toolbar=0,directories=0,status=0,scrollbars=0,resizable=0,width='+ww+',height='+wh+',left='+wPos+',top='+lPos+',location=0');
  } else {
  // defined
  if (SEwin.closed) {
  // closed, open a new one
  SEwin = window.open(url, "win", 'toolbar=0,directories=0,status=0,scrollbars=0,resizable=0,width='+ww+',height='+wh+',left='+wPos+',top='+lPos+',location=0');
  }}
  SEwin.focus();
}
function MM_findObj(n, d) { //v4.0
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && document.getElementById) x=document.getElementById(n); return x;
}
function MM_setTextOfLayer(objName,x,newText) { //v3.0
  //alert("Setting text layer: "+objName+" "+x+" "+newText);
  if ((obj=MM_findObj(objName))!=null) with (obj)
    if (navigator.appName=='Netscape') {document.write(unescape(newText)); document.close();}
    else innerHTML = unescape(newText);
}
</script>

<table width="760" border="0" cellspacing="0" cellpadding="0">
  <tr valign="top">
  	<td width="50"><img src="/images/idrac/s.gif" width=50 height=50></td>
    <td width="660" align="right"><img src="/images/idrac/T_catview.gif" width="391" height="19"></td>
    <td width="50"><img src="/images/idrac/s.gif" width=50 height=50></td>
  </tr>
  <tr valign="top">
    <td width="50">&nbsp;</td>
    <td width="660" align="left"> 
	<p>##CATEGORY_HIERARCHY##</p>
<table width=100% border=0 bgcolor=006699 bordercolor=black><tr><td align=left valign=center>
<font color=white>
<b>##NODETITLE##</b>
<a href="/servlet/Main?template=Taxonomy.ShowCorpusHierarchy&submit=true&CorpusID=##CORPUSID##&NodeID=##NODEID##">
<img src="/images/explore.gif" border=0></a>
</font>
</td></tr></table><br>
<img src="/images/idrac/s.gif" width="4" height="4"><br>
<div id="documents">
</div>
