<DIV align=center>
</DIV><BR><FONT face="Arial, Helvetica, sans-serif"> 
&nbsp;&nbsp;
Taxonomy Server: Search Taxonomies
</FONT>
<DIV align=left>
<TABLE border=0 width=760 cellspacing=0 cellpadding=0>
<TR bgColor=#336666 borderColor=#996600>
<TD align=left height=23><FONT face="Arial, Helvetica, sans-serif" color=white>
<B>&nbsp;&nbsp; ##TITLE## </td>
<td align=right>
<A class="genrewb" HREF="/servlet/Main?template=Taxonomy.FrontPage">Home</a> | 
<A class="genrewb" HREF="/servlet/Main?template=Taxonomy.EditUser">Prefs</a> | 
<A class="genrewb" HREF="/servlet/Main?template=Taxonomy.Administer">Administer</a> | 
<A class="genrewb" HREF="/servlet/Main?template=Server.Logout">Logout</a> | 
<A class="genrewb" HREF="/servlet/Main?template=Taxonomy.Help">Help</a>
&nbsp; &nbsp;
</B></FONT></TD></TR></TBODY></TABLE>

<TABLE border=0 cellPadding=0 cellSpacing=0 width=700>
  <TR>
    <TD height=60>
      <FORM action="/servlet/Main" method=get><FONT 
      face="Arial, Helvetica, sans-serif" size=-1>
      <INPUT name=restrict type=hidden> <INPUT name=exclude 
      type=hidden>&nbsp;&nbsp;&nbsp; <B>Refine Search:</B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
	
<INPUT NAME="template" TYPE=HIDDEN  Value="Taxonomy.Search">
<SELECT name="CorpusID">
<OPTION selected value=0>All Taxonomies
##OPTION_CORPUS_LIST##
</SELECT> </FONT> &nbsp; &nbsp; <INPUT maxLength=100
            name=Keywords size=14 value="##QUERY##">
      &nbsp; <INPUT name=Search type=submit value=Search> 
<FONT face="Arial, Helvetica, sans-serif" size=-1>&nbsp; <input type="checkbox" name="related"> <b>Related</b>
&nbsp; <input type="checkbox" name="thesaurus"> <b>Thesaurus</b></FONT>
      </FORM></FONT>
<b> 
<table width=765><tr><td>
<div align="center">
<img src="/images/spacer_blue.gif" width=700 height=1 alt="" border="0"></td></tr></table>
</td></tr></TABLE>
<br>
<blockquote>
<u><b>Verity Search Results for Terms</u>: &nbsp; ##QUERY##</b>
<P><OL>
