<table width=765><tr><td>
<div align="center"><p align=center><font face="Arial, Helvetica, sans-serif">&copy; 2004 Intellisophic, Inc.  All rights reserved<br>
  <a class=footer href="http://www.Intellisophic.com/about_us.php">About Us</a>&nbsp; |&nbsp; <a
class=footer href="http://www.Intellisophic.com/contact_us.php">Contact Us</a>&nbsp;
  |&nbsp; <a class=footer href="/servlet/Main?template=Taxonomy.Help">Help</a></font></p>
</td></tr></table>
</body>
</html>
