<table width=700>
<tr><td>&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;</td>
    <td>
   <table width=600>
   <tr><td><font face="Helvetica" size=+1><b>Taxonomy Name</b>:</font></td> <td><font face="Helvetica" size=+1>##NODETITLE##</font></td></tr>
   <tr><td><font face="Helvetica" size=+1><b>Description</b>:</font></td> <td><font face="Helvetica" size=+1>##NODEDESC##</font></td></tr>
   <tr><td><font face="Helvetica" size=+1><b>Reference ID</b>:</font></td> <td><font face="Helvetica" size=+1>29##CORPUSID##</font></td></tr>
   <tr><td><font face="Helvetica" size=+1><b>Topic Count</b>:</font></td> <td><font face="Helvetica" size=+1>TBD</font></td></tr>
   </table>
   </td>
</tr></table>
<P>
