<tr><td valign="top" align="center" width="75"><input type="button" name="Delete" onclick="DeleteIt(##ALERTID##);" value="Delete"> </td>
<td align="center" valign="top" width="175" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px"><a href="/servlet/Main?template=Taxonomy.CQL&query=##QUERY##"> ##ALERTNAME## </a></td>
<td align="center" valign="top" width="325" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px">##NOTES##</td>
<td align="center" valign="top" width="125" >
	<select name="RunFreq" onchange="EditIt(##ALERTID##, this);">
		<option value="-1" ##SELECTED0##> Never </option>
		<option value="7" ##SELECTED1##> Every Week  </option>
		<option value="14" ##SELECTED2##> Every 2 Weeks </option>
		<option value="21" ##SELECTED3##> Every 3 Weeks </option>
		<option value="28" ##SELECTED4##> Every 4 Weeks </option>
	</select>
</td>
<td valign="top" width="75" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px">
##MODDATE##
</td></tr>
