<blockquote>
<b>##CORPUS_NAME##</b>
<form name="fm"><br>
<table width=70%>
<tr><td valign=middle><b>Group Name</b></td>
      <td align=center><b>None</b></td>
      <td align=center><b>Read</b></td>
      <td align=center><b>Write</b></td>
      <td align=center><b>Save</b></td>
</tr>

