<tr height=30><td>&nbsp;</td><td> <li><a class="results" href="/servlet/Main?template=Taxonomy.CQL&query=##QUERY##">
##ALERTNAME## </a></td> <td><font face="Helvetica,Arial" size=2>(##FREQ##)</font></td> 
<td align=center><input type="button" value="Run Now" onClick="window.open('/servlet/Main?template=Taxonomy.CQL&query=##QUERY##');"></td></tr>