body {
    color: #FFFFFF;
    background-color: #000000;
}

#consoleTools{
    font-family: 'Tulpen One', cursive;
    font-size: 48px;
}

#headerMenu img {
    float: left;
}

#headerMenu {
    background-color: #000000;
    color: #FFFFFF;
}

/* 80 legs selected */
#files {
    float: left;
    width: 180px;
    height: 50px;
    margin: 5px;
    padding: 5px;
    -moz-box-shadow: inset 0 0 30px rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,0.15);
    box-shadow: inset 0 0 30px rgba(0,0,0,0.15);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-image: none;
    cursor: pointer;
}
#filesName {
    max-width: 130px;
    font-family: Arial;
    font-size: 10px;
    font-style: normal;
    text-decoration: none;
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#filesSize {
    max-width: 130px;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#ajaxLoading{
    visibility:hidden;
}

/* 80 legs selected */

#files img {
    float: left;
    width: 48px;
    height: 48px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.k-listview:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.k-listview {
    border: 0;
    padding: 0 0 20px 0;
    min-width: 0;
}

