p {  font-family: Arial, Helvetica, sans-serif; color: #000000; font-size:  10pt}
td {  font-family: Arial, Helvetica, sans-serif; color: #000000; font-size: 10pt}
ul {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 10pt;
}
.list {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
.white {  color: #FFFFFF}
.default {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
.black {  color: #000000}
.small {  font-size: 11px; font-family: Arial, Helvetica, sans-serif}
a:link {  color: #0048B4}
a:visited  {  color: #0048B4}
a.white:link {	color: #ffffff}
a.white:visited {	color: #ffffff}
a.black:link {	color: #000000}
a.black:visited {	color: #000000}