<blockquote>
<P>
<font face="arial,helvetica,sans-serif" size=-1><b>
Instructions: </b>Enter a signature word or phrase and click 'submit'. </font>
<P>
<FORM NAME="Login" ACTION="/servlet/Main" METHOD="GET">
<input type="hidden" name="template" value="Taxonomy.SearchSignatures">
Signature: 
<INPUT TYPE="TEXT" NAME="Signature" SIZE="20" MAXLENGTH="200">
<select name="GenreID">
##GENRESELECTLIST##
</select>
<INPUT TYPE="SUBMIT" NAME="SUBMIT" VALUE="SUBMIT"> &nbsp; &nbsp; &nbsp; &nbsp; <br></center></form>
</blockquote>
