<tr>
<td width=97% bgcolor=##BACKGROUND## onMousedown="highlight(event, this, ##DOCUMENTID##)" style="font-size:11pt; font-family: Arial, sans-serif;">
<u>##DOCTITLE##</u></td>
<td width=3%><img src="/servlet/images/##COLOR##.jpg" border=1></td></tr>