<html>
<head>
<title> ##TITLE## </title>
<link rel="STYLESHEET" type="text/css" href="/servlet/images/espsstyle.css">
</head>
<body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" bgcolor="#ffffff" background="/servlet/images/auto_bg.gif">
<table cellpadding="0" cellspacing="0" border="0" width="765">
<tr>
<td valign="middle" align="center" width="95"><img src="/servlet/images/itslogo3.gif" alt="Intellisophic Logo" border="0"></td>
<td width="700">

<table cellpadding="0" cellspacing="0" border="0" width="700">
<tr><td height="1"> <img width=1 height=1 src="/servlet/images/blank.gif"> </td></tr>
<tr>
<td bgcolor="#C68B12" align="right" width="600">

<table cellspacing="0" cellpadding="0" border="0">
<tr><td><img src="/servlet/images/spacer_tan.gif" width=1 height=44 alt="" border="0"></td>
<td nowrap class="whitecopy">&nbsp;&nbsp;</td>
<td> &nbsp;
</td>
<td> &nbsp; </td>
</tr>
</table>

</td>
<td bgcolor="#333399" align="center" width="150">
<!-- img src="/servlet/images/button_findsol.gif" width=110 height=44 alt="" border="0" -->
</td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
   <tr>
   <td> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </td>
   </tr>
   </table>
</td>
</tr>
<tr><td colspan="2" bgcolor="#000000"><img src="/servlet/images/spacer_black.gif" width=765 height=1 alt="" border="0"></td></tr>
</table>

<!-- child head -->
<DIV align=center>
</DIV><BR><FONT face="Arial, Helvetica, sans-serif">
&nbsp;&nbsp;
Taxonomy Server: Main Menu
</FONT>
<DIV align=left>
<TABLE border=0 width=760 cellspacing=0 cellpadding=0>
<TR bgColor=#333399 borderColor=#996600>
<TD align=left height=23><FONT face="Arial, Helvetica, sans-serif" color=white>
<B>&nbsp;&nbsp; ##TITLE## </td>
<td align=right>
<A class="genrewb" HREF="/servlet/Main?template=Taxonomy.FrontPage">Home</a> |
<font face="Arial" color=white><b>User Info</b></font> |
<A class="genrewb" HREF="/servlet/Main?template=Taxonomy.EditUser&page=alerts">Alerts</a> |
<A class="genrewb" HREF="/servlet/Main?template=People.Expert&tab=Expert">Expertise</a> |
<A class="genrewb" HREF="/servlet/Main?template=People.Suggest">Suggest</a> |
<A class="genrewb" HREF="/servlet/Main?template=Taxonomy.Administer">Administer</a> |
<A class="genrewb" HREF="/servlet/Main?template=Server.Logout">Logout</a> |
<A class="genrewb" HREF="/servlet/Main?template=Taxonomy.Help">Help</a>
&nbsp; &nbsp;
</B></FONT></TD></TR></TBODY></TABLE>

