<div id="wrapper" >	
	<div id="containTopMenu">	
		<ul id="header" class="stalk">
			<li class="logo"><a href="#/"><img src="https://s3.amazonaws.com/resourcesweb/wine/images/logo.png" alt="Logo"/></a> </li>
			<li class="login">
				<a  href="#" onclick="login()" ><img src="https://s3.amazonaws.com/resourcesweb/wine/images/fb_login.png"  alt="Login"/></a> 
			</li>
			<li class="links"> <a href="/OtherPages?page=about">About</a> | <a href="/OtherPages?page=privacy">Privacy</a></li>                <li class="search">
				<input id="searchtxt" name="" type="text" class="search_input" value="" />
			</li>
		</ul>				
    </div>                
    <div id="menu">
		<div id="CrumbNav">
			<ul class="pageMargins ng-cloak">
				<li ng-repeat="bc in crumbNav.breadCrumbs" class="itemMenu" bc-magic>
					<a class="itemMenuA ng-cloak" role="button" data-toggle="dropdown" href="#/page/{{bc.taxonomy.name | seo_path}}/{{bc.title | seo_path}}/{{bc.id}}" ng-show="bc.children.length>0"><span class="itemMenuSpan">{{ bc.title }}</span></a>
					<span ng-show="bc.children.length==0" class="bcNoLink muted">{{ bc.title }}</span>
					<div class="dropdown-menu" role="menu" ng-show="bc.children.length>0">
						<div ng-repeat="column in ddmCols" ng-class="colClass" jt-repeat-done="keepOnScrn()">
							<ul>
								<li ng-repeat="topic in column" role="presentation" bcml-decorate><a href="#/page/{{bc.title | seo_path}}/{{topic.title | seo_path}}/{{topic.id}}" role="menuitem">{{topic.title}}<span class="badge"><i class="foundicon-checkmark"></i></span></a></li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>
    </div>
    <div id="content" class="clearfix"></div>
</div>
<div id="socialbar">
	<div class="social_info">
		<ul class="buttons" style="float: left;width:70px;">
			<li>
				<a href="#" class="saveDocumentDigest join_topic"><span>Save</span></a>
			</li>
		</ul>
	</div>
</div>
<div id="insertLeftAds"></div>
<div id="body_content" class="clearfix">
	<div class="article_details clearfix">
		<h1>{{ docDigest.title }}</h1>
		<div class="details">
			<div class="article_pic">
				<img src="{{ imgUrlDigest }}" show-on-load class="pic"></img>
			</div> 
			<!-- AddThis Button BEGIN -->
			 <div class="addThisDigest addthis_toolbox addthis_default_style" style="margin-top:14px;">
				  <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				  <a class="addthis_button_pinterest_pinit"></a>
				  <a class="addthis_button_tweet"></a>
				  <a class="addthis_counter addthis_pill_style"></a>
			</div>   
			<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>    
			<script type="text/javascript">
				var addthis_config = addthis_config||{};
				addthis_config.data_track_addressbar = false;
			</script>    
			<!-- AddThis Button END -->
			<div class="body_text body_text_link">
			  <p>{{docDigest.digest}}</p>
		   </div>
		    <p><a id="seeOriginalSource" target="_blank" href="https://www.google.com/search?q={{ knowMore() }}">know more</a></p>
		</div>
		<div ng-show="docDigest.topics.length > 0" class="topic">
			<h4>Topics found:</h4>
			<!--
			<ng-pluralize count="docDigest.topics.length"
				when="{'0': '',
				'one': 'One related topic',
				'other': '{} related topics'}">
			</ng-pluralize>:
			-->

			<ul class="topic_list">
				<li ng-repeat="topic in docDigest.topics"><a href="#/page/{{ pageCrumb.title | seo_path }}/{{ topicSrvc.topicTitle(topic) | seo_path}}/{{topic}}"  class="menuButton2 linkTopicsRelated"><span>{{ topicSrvc.topicTitle(topic) }}</span></a></li>				
				<li><div id="insertAfterAds"></div></li>
			</ul>									
		</div>	
		<div id="disqus_thread"></div>
				<script type="text/javascript">
				function disqus_config() {             
					this.page.remote_auth_s3 = '$disqusMessage $disqusHMAC $disqusTimeStamp';
					this.page.api_key = '$disqusPublicKey';
					this.callbacks.onNewComment = [function() { 
						 _kmq.push(['record', 'MAKE COMMENT']);  //KISSMETRIC EVENT
					 }];             
				}
					 /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
					 var disqus_shortname = 'devbudd'; // required: replace example with your forum shortname
					 var disqus_identifier='ad25b84a4386248e22dfc9010bb587cb';
					  /* * * DON'T EDIT BELOW THIS LINE * * */
					 (function() {
						 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
						 dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
						 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					  })();
				</script>
				<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
				<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>          
		</div>
	</div>
</div>


