<div id="adSideR" ad-side></div>

<div class="navIndent">
	<a href="" class="btn btn-primary pull-right" back-button><i class="foundicon-left-arrow"></i> Back</a>

	<h2><i class="foundicon-search"></i> Linkapedia Search</h2>

	<form class="form-search">
		<div class="input-prepend">
			<a ng-click="searchStart()" class="btn btn-primary">Search <i class="foundicon-search"></i></a>
			<input type="text" class="search-query" ng-model="searchData.query" placeholder="search Linkapedia" jt-on-enter="searchStart()" focus-if-empty>
		</div>
	</form>

	<p ng-show="searchData.searchResults.length > 0" class="searchClrPerm">
		<a href="" ng-click="clrSearchResults('', true)">clear search results</a> |
		<a href="#/search/{{ queryEncode() }}">permalink</a>
	</p>
</div>

<div ng-repeat="qTxt in searchAlerts" class="alert alert-info ng-cloak">
	<button type="button" class="close" ng-click="closeAlert($index)">&times;</button>
	<b>NOT FOUND:</b> No results for {{ qTxt }}
</div>

<div class="searchResults" infinite-scroll='loadSearch()' infinite-scroll-disabled='busy' infinite-scroll-distance='{{ scrollDistance }}'>
	<div ng-repeat="result in searchData.searchResults" class="well" one-search-result>
		<img topic-photo-url show-on-load alt="">
				

		<p><span class="badge"><i class="foundicon-checkmark"></i></span><a href="{{ resultUrl }}" class="lead">{{ result.title }}</a><br>
		{{ result.description }}</p>

		<p><b>Found in:</b> <a href="{{ resultUrl }}">{{ result.path }}</a></p>
		<br class="clearBoth">
	</div>
</div>

<div id="adBottom" ad-bottom></div>

