<div class="navIndent">
	<a href="" class="btn btn-primary pull-right" back-button><i class="foundicon-left-arrow"></i> Back</a>

	<h2><i class="foundicon-settings"></i> Linkapedia Settings</h2>

	<p>
		<div class="btn-group" data-toggle="buttons-radio">
			<button type="button" class="btn {{ settings.CSS('topicPhotos', true) }}" ng-click="settings.setPref('topicPhotos', true)">Show</button>
			<button type="button" class="btn {{ settings.CSS('topicPhotos', false) }}" ng-click="settings.setPref('topicPhotos', false)">Hide</button>
		</div>
		photos on topic page
	</p>

	<p>
		<div class="btn-group" data-toggle="buttons-radio">
			<button type="button" class="btn {{ settings.CSS('docLinkPhoto', true) }}" ng-click="settings.setPref('docLinkPhoto', true)">Show</button>
			<button type="button" class="btn {{ settings.CSS('docLinkPhoto', false) }}" ng-click="settings.setPref('docLinkPhoto', false)">Hide</button>
		</div>
		photo on document links
	</p>

	<p>
		<div class="btn-group" data-toggle="buttons-radio">
			<button type="button" class="btn {{ settings.CSS('topicLinks', 'show') }}" ng-click="settings.setPref('topicLinks', 'show')">Show</button>
			<button type="button" class="btn {{ settings.CSS('topicLinks', 'ask') }}" ng-click="settings.setPref('topicLinks', 'ask')">Optional</button>
			<button type="button" class="btn {{ settings.CSS('topicLinks', 'hide') }}" ng-click="settings.setPref('topicLinks', 'hide')">Hide</button>
		</div>
		related topics on document links
	</p>

	<p>
		<div class="btn-group" data-toggle="buttons-radio">
			<button type="button" class="btn {{ settings.CSS('bcSortDrop', '') }}" ng-click="settings.setPref('bcSortDrop', '')">Unsorted</button>
			<button type="button" class="btn {{ settings.CSS('bcSortDrop', 'title') }}" ng-click="settings.setPref('bcSortDrop', 'title')">Alphabetical</button>
		</div>
		breadcrumb dropdown menus</i>
	</p>

	<p>
		<div class="btn-group" data-toggle="buttons-radio">
			<button type="button" class="btn {{ settings.CSS('bcAutoOpen', true) }}" ng-click="settings.setPref('bcAutoOpen', true)">Automatically</button>
			<button type="button" class="btn {{ settings.CSS('bcAutoOpen', false) }}" ng-click="settings.setPref('bcAutoOpen', false)">Manually</button>
		</div>
		open breadcrumb dropdown menus</i>
	</p>

	<p><select ng_model="settings.vals.knowMore" ng-change="setKnowMore(this)">
		<option>Google</option>
		<option>Bing</option>
		</select>
		"know more" links
	</p>

	<a href="" style="float: right;" ng-click="settings.reset(true)">reset defaults</a><br class="clearBoth">
</div>

<div id="debugArea" class="well well-small muted collapse">
	<button type="button" class="btn btn-mini btn-danger pull-right" data-toggle="collapse" data-target="#debugArea">debug</button><br class="clearBoth">

	<h4>debug log</h4>

	<p class="well well-small" ng-bind-html="debugLog.logTxt"></p>
</div>
