<DT><table height=22 cellpadding=0 cellspacing=0 width=90%><tr><td valign=center><font face="Arial, Helvetica, sans-serif"><font size = "-1">
<img src="/images/new.gif" alt="Add New Corpus"> &nbsp; 
<a href="/servlet/Main?template=Taxonomy.CreateCorpus"><b>Add New Corpus</b></a></font></td></tr></table>
