<table width=100% cellpadding=0 cellspacing=0 border=0 bgcolor=003399>
<tr><td nowrap><font color=white face=arial size=2>&nbsp;<b>Category Matches</b></font>
</td><td align=right nowrap>
<font face=arial color=white size=-1>1 - ##NUMRES## of ##MAXRES##
&nbsp;|&nbsp;
<a href="/servlet/Main?template=Idrac.Search&country=true&type=node&cquery=##CQL##&advanced=true" class="white"><b>More Results</b></a>&nbsp;</font></td></tr>
</table>
<BR>
<table border=0 cellspacing=0 cellpadding=0 width=100%>
