<DT><table height=22 cellpadding=0 cellspacing=0 width=90%><tr><td valign=center><font face="Arial, Helvetica, sans-serif"><font size = "-1">
<img src="/servlet/images/new.gif" alt="Add New Taxonomy"> &nbsp;
<a href="/servlet/Main?template=Taxonomy.CreateCorpus"><b>Add New Taxonomy</b></a></font></td></tr></table>
