<td align=center><input type=radio name=type##loop##
value=0 ##type0##></td>
<td align=center><input type=radio name=type##loop##
value=1 ##type1##></td>
<td align=center><input type=radio name=type##loop##
value=2 ##type2##></td>
<td align=center><input type=radio name=type##loop##
value=3 ##type3##></td>
<td align=center><input type=radio name=type##loop##
value=4 ##type4##></td>
<td align=center><input type=radio name=type##loop##
value=5 ##type5##></td>
<td align=center><input type=radio name=type##loop##
value=6 ##type6##></td>
<td align=center><input type=radio name=type##loop##
value=7 ##type7##></td>
<td align=center><input type=radio name=type##loop##
value=8 ##type8##></td>
<td align=center><input type=radio name=type##loop##
value=-1 ##typee##></td>
</tr>
