body {
	background: #FFF;
	margin: 0;
	padding: 0;
	color: #000;
	font: x-small/1.5em Verdana, Serif;
	voice-family: "\"}\""; voice-family: inherit;
	font-size: small;
}

html>body {
	font-size: small;
}


h1 {
	font-size: smaller;
	font-weight: bold;
}

h2 {
	border-bottom: 1px solid #000;
	color: #000;
	font-size: 1em;
	margin: 10px;
	padding-top: .1em;
	padding-bottom: 1.2em;
}

h2 a:link {
  padding-bottom: 20em;
}

p {
  line-height: 150%;
	margin: 1em;
}

#header {
	float: right;
	font-size: x-large;
	height: 1em;
	letter-spacing: .2em;
	padding-top: 40px;
	text-align: right;
	width: 50%;
}

#logo {
	float: left;
	height: 66px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	width: 260px;
}

#menubar {
	float: left;
	width: 750;
	background: #DAE0D2 url("/servlet/images/schering/bg.gif") repeat-x bottom;
	font-size: 93%;
	line-height: normal;
}

#menubar ul {
	margin: 0;
	padding: 10px 10px 0;
	list-style: none;
}

#menubar li {
	display: inline;
	margin: 0;
	padding: 0;
}

#menubar a {
	float: left;
	background: url("/servlet/images/schering/left_both.gif") no-repeat left top;
	margin: 0;
	padding: 0 0 0 9px;
	border-bottom: 1px solid #765;
	text-decoration: none;
}

#menubar a span {
	float: left;
	display: block;
	background: url("/servlet/images/schering/right_both.gif") no-repeat right top;
	padding: 5px 15px 4px 6px;
	font-weight: bold;
	color: #000;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#menubar a span {
	float: none;
}
/* End IE5-Mac hack */

#menubar a: hover span {
	color: #000;
}

#menubar #current a {
	background-position: 0 -150px;
	border-width: 0;
}

#menubar #current a span {
	background-position: 100% -150px;
	padding-bottom: 5px;
	color: #000;
}

#menubar a:hover {
	background-position: 0% -150px;
}

#menubar a:hover span {
	background-position: 100% -150px;
}

#menubar #menulink {
	float: right;
}

#menubar #menulink a {
	padding: 0;
	background: none;
}


#menubar #menulink a:hover {
	color: #FF3300;
}
