   </select>
   </td>
    <td width=35% valign=top>
    <table cellpadding=0 cellspacing=5 valign=top>
     <tr><td><a href="javascript:Explore()"><img src="/images/explore.gif" border=0 alt="Explore"></a></td><td>Browse a selected thesaurus<br></td></tr>
      <tr><td><a href="javascript:Add()"><img src="/images/add.jpg" border=0 alt="Add"></a></td><td> Create a new thesaurus<br></td></tr>
      <tr><td><a href="javascript:Edit()"><img src="/images/security.jpg" border=0 alt="Security"></a></td><td> Assign thesauri to corpora<br></td></tr>
      <tr><td><a href='javascript:Remove()'><img src="/images/delete.gif" border=0 alt="Delete"></a></td><td> Delete a selected thesaurus</td></tr>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<P>
</form>
</blockquote>
