<tr><td><b>Add Indexing Term</b><td><b>Relationship</b></td></tr>
<tr><td><input type="text" name="object" size=30> </td>
      <td><select name="relationship">
		       <option value=0> - Select One -
		       <option value=1> Synonym
		       <option value=2> Broader Term
		       <option value=3> Narrower Term
		       </select>
      </td>
</tr>
<tr><td align=left colspan=2>&nbsp; <input type="submit" name="submit" value="Submit Changes"> &nbsp; </td></tr>
</table>
</blockquote>
</center>
</form>