<tr> <td> <a href='javascript:Remove(##THESAURUSID##, ##ANCHORID##, ##OBJECTID##, ##RELATIONSHIPCODE##)'><img src="/images/delete-small.gif" border=0 alt="Delete this Term"></a>  <a href="javascript:Popup(##OBJECTID##, ##THESAURUSID##)">##OBJECTNAME##</a> </td> <td> ##RELATIONSHIP## </td> </tr>
