        <tr align="left" valign="top"> 
          <td width="25" align="center" class="list"><b>##LOOP##.</b></td>
          <td width="585"> 
            <p><b><span class="list"><a href="/servlet/Main?template=Idrac.DocumentFrame&country=##COUNTRY##&DocumentID=##DOCUMENTID##&URL1=##EDOCURL##&EDOCTITLE=##EDOCTITLE##">##DOCTITLE##</a></span></b><br>
              <span class="small">##DOCUMENTSUMMARY##<br>
              <a href="/servlet/Main?template=Idrac.DocumentFrame&country=##COUNTRY##&DocumentID=##DOCUMENTID##&URL1=##EDOCURL##&EDOCTITLE=##EDOCTITLE##">##DOCURL##</a> 
              (See <a href="/servlet/Main?template=Idrac.GetRelatedNodes&Type=0&DocumentID=##DOCUMENTID##&DocURL=##URL##&DocTitle=##EDOCTITLE##">related topics</a>)<br>
              <b><img src="/images/idrac/s.gif" width="6" height="20" align="top"></b> 
              </span></p>
          </td>
          <td width="50" align="right" class="list">
		<img src="/images/idrac/s##COUNTRY##.gif">
	    </td>
        </tr>
