      <tr> 
        <td width="23%">&nbsp;</td>
        <td width="39%" bordercolor="#329806">
          <input type="checkbox" name="##SUBJECTNAME##" 
            ##SUBJECTAREACHECKED##>
         ##SUBJECTNAME##</td>
