<blockquote>
<form method=post action="/servlet/Main">
<input type="hidden" name="CorpusID"  value="##CorpusID##">
<input type="hidden" name="template" value="##formpost##">

<table>
<tr><td><font face="Arial, Helvetica, sans-serif" size=-1><b>Taxonomy Name:</b></font></td>
<td colspan=5><input type="text" name="CorpusName" size=50 maxlength=255 value="##CORPUS_NAME##"></td></tr>
<tr><td><font face="Arial, Helvetica, sans-serif" size=-1><b>Taxonomy Description:</b></font></td>
<td colspan=5><textarea name="CorpusDesc" cols="50" rows="3">##CORPUSDESC##</textarea></td></tr>
<tr><td colspan=6><hr></td></tr>
<tr><td><font face="Arial, Helvetica, sans-serif" size=-1><b>Taxonomy Available:</b></font></td>
<td colspan=5><input type="checkbox" name="Active" ##ACTIVE##></td></tr>
<tr><td colspan=6><font face="Arial, Helvetica, sans-serif" size=-1><b><BR>Folder Selection:</b></font>
</td></tr>
</table>
    <table width="650" border="0">
      <tr> 
        <td width="23%" height="24">&nbsp;</td>
        <td colspan="2" bgcolor="#329806" height="24">
          <div align="left"><font face="Arial, Helvetica, sans-serif" color="#FFFFFF"><b>&nbsp; Available 
            Folders for this Taxonomy </b></font></div>
        </td>
