<tr><td colspan=8><BR>
&nbsp;<font face="Arial,Helvetica" size=2><b>Question</b>: Build middle-tier topics as well? </font>
<input type=checkbox name="includechildren" checked>
<P>
<input type=submit name=save value="Save Progress">
<input type=submit name=submit value="Build Now">
<input type=hidden name=filename value="##filename##">
<input type=hidden name=font value="##font##">
<input type=hidden name=destination value="##destination##">
<input type=hidden name=corpusname value="##corpusname##">
</td></tr>
</table>
</blockquote>
</form>
<table width=765><tr><td>
<div align="center"><p align=center><font face="Arial, Helvetica, sans-serif">2002 IndraWeb Ltd.  All rights reserved<br>
  <a class=footer href="http://www.surfablebooks.com/about_us.htm">About Us</a>&nbsp; |&nbsp; <a 
class=footer href="http://www.surfablebooks.com/contact_us.htm">Contact Us</a>&nbsp; 
  |&nbsp; <a class=footer href="http://www.surfablebooks.com/jobs.htm">Jobs</a>&nbsp; 
  |&nbsp; <a class=footer href="http://www.surfablebooks.com/privacy_policy.htm">Privacy 
  Policy</a>&nbsp; |&nbsp; <a class=footer 
href="http://www.surfablebooks.com/terms%20of%20service">Terms of Service</a>&nbsp; 
  |&nbsp; <a class=footer href="http://www.surfablebooks.com/help">Help</a></font></p>
</td></tr></table>
</body>
</html>
