<SCRIPT>
var myWin;
function EditCW(theURL,winName,features) { //v2.0
  if (myWin && (!myWin.closed))
    myWin.focus();
  else
  {
    myWin = window.open(theURL,winName,features);
    myWin.moveTo(0,0);
  }
}
</SCRIPT>

<blockquote>
<b><u>Edit Repository</u>: ##REPOSITORYNAME##</b>
<br>
<form action=/servlet/Main>
<input type="hidden" name="template" value="##TEMPLATE##">
<input type="hidden" name="RID" value="##REPOSITORYID##">
<table width=650>
<tr><td>Name: </td><td><input type="text" name="Name" value="##REPOSITORYNAME##"></td></tr>
<tr><td>Type: </td><td><select name="Type">##TYPE##</select></td></tr>
<tr><td>Location: </td><td><input type="text" name="Location" value="##REPOSITORYLOCATION##"></td></tr>
<tr><td>Username: </td><td><input type="text" name="Username" value="##USERNAME##"></td></tr>
<tr><td>Password: </td><td><input type="password" name="Password" value="##PASSWORD##"></td></tr>
<tr><td>Full Text: </td><td><select name="Full">##FULL##</select></td></tr>
</table>
<p>
<table cellpadding=2 cellspacing=2 width=650>
<tr><td><b><u>Watched Folder</u></b></td>
      <td align=center><b>Recurse</b></td>
      <td align=center><b>Last Capture</b></td>
	<td align=center>&nbsp;</td>
	<td align=center>&nbsp;</td>
</tr>

