A:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
A:link {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
.getheading {
	COLOR: #0000ff; FONT-FAMILY: arial,helvetica,verdana; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.gettext {
	COLOR: #000000; FONT-FAMILY: arial,helvetica,verdana; FONT-SIZE: 10px; FONT-WEIGHT: normal
}
.redheading {
	COLOR: #cc3300; FONT-FAMILY: arial,helvetica,verdana; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.red {
	COLOR: #cc3300
}
.bkheading {
	COLOR: #000000; FONT-FAMILY: arial,helvetica,verdana; FONT-SIZE: 15px; FONT-WEIGHT: bold
}
.text {
	COLOR: #000000; FONT-FAMILY: arial,helvetica,verdana; FONT-SIZE: 13px; FONT-WEIGHT: normal
}
.smtext {
	COLOR: #000000; FONT-FAMILY: arial,helvetica,verdana; FONT-SIZE: 11px; FONT-WEIGHT: normal
}
.monospace {
	FONT-FAMILY: Courier,monospace; FONT-SIZE: 10px
}
.background {
	BACKGROUND-IMAGE: url(./s-default/art/typist.jpg); BACKGROUND-REPEAT: no-repeat
}
