<!-- manage-list-head.tpl -->
<b>Local Classifier Settings</b><p>

<table width=650>
<tr><td><b><u>Classifier Name</u></b></td>
      <td align=center><b>Star Count</b></td>
      <td align=center><b>Cost Ratio</b></td>
      <td align=center><b>Cut Off Score</b></td>
      <td align=center><b>Edit</b></td>
      <td align=center><b>Delete</b></td>
</tr>
