<html>
<head>
<title> ##TITLE## </title>
<link rel="STYLESHEET" type="text/css" href="/servlet/images/espsstyle.css">
</head>
<body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" bgcolor="#dddddd">
<table cellpadding="0" cellspacing="0" border="0" width="765">
<tr>
<td valign="middle" align="center" width="95"><img src="/servlet/images/itslogo3.gif" alt="Intellisophic Logo" border="0"></td>
<td width="700">

<table cellpadding="0" cellspacing="0" border="0" width="700">
<tr><td height="1"> <img width=1 height=1 src="/servlet/images/blank.gif"> </td></tr>
<tr>
<td bgcolor="#C68B12" align="right" width="600">

<table cellspacing="0" cellpadding="0" border="0">
<tr><td><img src="/servlet/images/spacer_tan.gif" width=1 height=44 alt="" border="0"></td>
<td nowrap class="whitecopy">&nbsp;&nbsp;</td>
<td> &nbsp;
</td>
<td> &nbsp; </td>
</tr>
</table>

</td>
<td bgcolor="#329806" align="center" width="150">
<!-- img src="/servlet/images/button_findsol.gif" width=110 height=44 alt="" border="0" -->
</td>
</tr>
</table>
</td>
</tr>
<tr><td colspan="2" bgcolor="#000000"><img src="/servlet/images/spacer_black.gif" width=450 height=1 alt="" border="0"></td></tr>
</table>

<blockquote>
<b><font color="6a82a3" size=+1>Document Properties</font></b>
<BR>
<form method=post action="/servlet/Main">
<input type="hidden" name="template" value="Taxonomy.EditResult">
<input type="hidden" name="Reload"
 value="##RELOAD##">

<TABLE width=450 cellspacing=0>
  <TR>
      <TD><b>Title</b>:</TD>
      <TD>
        <FONT face="Arial, Helvetica" size=-1><STRONG> <input type="text" name="DocTitle" value="##DOCTITLE##" size=50 maxsize=255 maxlength=255></STRONG></FONT>
      </TD>
   </TR>
   <TR>
      <TD><b>Score</b>:</TD>
      <TD align=right width=95 valign=middle>
        <NOBR><select name=score1>
        ##OPTIONS##
        </select>
        </NOBR>
      </TD>
  </TR>
  <TR>
      <TD colspan=2><b>Document Summary</b>:</TD>
  </TR>
  <TR>
       <TD> &nbsp; </TD>
       <TD>
           <FONT face="Arial, Helvetica" size=-1>
           <textarea name="DocSummary" cols="37.5" rows="3">##DOCSUMMARY##</textarea>
          <BR></FONT>
        </TD>
  </TR>
  <TR>
        <TD><b>Link</b>:</TD>
        <TD>
          <input type="text" name="DocURL" value="##DOCURL##" size=50 maxsize=255 maxlength=255>
           &nbsp;<BR></FONT>
       </TD>
   </TR>
   <TR>
       <TD> &nbsp; </TD>
       <TD><BR>

           <INPUT TYPE="HIDDEN" NAME="DocumentID" VALUE="##DOCUMENTID##">
           <INPUT TYPE="HIDDEN" NAME="GenreID" VALUE="##GENREID##">
           <INPUT TYPE="HIDDEN" NAME="NodeID" VALUE="##NODEID##">
           <INPUT TYPE="SUBMIT" NAME="SUBMIT" VALUE="SAVE CHANGES">
           <INPUT TYPE="BUTTON" NAME="CANCEL" VALUE="CANCEL CHANGES" onClick="window.close();">
      </TD>
   </TR>
</TABLE>
<P>


