<blockquote>
<P>
<font face="arial,helvetica,sans-serif" size=-1><b>
NOTE: </b>If you are logging in from a shared terminal, please remember
to log out and follow the instructions.</font>
<P>
<FORM NAME="Login" ACTION="/servlet/Main" METHOD="POST">
      <input type="hidden" name="template" value="Server.Login">
      <table border=0 cellspacing=0 cellpadding=2 width=650>
        <tr>
          <td width=40% align="right">
        <font face="arial,helvetica,sans-serif" size=-1><b>USER IDENTIFIER:</font></td>
          <td width=60%><font>
            <INPUT TYPE="TEXT" NAME="USERID" SIZE=12 MAXLENGTH=50 value=""></font><br>
            <img border=0 src="/servlet/images/spacer.gif" alt="" width=11 height=6><br>
          </td>
        </tr>
        <tr>
          <td width=40% align="right">
        <font face="arial,helvetica,sans-serif" size=-1><b>PASSWORD:</font></td>
          <td width=60%><font>
            <INPUT TYPE="PASSWORD" NAME="PASSWORD" SIZE=12 MAXLENGTH=30 value=""></font><br>
          </td></tr>
        <tr>
          <td colspan =2 align="center">
      <br>
      <INPUT TYPE="SUBMIT" NAME="SUBMIT" VALUE="LOGIN"> &nbsp; &nbsp; &nbsp; &nbsp; <br></center></form>
      </td></tr></table>
</blockquote>
