<TABLE width=700 cellspacing=0>
<TR><TD valign=top width=45>&nbsp; &nbsp; &nbsp; <FONT face="Arial, Helvetica" size=-1><strong>##LOOPI##.</strong></FONT></TD>
    <TD>
      <DL>
        <DT width=5><FONT face="Arial, Helvetica" size=-1>
	##SNIPPET##
	<BR></FONT>
	<i>
	##NUGGET##
	</i></DD></DL>
    </TD></TR>
</TABLE>
