<!-- manage-list-head.tpl -->
<table width=70%>
<tr><td><b><u>Classifier Name</u></b></td>
      <td align=center><b>Column</b></td>
      <td align=center><b>ClassPath</b></td>
      <td align=center><b>Sort Order</b></td>
      <td align=center><b>Status</b></td>
      <td align=center><b>Edit</b></td>
      <td align=center><b>Delete</b></td>
</tr>
