<!DOCTYPE html>
<html>
    <head>
        <!-- global imports -->
        <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/jquery-1.8.2.min.js"></script>
        <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/jquery-ui.js"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/badbrowser.js"></script>
        <script type="text/javascript">
            var CONTEXT_LINKAPEDIA = "$context";
            var USER_ROLE = "$user.getUserRole().getUserRole()";
        </script>
        <!-- google analytics-->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-39745928-3']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        <!-- kissmetric -->
        <script type="text/javascript">
            var _kmq = _kmq || [];
            var _kmk = _kmk || '$kissMetricId';
            function _kms(u){
                setTimeout(function(){
                    var d = document, f = d.getElementsByTagName('script')[0],
                    s = d.createElement('script');
                    s.type = 'text/javascript'; s.async = true; s.src = u;
                    f.parentNode.insertBefore(s, f);
                }, 1);
            }
            _kms('//i.kissmetrics.com/i.js');
            _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
        </script>
        <!-- kissmetric event -->
        <script type="text/javascript">
            #if($user.getUserId())
                _kmq.push(['identify', '$user.getUserId()']);
            #else
                _kmq.push(['identify', '']);
            #end
        </script>
        
        <!-- METADATA ADDTHIS -->
        <meta property="og:title" content="$node.getTitle()" />
        <meta property="og:image" content=""/> 
        <meta property="og:description" content="$node.getDescription()" />

        <!-- METADATA PAGE -->
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
        <title>$taxonomy.getName():$node.getTitle()</title>        
        <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/scrollable.js"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/linkapedia.js"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/jquery.masonry.js"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/jquery.wookmark.js"></script>
        <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/facebook.js" type="text/javascript"></script>
        <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/main.js" type="text/javascript"></script>
        <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/pageEvents.js" type="text/javascript"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/infinite.js"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/cloudsearch.js"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/map.js"></script>
        <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/jquery.fancybox.js" type="text/javascript"></script>
        <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/collectionsApi.js" type="text/javascript"></script>
        <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/dialogs.js" type="text/javascript"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/resourcesweb/$environment/js/menu-efects.js"></script>
        <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/UTILS.js" type="text/javascript"></script>
        <script src="https://s3.amazonaws.com/resourcesweb/$environment/js/jquery.cookie.js" type="text/javascript"></script>    

        <link rel="icon" type="image/x-icon" href="https://s3.amazonaws.com/resourcesweb/$environment/images/favicon.ico" />
        <link rel="stylesheet" href="https://s3.amazonaws.com/resourcesweb/$environment/css/jquery-ui.css" />
        <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/jquery.fancybox.css" rel="stylesheet" type="text/css" />
        <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/common.css" rel="stylesheet" type="text/css" />
        <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/main.css" rel="stylesheet" type="text/css" />
        <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/linkapedia.css" rel="stylesheet" type="text/css" />
        <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/masonry.css" rel="stylesheet" type="text/css" />
        <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/menu.css" rel="stylesheet" type="text/css" />
        <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/scrollable.css" rel="stylesheet" type="text/css" />
        <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/infinite.css" rel="stylesheet" type="text/css" />
        <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/cloudsearch.css" rel="stylesheet" type="text/css" />
        <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/collectionsDialogs.css" rel="stylesheet" type="text/css" />
        <link href="https://s3.amazonaws.com/resourcesweb/$environment/css/overlay.css" rel="stylesheet" type="text/css" />

        <!-- config scripts -->
        <script>
            $(window).load(function(){
                //load the plugins
                load();
                //load things for this template
                loadLinkPage('$node.getId()');
                //TODO:call this in the load
                CONFIG_SEARCH.setTaxonomy('$taxonomy.getName()');
                CONFIG_SEARCH.setAutocomplete();
                CONFIG_SEARCH.isExecuteQuery2($searchQuery2);
                CONFIG_SEARCH.setSelectorsToHidden([$("#content"),$("#menu"),$("#wrapper_infinite_scroll_loading")]);
                CONFIG_SEARCH.setSelectorParent($("#wrapper"));                
                PAGE_EVENTS.setMaxNumberOfUsersToShowFollowingTopic($maxNumberOfUsersToShowFollowingTopic);
                COLLECTION_DIALOG.config();
            });
        </script>
    </head>
    <body>
        <div id="fb-root"></div>
        <script>FacebookInit($clientId)</script>
        <div id="wrapper">
<!-- adsense for cloudsearch -->
<div id="adsenseCloudSearch">
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-1595717843634953";
    /* SearchResultAd */
    google_ad_slot = "9078787227";
    google_ad_width = 300;
    google_ad_height = 600;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
</div>
<!-- end -->
            <div id="containTopMenu" currentpage="linkpage">
                <!--header start-->
                <ul id="header">
                    <li class="logo">
                        <a href="$context/home">
                            <img src="https://s3.amazonaws.com/resourcesweb/$environment/images/logo.png" alt="Logo"/>
                        </a> 
                    </li>
                    <li class="login">
                        #if($user.getUserRole().getUserRole()!="guest")
                            <a  href="$context/Logout" class="logout" >Sign Out</a> 
                        #else
                            <a  href="#" onclick="login()" ><img src="https://s3.amazonaws.com/resourcesweb/$environment/images/fb_login.png"  alt="Login"/></a> 
                        #end
                    </li>
                    #if($user.getUserRole().getUserRole()!="guest")
                        <li class="user">
                            <a href="$context/ProfileCreation?userId=$user.getUserId()"><img src="http://graph.facebook.com/$user.getFacebookCredentials().getProperty("fbId")/picture?type=small" /></a>
                            <span>Welcome</span>
                            <div>$user.getName().</div>
                        </li>
                    #end
                        <li class="links"> 
                            <a href="$context/OtherPages?page=about&taxonomyName=$taxonomyName">About</a> | 
                            <a href="$context/OtherPages?page=privacy&taxonomyName=$taxonomyName">Privacy</a>
                        </li>
                        <li class="search">
                            <input id="searchtxt" name="" type="text" class="search_input" value="" />
                        </li>
                </ul>
                <!--header end-->
                <!--menu start-->
                <div id="menu">
                    #if($showLevel1)
                        <!-- level 1 -->
                        <div class="wrap">
                            <a class="arrowPrev1 prev-page prev-scrollable disabled-scrollable"></a> 
                            <a class="arrowNewxt1 next-page next-scrollable disabled-scrollable"></a>
                            <div class="menuButton" >
                                <a href="$context/page/$level1.get(0).getEncodeName()/$level1.get(0).getNodeId()" title="$level1.get(0).getName()">  
                                    <span>
                                        $level1.get(0).getName()
                                    </span>
                                </a>
                            </div>
                            #if ($level1.size()>1)
                                <div id="slider1" class="scrollable">
                                    <div class="items">
                                         #set($firstItem = true)
                                         #foreach( $l1 in $level1 )
                                            #if($firstItem)
                                                #set($firstItem=false)
                                            #else
                                                <div class="menuButton2" >
                                                    <a href="$context/page/$l1.getEncodeName()/$l1.getNodeId()" title="$l1.getName()">
                                                        <span>
                                                            $l1.getName()
                                                        </span>
                                                    </a>
                                                </div>
                                            #end
                                        #end
                                    </div>
                                </div>
                            #end
                        </div>
                    #end
                    <!-- level 2 -->
                    <div class="wrap">
                        <a class="arrowPrev1 prev-page prev-scrollable disabled-scrollable"></a> 
                        <a class="arrowNewxt1 next-page next-scrollable disabled-scrollable"></a>
                        <div class="menuButton" >
                            #if($showLevel1)
                                <a href="$context/page/$level1.get(0).getEncodeName()/$level2.get(0).getEncodeName()/$level2.get(0).getNodeId()" title="$level2.get(0).getName()">
                            #else
                                <a href="$context/page/$level2.get(0).getEncodeName()/$level2.get(0).getNodeId()" title="$level2.get(0).getName()">
                            #end                        
                            <span>
                                $level2.get(0).getName()
                            </span>
                            </a>
                        </div>
                        #if ($level2.size()>1)
                            <div id="slider2" class="scrollable">
                                <div class="items">
                                    #set($firstItem = true)
                                    #foreach( $l2 in $level2 )
                                        #if($firstItem)
                                            #set($firstItem=false)
                                        #else
                                            <div class="menuButton2" >
                                                #if($showLevel1)
                                                    <a href="$context/page/$level1.get(0).getEncodeName()/$l2.getEncodeName()/$l2.getNodeId()" title="$l2.getName()">
                                                #else
                                                    <a href="$context/page/$l2.getEncodeName()/$l2.getNodeId()" title="$l2.getName()">
                                                #end                                    
                                                <span>
                                                    $l2.getName()
                                                </span>
                                                </a>
                                            </div>
                                        #end
                                    #end
                                </div>
                            </div>
                        #end
                    </div>
                    <!-- level 3 -->
                    <div class="wrap">
                        <a class="arrowPrev1 prev-page prev-scrollable disabled-scrollable"></a> 
                        <a class="arrowNewxt1 next-page next-scrollable disabled-scrollable"></a>
                        #if(!$hasChild)
                            <div class="menuButton" >
                                <a href="$context/page/$level2.get(0).getEncodeName()/$level3.get(0).getEncodeName()/$level3.get(0).getNodeId()" title="$level3.get(0).getName()">
                                <span>
                                    $level3.get(0).getName()
                                </span>
                                </a>                        
                            </div>
                        #end
                        #if(!$hasChild)
                            #if ($level3.size()>1)
                                <div id="slider3" class="scrollable">
                                    <div class="items">
                                        #set($firstItem = true)
                                        #foreach( $l3 in $level3)
                                            #if($firstItem)
                                               #set($firstItem=false)
                                            #else
                                                <div class="menuButton2" >
                                                    <a href="$context/page/$level3.get(0).getEncodeName()/$l3.getEncodeName()/$l3.getNodeId()" title="$l3.getName()">
                                                        <span>
                                                            $l3.getName()
                                                        </span>
                                                    </a>
                                                </div>
                                            #end
                                        #end
                                    </div>
                                </div>
                            #end
                        #else
                            <div id="slider3" class="scrollable">
                                <div class="items">
                                    #foreach( $l3 in $level3)
                                        <div class="menuButton2" >
                                            <a href="$context/page/$level3.get(0).getEncodeName()/$l3.getEncodeName()/$l3.getNodeId()" title="$l3.getName()">
                                                <span>
                                                    $l3.getName()
                                                </span>
                                            </a>
                                        </div>     
                                    #end
                                </div>
                            </div>
                        #end
                    </div>
                    <div id="buttonCloseOpenMenu" class="handle"></div>	
                 </div>
                <!--menu end-->
            </div>
            <div id="content" class="clearfix">
                <!--left start-->
                <div id="socialbar">
                    <div class="social_info"> 
                        #if (!$userAlreadyFollowingTopic)
                            <span id="timeJoinNode"></span>
                            <a href="#" id="join_unjoin_topic" class="join_topic"  #if($user.getUserRole().getUserRole()=="guest") onclick="login()" #else onclick='PAGE_EVENTS.joinNode("$node.getId()")'  #end>Join topic</a>
                        #else
                            <span id="timeJoinNode">Joined $timeJoinNode </span>
                            <a href="#" id="join_unjoin_topic" class="unjoinNode"  #if($user.getUserRole().getUserRole()=="guest") onclick="login()" #else onclick='PAGE_EVENTS.unjoinNode("$node.getId()")'  #end>(Leave)</a>
                        #end
                        #if ($totalUsersFollowingTopic==0)
                            #set ($members_style='style="display:none"')
                            #set ($user_following_topic_style='style="display:none"')
                        #else
                            #set ($no_following_topic_style='style="display:none"')
                        #end
                        <p class="member_data"><span id="members" $members_style><span id="members_count">$totalUsersFollowingTopic</span> members |</span>  <span id="totalDigest"></span> digests</p>
        
                        <div class="view_list">
                            <h5>
                                <span id="users_followig_topic" $user_following_topic_style></span>
                                <!--<span id="total_users_following_topic">$totalUsersFollowingTopic</span> now viewing <strong>$node.getTitle()</strong> </span>-->
                                <span id="no_following_topic" $no_following_topic_style>Be the first to join this topic</span>
                            </h5>
   
                            <ul id="topic_followers">
                                #set ($userInrandomNodeUsers=false)
                                #foreach($randomNodeUser in $randomNodeUsers)
                                    <li #if($randomNodeUser.getUserId()==$user.getUserId())
                                     #set ($userInrandomNodeUsers=true)
                                     class="user_itself_following" 
                                     #else 
                                     class="user_following"
                                     #end
                                     >
                                     <a href="$context/ProfileCreation?userId=$randomNodeUser.getUserId()">
                                    <img src="http://graph.facebook.com/$randomNodeUser.getUserFbId()/picture?type=small" alt=""/>
                                    </a>
                                    </li>
                                #end
                                #if (!$userInrandomNodeUsers)
                                     <li class="user_itself_following" style="display:none"><a href="$context/ProfileCreation?userId=$user.getUserId()"><img src="http://graph.facebook.com/$user.getFacebookCredentials().getProperty("fbId")/picture?type=small" alt=""/> </a></li>
                                #end
                            </ul>
                        </div>
                    </div>                    
                    <div id="collections">
                        <div class="adsenseLinkPage1" >
                            <script type="text/javascript"><!--
                            google_ad_client = "ca-pub-1595717843634953";
                            /* LinkPageLeftSkyscraper */
                            google_ad_slot = "9665823623";
                            google_ad_width = 300;
                            google_ad_height = 600;
                            //-->
                            </script>
                            <script type="text/javascript"
                            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                            </script>
                        </div>
                        <br></br>
                        <h2> RELATED COLLECTIONS </h2><br/>
                        #if($collectionsRelated.isEmpty())
                            <h4> Be the first to make an interest Collection </h4>
                        #end
                        #foreach($collection in $collectionsRelated)
                            <dl>
                              <dt> <a href="$context/collection/$EscapeSeo.escape($collection.getInterestCollectionName())/$collection.getInterestCollectionId()"> $collection.getInterestCollectionName() </a></dt>
                              <dd>
                                   <h5>Curator: <a href="$context/ProfileCreation?userId=$collection.getOwnerId()">$collection.getOwnerName()</a></h5>
                                   <p class="body_text"> #if ($collection.getInterestCollectionDescription()) $collection.getInterestCollectionDescription() #end</p>                  
                              </dd>
                            </dl>
                        #end
                  </div>
               </div>
                <!--left end-->
                <!--right start-->
                <div id="body_content" class="clearfix">
                  <div class="intro">
                    <h1> Know more about <strong><a target="_blank" href="https://www.google.com/search?q=$node.getTitle()" class="titleNodeLinkpage">$node.getTitle()</a></strong><img class="oneclicksearch" src="https://s3.amazonaws.com/resourcesweb/newdev/images/oneclicksearch.png" /></h1>
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style" style="margin-top:14px;">
                        <a class="addthis_button_preferred_1"></a>
                        <a class="addthis_button_preferred_2"></a>
                        <a class="addthis_button_preferred_3"></a>
                        <a class="addthis_button_preferred_4"></a>
                        <a class="addthis_button_compact"></a>
                        <a class="addthis_counter addthis_bubble_style"></a>
                    </div>
                    <div class="adsenseTopLinkPage" style="background-color:white;width:468px !important;height:15px;position:absolute;margin-top:-19px;margin-left: 188px;">
                        <script type="text/javascript"><!--
                        google_ad_client = "ca-pub-1595717843634953";
                        /* LinkPageRelatedTop */
                        google_ad_slot = "3619290029";
                        google_ad_width = 468;
                        google_ad_height = 15;
                        //-->
                        </script>
                        <script type="text/javascript"
                        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                        </script>
                    </div>
                    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                    <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-506b79ce40993638"></script>
                    <script type="text/javascript">
                        var addthis_config = addthis_config||{};
                        addthis_config.data_track_addressbar = false;
                    </script>
                    <!-- AddThis Button END -->
                    <p class="body_text">$nodeDesc</p>

                    <!-- commented to get rid of this button, probably we are gonna need later
                            <div class="view_by"> <span class="view_title">VIEW BY: </span>
                              <ul>
                                <li> <a href="#" class="now">Most Recent</a> </li>
                                <li class="line"></li>
                                <li> <a href="#">Most Active</a> </li>
                                <li class="line"></li>
                                <li> <a href="#">Top voted</a> </li>
                              </ul>
                            </div>
                    -->
                </div>
                <div id="digests" class="clearfixM fluid">                        
                </div>
            </div>
            <!--right end-->
        </div>
    </div>
    <!-- infinite scroll -->
    <div id="wrapper_infinite_scroll_loading">
        <div id="infinite_scroll_loading">
            <img  src="https://s3.amazonaws.com/resourcesweb/newdev/images/infinite.gif" />
        </div>
    </div>
    <input id="nodeId" type="hidden" value="$node.getId()"/>
    <input id="nodeTitle" type="hidden" value="$node.getTitle()"/>
    <input id="userName" type="hidden" value="$user.getFirstName()"/>
    #if($showLevel1)
        <!-- my parent is the level1 -->
        <input id="nodeParentName" type="hidden" value="$level1.get(0).getName()"/>
    #else
        <!-- my parent is the level2 -->
        <input id="nodeParentName" type="hidden" value="$level2.get(0).getName()"/>
    #end
  </body>
</html>
