.itemSearch{
	font-size: 10px;
	border-bottom: 2px solid #979797;
	width: 297px;
}

.search-nodeTitle{
	width:240px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.search-url{
	width:240px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.search-summary{
	width:240px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.iconSearch{
	float:left;
	padding: 5px;
}

#searchtxt-icon {
	float: left;
	height: 32px;
	width: 32px;
}

#searchtxt-description {
	margin: 0;
	padding: 0;
}

.ui-autocomplete {
	max-height: 330px;
	height: 330px;
	width: 297px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 25px;
}

.ui-autocomplete-category {
	font-weight: bold;
	padding: .2em .4em;
	margin: .8em 0 .2em;
	line-height: 1.5;
	float: right;
	width: 247px;
	background-color: #E9E9E9;
	color:#000000;
    -webkit-border-radius: 5px;
    border-radius: 10px;
    -moz-border-radius: 10px;
}

.ui-autocomplete-loading{
	background: white url('https://s3.amazonaws.com/resourcesweb/dev/site-resources/images/ui-anim_basic_16x16.gif') right center no-repeat; 
}