<blockquote>
<FORM name=import action=/servlet/Main method=post encType=multipart/form-data>
<INPUT type=hidden value=Server.ClassifyPost name=template>
<INPUT type=hidden value=true name=ShowScores>
<INPUT type=hidden value=true name=post>
<b><u>Classify a Document</u></b> 
<p> 
<table border=0 cellpadding=2 cellspacing=2>
<tr><td><b><font color=black face="Arial" size=-2>Select subject area</b>: </td><td><select name="subjectarea">
<option value=-1>-- Please select --
##SUBJECTAREA##
</select></font></td></tr>
<tr><td><b><font color=black face="Arial" size=-2>Classify Document:</B></font></td>
<td colspan=2><INPUT class=Wf id=attFbutton type=file name=import> </td></tr>
</table>
<P>
<input type="submit" name="SUBMIT" value="RUN CLASSIFICATION">
</form>
