<html>
<head>
<title> ##TITLE## </title>
<link rel="STYLESHEET" type="text/css" href="/servlet/images/espsstyle.css">
</head>
<body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" bgcolor="#dddddd">
<table cellpadding="0" cellspacing="0" border="0" width="765">
<tr>
<td valign="middle" align="center" width="95"><img src="/servlet/images/itslogo3.gif" alt="Intellisophic Logo" border="0"></td>
<td width="700">

<table cellpadding="0" cellspacing="0" border="0" width="700">
<tr><td height="1"> <img width=1 height=1 src="/servlet/images/blank.gif"> </td></tr>
<tr>
<td bgcolor="#C68B12" align="right" width="600">

<table cellspacing="0" cellpadding="0" border="0">
<tr><td><img src="/servlet/images/spacer_tan.gif" width=1 height=44 alt="" border="0"></td>
<td nowrap class="whitecopy">&nbsp;&nbsp;</td>
<td> &nbsp;
</td>
<td> &nbsp; </td>
</tr>
</table>

</td>
<td bgcolor="#333399" align="center" width="150">
<!-- img src="/servlet/images/button_findsol.gif" width=110 height=44 alt="" border="0" -->
</td>
</tr>
</table>
</td>
</tr>
<tr><td colspan="2" bgcolor="#000000"><img src="/servlet/images/spacer_black.gif" width=450 height=1 alt="" border="0"></td></tr>
</table>

<script>
function doit(ReloadIt) {
   if (ReloadIt == 1) {
	window.opener.location="/servlet/Main?template=Taxonomy.DisplayResults&NodeID=##NODEID##&GenreID=##GENREID##";
   }
   window.close();
}
</script>

<blockquote>
Your changes have been made successfully.   Please click the button below to close this window and reload your results.
<BR>
<center><form>
<input type="button" name="nothing" value="Close Window" onClick="javascript:doit(##RELOAD##);">
</form></center>
</blockquote>


