#CrumbNav .dropdown-menu li>a{
display:block;padding:3px 20px;clear:both;font-weight:normal;line-height:20px;color:#444;white-space:nowrap
}
#CrumbNav .dropdown-menu li>a:hover,#CrumbNav .dropdown-menu li>a:focus,.dropdown-submenu:hover>a,.dropdown-submenu:focus>a{
color:#fff;text-decoration:none;background-color:#a41c26;background-image:-moz-linear-gradient(top,#ad1d28,#971923);background-image:-webkit-gradient(linear,0 0,0 100%,from(#ad1d28),to(#971923));background-image:-webkit-linear-gradient(top,#ad1d28,#971923);background-image:-o-linear-gradient(top,#ad1d28,#971923);background-image:linear-gradient(to bottom,#ad1d28,#971923);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffad1d28',endColorstr='#ff971923',GradientType=0)
}
#CrumbNav .dropdown-menu .active>a,#CrumbNav .dropdown-menu .active>a:hover,#CrumbNav .dropdown-menu .active>a:focus{
color:#fff;text-decoration:none;background-color:#a41c26;background-image:-moz-linear-gradient(top,#ad1d28,#971923);background-image:-webkit-gradient(linear,0 0,0 100%,from(#ad1d28),to(#971923));background-image:-webkit-linear-gradient(top,#ad1d28,#971923);background-image:-o-linear-gradient(top,#ad1d28,#971923);background-image:linear-gradient(to bottom,#ad1d28,#971923);background-repeat:repeat-x;outline:0;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffad1d28',endColorstr='#ff971923',GradientType=0)
}
