body {
	padding: 0;
	margin:30px 0 60px 0;
}
form {margin: 0;}
select {width:auto;}

/*** BEGIN: Bootstrap ***/
.well {margin: 10px 0 20px 0;}
.well p,
.alert {margin: 10px 0;}
.form-search .input-prepend {width: 100%;}
.form-search .input-prepend input {width: 65%;}
.btn-group + .btn-group {margin-left: 0;}
button.close {
	color: inherit;
	opacity: 1.0;
	filter: alpha(opacity=100);
}
button.close:hover {
	color: inherit;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

/*** END: Bootstrap ***/

.clearBoth {clear: both;}
br.clearBoth {line-height:0px;}

.ng-view {position: relative;}

.pageMargins {
	margin-right: 30px;
	margin-left: 30px;
}
.if-wide-scrn {display: block;}
@media screen and (max-width: 640px) {
	.pageMargins {
		margin-right: 10px;
		margin-left: 10px;
	}
	.if-wide-scrn {display: none;}
	.hero-unit {padding:10px 30px;}
}

.img-topic-sm {display: none;}
.img-topic-lg {display: block;}
@media screen and (max-width: 400px) {
	.img-topic-sm {display: block;}
	.img-topic-lg {display: none;}
}

.btnPadR {margin-right: 10px;}

#logoBar {
	position: fixed;
	top:0;
	left: 0;
	padding: 1px 0;
	background:#000000;
	width: 100%;
	z-index: 1002;
}
#logoBar img[src='images/logo.png'] {
	margin:1px 10px 1px 30px;
	float: left;
}
#logoBar .btnPadR {margin-right: 5px;}
#btn_Menu {margin-right: 30px;}
@media screen and (max-width: 640px) {
	#btn_Menu {margin-right: 10px;}
	#logoBar img[src='images/logo.png'] {margin-left: 10px;}
}

.homeBtns {text-align: center;}
.homeBtns .btn {margin:0 5px 5px 0;}

#CrumbNav {padding: 2px 0 0 0;}
#CrumbNav .btn {margin:5px 10px;}
#CrumbNav span.bcNoLink {
	display: block;
	padding: 8px 12px;
	margin:2px 2px 2px 0;
	line-height:14px;
}
#CrumbNav .dropdown-menu {
	-moz-transition: left 0.25s ease-out;
	-webkit-transition: left 0.25s ease-out;
	-ms-transition: left 0.25s ease-out;
	-o-transition: left 0.25s ease-out;
	transition: left 0.25s ease-out;
}
#CrumbNav .dropdown-menu ul {
	list-style: none;
	padding: 0;
	margin: 2px 0 0;
}
#CrumbNav .dropdown-menu li>a {
	position: relative;
	padding-left: 1.5em;
}
#CrumbNav .dropdown-menu div.ddMultiCol {
	float:left;
	width:260px;
}
#CrumbNav .dropdown-menu div.ddMultiCol li>a {white-space: normal;}

#CrumbNav .dropdown-menu {width:1040px;}
@media screen and (max-width: 1024px) {
	#CrumbNav .dropdown-menu {width:780px;}
}
@media screen and (max-width: 800px) {
	#CrumbNav .dropdown-menu {width:520px;}
}
@media screen and (max-width: 560px) {
	#CrumbNav .dropdown-menu {width:auto;}
	#CrumbNav .dropdown-menu div.ddMultiCol {
		float:none;
		width:auto;
	}
	#CrumbNav .dropdown-menu div.ddMultiCol li>a {white-space: nowrap;}
}

#CrumbNav .dropdown-menu li .badge {
	position: absolute;
	top:0.33em;
	left: 1px;
	padding: 0.18em 0.28em;
	font-size: 0.8em;
	display:none;
}
#CrumbNav .dropdown-menu li.topicViewed .badge {display:block;}

.docLinkPhoto {
	clear: right;
	float:right;
	margin:0 0 5px 10px;
}
@media screen and (max-width: 500px) {
	.docLinkPhoto {
		width: 50%;
		min-width: 110px;
		margin-left: 5px;
	}
}

#MorePhotos {display:none;}
#MorePhotos.showIt {display: block;}

.topicTiles {
	clear: both;
	position:relative;
}
.topicTiles .well {
	float:left; 
	position:relative;
	margin:10px 15px 10px 0;
	padding:12px;
	text-align: center;
	font-size: 1.5em;
	width: 1%;
	display: table;
}
.topicTiles .well a {overflow: hidden;}
.topicTiles .well img {
	margin-bottom: 8px;
	max-width:none;
}

.topicDocuments,
.searchResults {
	clear: both;
	position:relative;
}
.topicDocuments .well,
.searchResults .well {
	position: relative;
	margin: 10px 0;
	padding: 15px;
}
.searchResults .well img {
	float: right;
	margin: 0px 0px 0px 8px;
	width: 120px;
	height: 120px;
}
.searchResults .well .badge {
	float: left;
	padding: 0.18em 0.28em;
	font-size: 0.8em;
	margin: 0.33em 10px 0 0;
	display:none;
}
.searchResults .well.topicViewed .badge {display: block;}

.searchClrPerm {margin-left: 80px;}

.contentThumb {margin: 0 0 10px 10px;}

#footer {
	clear: both;
	text-align: center;
	font-size:0.85em;
}

#aboutInfo {
	margin-right: 10px;
	background: url(http://semanticmarketingsystems.com/background.jpg);
}
#aboutInfo .modal-header h4,
#aboutInfo .modal-header {
	color: white;
	text-shadow: 2px 2px 2px #021124;
}
#aboutInfo .modal-body div {
	padding: 10px;
	box-shadow: 2px 3px 3px #021124;
	margin-bottom:12px;
}
#aboutInfo .modal-header .close {text-shadow: 2px 2px 2px #021124;}

#Loading {
	position: fixed;
	bottom:40px;
	left:30px;
	font-size: 4em;
	color: orange;
	text-shadow: 2px 2px 2px #021124;
}

#adBottom {
	position: fixed;
	bottom:0;
	left: 0;
	width:100%;
	text-align: center;
}

#adSideR {
	position:fixed;
	right:10px;
}

#btns_Top_End {
	position: fixed;
	bottom:10px;
	right: 10px;
	z-index: 1001;
	visibility:hidden;
	text-align: center;
	opacity:0;
	-moz-transition: visibility 0.33s linear 0.33s, opacity 0.33s linear;
	-webkit-transition: visibility 0.33s linear 0.33s, opacity 0.33s linear;
	-ms-transition: visibility 0.33s linear 0.33s, opacity 0.33s linear;
	-o-transition: visibility 0.33s linear 0.33s, opacity 0.33s linear;
	transition: visibility 0.33s linear 0.33s, opacity 0.33s linear;
}
#btns_Top_End.showIt {
	visibility:visible;
	opacity:0.9;
}
#btns_Top_End .btn {
	font-size: 1.65em;
	padding:10px 13px;
}
#btns_Top_End .upDown {
	background-color: #2e8b57;
	background-image: none;
	margin:5px 3px;
	padding:10px;
}
