<P>
<form action="/servlet/Main" method="GET">
<input type="hidden" name="template" value="ConceptAlerts.Report">
<input type="hidden" name="did" value="##DOCUMENTID##">
<blockquote>
<table width=660 cellpadding=2 cellspacing=0 border=0 bgcolor=333399>
<tr><td nowrap><FONT face="Arial, Helvetica, sans-serif" color=white>&nbsp;<b>Document Matches</b></font>
</td>
<td align=right nowrap>
<FONT face="Arial, Helvetica, sans-serif" color=white>Show: 
<select name="date" onchange="this.form.submit();">
<option value="-1" ##ALL##>All Results
<option value="7" ##RESULTS7##>Last Week
<option value="14" ##RESULTS14##>Last Two Weeks
<option value="31" ##RESULTS31##>Last Month
</select> &nbsp;
1 - ##NUMRESULTS## 
&nbsp; </font></td></tr>
</table>
</form>
<BR>
<table width="660" border="0" cellspacing="0" cellpadding="0">
