<tr><td valign=middle>##GROUPNAME##
<SCRIPT>
function Save##XGROUPID##() {
    var AccessLevel = -1;
     if (fm.Access##XGROUPID##[1].checked) { AccessLevel = 0; }
     if (fm.Access##XGROUPID##[2].checked) { AccessLevel = 1; }

window.location="/servlet/Main?template=Taxonomy.EditSecurity&CorpusID=##CORPUSID##&Access="+AccessLevel+"&GroupID=##GROUPID##";
}
</SCRIPT>
</td>
      <td align=center valign=top><nobr><input type="radio" name="Access##XGROUPID##" value="None" 
##None##></nobr></td>
      <td align=center valign=top><nobr><input type="radio" name="Access##XGROUPID##" value="Read" 
##Read##></nobr></td>
      <td align=center valign=top><nobr><input type="radio" name="Access##XGROUPID##" value="Write" 
##Write##></nobr></td>
      <td align=center valign=top><nobr><a href="javascript:Save##XGROUPID##()"><img src="/images/save.gif" alt="Save Group" border=0></a></nobr></td>
</tr>
